.pb-framer{
    text-align: center;
    position: relative;
    height: 25px;
    color: #e67e22;
    .progressbar{
        overflow: hidden;
        background: #3498db;
        position: absolute;
        height: 25px;
        z-index: -1;
    }
    .terminated.progressbar{
        background-color: red;
    }
    .clr-white{
        color: white;
    }
}

.input-style{
    width: 15vw;
    height: 3vw ;
    border-radius: 15px;
}

#userIdFirstWay.input-style.ng-valid.ng-touched.ng-dirty{
    padding: 6px 10px;
    // width: 100%;
    border-radius: 5px;
}

#userIdFirstWay.input-style.ng-pristine.ng-valid.ng-touched{
    padding: 6px 10px;
    // width: 100%;
    border-radius: 5px;
}

#userIdFirstWay.input-style.ng-valid.ng-touched.ng-dirty[_ngcontent-c4]{
    padding: 6px 10px;
    // width: 100%;
    border-radius: 5px;
}

label{
    color: white;
}

.ng-pristine{
    color: white !important;
}

.rounded-btn {
    -webkit-border-radius: 70px;
    border-radius: 70px;
    color: white;
    font-size: 18px;
    line-height: 40px;
    padding: 0 40px;
    background: #56a4ff;
margin-left: 40%;
margin-right: 50%;
}
.rounded-btn:hover {
    background: darken(#56A4FF, 15%);
    // border: 2px solid blue;
    outline: none;
}

.auto-name{
    width: 152% !important;
}

.ng-pristine{
    color: black !important;
    width: 100%;
    border-radius: 5px;
    padding: 6px 10px;
}

@media screen and (max-width: 600px) {
    .ng-pristine{
        color: black !important;
        // width: 100%;
        // width: 40vw;
        border-radius: 5px;
        padding: 15px 20px;
    }

    #userIdFirstWay.input-style.ng-valid.ng-touched.ng-dirty{
        padding: 15px 20px;
        // width: 100%;
        border-radius: 5px;
    }
    
    #userIdFirstWay.input-style.ng-pristine.ng-valid.ng-touched{
        padding: 15px 20px;
        // width: 100%;
        border-radius: 5px;
    }
    
    #userIdFirstWay.input-style.ng-valid.ng-touched.ng-dirty[_ngcontent-c4]{
        padding: 15px 20px;
        // width: 100%;
        border-radius: 5px;
    }

    .input-style{
        padding: 15px 20px;
        width: 100%;
        border-radius: 5px;
    }
}

input{
    width: 40vw;
    height: 3vw;
    border-radius: 5px;
}

.input{
    width: 40vw;
    height: 3vw;
    border-radius: 5px;
}

.input-style[_ngcontent-c4] {
    width: 40vw;
    height: 3vw;
    border-radius: 5px;
}