.undisplayed {
  display: none;
}

.image-autoform {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.date-picker-wrapper {
  position: relative;

  .date-picker-overlay {
    position: absolute;
    z-index: 99;
    right: 0;
    .dpicker {
      background: white;
      overflow: hidden;
      border: 1px solid #dfdfdf;
      position: absolute;

      .btn.ok {
        // float: right;
        clear: both;
        background-color: #3498db;
        color: white;
        margin: 0px 5px 10px;
        border-color: transparent;
      }
      .btn.clear {
        // float: right;
        clear: both;
        background-color: rgb(172, 10, 10);
        color: white;
        margin: 0px 10px 10px;
        border-color: transparent;
      }
      ngb-datepicker {
        float: left;
        clear: both;
        margin: 10px;
        right: 0%;
      }
    }
  }
}

.layout-card {
  // background-color: #2E3545;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top:30px;
}

select {
  border: 0px solid #ddd;
  background: transparent;
  outline: none;
}

.btn {
  border: 1px solid black;
  display: inline-block;
  margin-right: 15px;
  margin-top: 5px;
  margin-left: 0px;
  background-color: #2381fb;
  transition: ease 0.3s all 0s;
  color: white !important;
  .fa {
    margin-right: 5px;
    // //color: white;
  }
}

.btn-approve {
  background-color: #28a745 !important;
}
.btn-remove {
  background-color: #e74c3c;
  border-color: #db3700;
}
.btn-remove:hover{
  background-color: #db3700 !important;
  border-color: #db3700 !important;
}

.btn:hover {
  background-color: rgb(61, 145, 255);
  color: white !important;
}
// .btn.right{
//   // //color: white;
// }
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
iframe {
  visibility: hidden;
  height: 0px;
  width: 0px;
  position: absolute;
  border-width: 0px;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range,
.custom-day:hover {
  background-color: rgb(2, 117, 216);
  border-radius: 30px;
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

li.page-item {
  font-size: 18px;
  color: #869abb;
  background-color: white;
}

.end {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.start {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination-head {
  width: -webkit-fill-available;
  .pagination {
    // margin-right: 20px;
    border-radius: 10px;
    background-color: white;
    float: right;
  }

  .show-entries {
    color: #869abb;

    .order-btn {
      margin-left: 15px;
      background-color: #394458;
      color: #869abb;
    }
  }
}

a.current-page {
  font-weight: bold;
  border-radius: 10px;
  color: white !important;
  background-color: #ccc !important;
  margin: 5px 5px;
}
a.current-page:hover {
  color: #869abb !important;
}
a.dotter {
  cursor: unset;
}
a.dotter:hover {
  background-color: unset;
}

a.page-link {
  border-collapse: collapse;
  border: none;
  padding: 8px 12px;
  font-size: 12px;
  color: black;
  background-color: white;
  margin-top: 5px;
}

a.page-link:hover {
  color: #869abb;
}

a.page-link.next {
  // border-left: 1px solid #869abb;
  color: #869abb;
  // border-right: 1px solid #869abb;
  font-weight: bold;
  font-size: 12px;
}

a {
  cursor: pointer;
}

.fbt {
  .form-control {
    font-size: 12px;
    border-radius: 15px;
  }
  .header-custom {
    flex-direction: row;
    display: flex;
    width: 100%;

    .label-custom {
      height: 37.6px;
      padding: 6px;
      display: flex;
      font-size: 25px;
      text-align: left;
      margin-bottom: 1cm;
      // color: #7e7e7e;
      width: 100%;
      color: white;
    }
    @media (max-width: 500px) {
      .label-custom {
        font-size: 22px;
      }
    }

    .btn:hover {
      border-color: #3498db;
    }

    .btn.toggle-true {
      color: #3498db;
      border-color: #3498db;
    }

    .btn.right {
      float: right;
      margin-right: 0px;
      margin-left: 15px;
      border-radius: 8px;
    }
    @media (max-width: 500px) {
      .btn.right {
        float: left;
        margin-right: 0px;
        margin-left: 0px;
      }
    }
    .head {
      cursor: pointer;
    }

    .cb-coloumn {
      padding: 5px 5px;
      // width: 240px;
      float: left;
      height: 29px;
      margin-right: 15px;
      border-radius: 20px;
    }
  }
  .dropdown-header {
    justify-content: flex-end;
    align-items: flex-end;
    // margin-left: 50%;
    padding: 0px;
    width: 100%;
    margin-bottom: 10px;
  }

  ::ng-deep .mat-checkbox {
    .cdk-visually-hidden {
      visibility: hidden;
    }
    .mat-checkbox-frame {
      border-color: #ccc;
      border-width: 1px;
    }
    .mat-checkbox-checkmark-path {
      stroke: black !important;
    }
  }

  .custom-table-border {
    border-bottom: none !important;
  }

  ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: #56a4ff !important;
  }

  ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
  .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #56a4ff;
  }

  .card-body {
    margin: 0;
    padding: 0px;
    min-height: 450px;

    // border-radius: 20px;
    thead th {
      // background-color:#3A4458;
      color: #555;
      text-align: center;
      vertical-align: top !important;
      background-color: #f2f2f2;
      opacity: 1;
      padding: 10px;
      text-transform: capitalize;
      .search-string {
        position: relative;
        .search-field {
          position: absolute;
          right: 7px;
          top: 7px;
          opacity: 0.3;
        }
      }
    }
    tbody tr:hover td {
      background: #3b9fe2;
      //color: white;
      cursor: pointer;
    }
    tbody tr.image:hover td {
      background: transparent;
      cursor: default;
      color: unset;
    }
    tbody tr td {
      font-size: 12px;
      vertical-align: top !important;
      text-align: center;
      padding: 12px;
      // background-color:#2F3545;
      // color: #899BC1;
    }
    tbody {
      .pending {
        border-radius: 30px;
        background-color: #ffe6d5;
        color: #ee680c;
        width: 80px;
        height: 35px;
        font-size: 12px;
        border: none;
    }

    .success {
        background-color: #daf9f1;
        color: #2ea56e;
        border-radius: 30px;
        width: 80px;
        height: 35px;
        font-size: 12px;
        border: none;
    }

    .hold {
        background-color: #f2e8ff;
        color: #8b5acf;
        border-radius: 30px;
        width: 80px;
        height: 35px;
        font-size: 12px;
        border: none;
    }

    .refunded {
        border-radius: 30px;
        background-color: #e4ecff;
        color: #4271df;
        width: 80px;
        height: 35px;
        font-size: 12px;
        border: none;
    }

    .rejected {
        border-radius: 30px;
        background-color: #fcecf0;
        color: #ec3b60;
        width: 80px;
        height: 35px;
        font-size: 12px;
        border: none;
    }
      .img_dt_prp {
        width: 120px;
        float: left;
        padding: 5px;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        .image_wrapper {
          height: 120px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 5px;
          overflow: hidden;
        }
        img {
          max-width: 100%;
        }
      }
    }
  }

  .sk-fading-circle {
    margin: 10px auto;
    width: 40px;
    height: 40px;
    position: relative;
  }

  .sk-fading-circle .sk-circle {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }

  .sk-fading-circle .sk-circle:before {
    content: "";
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
    animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
  }
  .sk-fading-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  .sk-fading-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
  }
  .sk-fading-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .sk-fading-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
  }
  .sk-fading-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg);
  }
  .sk-fading-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .sk-fading-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg);
  }
  .sk-fading-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg);
  }
  .sk-fading-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  .sk-fading-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg);
  }
  .sk-fading-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg);
  }
  .sk-fading-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
  .sk-fading-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
  }
  .sk-fading-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  .sk-fading-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
  .sk-fading-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
  }
  .sk-fading-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
  }
  .sk-fading-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
  }
  .sk-fading-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
  }
  .sk-fading-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
  }
  .sk-fading-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
  }
  .sk-fading-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
  }

  @-webkit-keyframes sk-circleFadeDelay {
    0%,
    39%,
    100% {
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
  }

  @keyframes sk-circleFadeDelay {
    0%,
    39%,
    100% {
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
  }
}

.col-xl-12 {
  padding-left: 0px;
  padding-right: 0px;
}

em {
  font-style: normal;
}


@media print {
  .print_container{
    width: 21cm;
    height: 29.7cm;
    margin: 30mm 45mm 30mm 45mm; 
    background-color: white;
    /* change the margins as you want them to be. */
} 

  #header {
    display: none;
  }

  h5 {
    display: none;
  }

  app-page-header {
    display: none;
  }

  button {
    display: none;
  }

  * {
    font-size: 13px;
  }

  div.table-order {
    transform: scale(0.7);
    padding-bottom: 80px;
    width: 20cm;
    height: 9cm;
  }

  div._container {
    padding-top: 0px;
    page-break-after: always;
  }

  .page-number {
    display: none;
  }
}