  <div [@routerTransition]>
           
            <!-- <app-page-header [heading]="'Product'" [icon]="'fa-table'"></app-page-header>
            <h3 style="color: white">File Upload</h3>
            <div class="col-md-3 col-sm-3">
                  <div class="pb-framer">
                              <div class="progressbar {{cancel?'terminated':''}}" [ngStyle]="{'width.%': progressBar}">
                  
                              </div>
                              <span *ngIf="progressBar<58&&progressBar>0"> {{cancel?'terminated':progressBar+'%'}} </span>
                              <span class="clr-white" *ngIf="progressBar>58"> {{cancel?'terminated':progressBar+'%'}} </span>
                        
                        </div>
            
            </div>
            <div class="col-md-3 col-sm-3">
                  <div *ngIf="errorFile" class="error_label"><mark>Error: {{errorFile}}</mark></div>                       
            </div>
            <input class="custom-content" title=" " type="file" style="color: white;" (change)="onFileSelected($event)" accept=".csv,.xlsx,.xls" multiple/>
            <button class="btn rounded-btn" (click)="onUpload()" >Upload</button>
            <button class="btn rounded-btn-danger" (click)="cancelThis()" >Cancel</button>
            <br><br> -->
            <!-- this section belongs to product item list -->
            <div *ngIf="Products && prodDetail==false &&!errorMessage && mci_project == false">
                  <app-form-builder-table
                  [table_data]  = "Products" 
                  [searchCallback]= "[service, 'searchProductsReportLint',this]" 
                  [tableFormat]="tableFormat"
                  [total_page]="totalPage"
                  >
                      
                  </app-form-builder-table>
            </div>
            <div *ngIf="Products && prodDetail==false && !errorMessage && mci_project == true">
                  <app-form-builder-table
                  [table_data]  = "Products" 
                  [searchCallback]= "[service, 'searchProductsReportLint',this]" 
                  [tableFormat]="tableFormat2"
                  [total_page]="totalPage"
                  >
                      
                  </app-form-builder-table>
            </div>
            <div *ngIf="errorMessage" class="error-message">
                  <div class="text-message">
                        <i class="fas fa-ban"></i>
                        {{errorMessage}}
                  </div>
            </div>
            <!-- <div *ngIf="prodDetail">
                  <app-product-detail [back]="[this,backToHere]" [detail]="prodDetail"></app-product-detail>
            </div> -->

           
          </div>
          
