$size: 10vw;

agm-map {
  height: 300px;
}
.image-upload-group {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 25px;
  .img-upload {
    width: calc((100vw - 300px) / 2);
    position: relative;
    height: calc((100vw - 300px) / 2);
    > .card {
      height: 100%;
      display: block;
      > .card-title{
        h2{
          font-size: 24px;
        }
      }
      > .card-content {
        height: calc(100% - 82px);
        position: relative;

        .image {
          display: block;
          float: left;
          height: calc(100% - 20px);
          width: 100%;
          .custom {
            height: calc(100% - 20px);
            margin: 20px;
            background-color: rgba(0, 0, 0, 0.03);
            border: 2px solid #ebebeb;
            border-radius: 10px;
            justify-content: center;
            align-items: center;
            display: flex;
            flex-direction: column;
            padding: 40px;
            .set-opacity {
              opacity: 0.1;
              height: 60px;
              width: auto;
            }
          }
        }
      }
      > .form-group.uploaded{
        position: relative;
        margin-bottom: 0px;
        height: calc(100% - 82px);
        .uploaded-image{
          height: 100%;
          padding: 20px;
          .img{
            height: 100%;
            
          }
          .editor-tool{
            height: 100%;
          }
        }
      }
    }
  }
  .img-upload:last-child {
    margin-left: 16px;
  }
}

#button-verify{
  // background-color:#00bfff;
  width: 100%;
  border-radius: 5px;
  margin-top: 10px;
  border: none;
  color: white;
  height: 50px;
  font-size:20px;
}

.check-button{
  margin-left: 5px;
  border-radius: 5px;
  text-decoration: none;

}
.display-none{
  display: none;
}

.modal-header{
  border:none;
}

.check-button true{
  background-color: lightblue;
  color:white;
}

#line{
  border-bottom: 2px solid black;
  width:1175px;
}

.shield{
  width:7%;
  margin-top: 20px;
  margin-left:10px;
}

.security-content{
  margin-top:20px;
  margin-left:20px;
}

.check-button false{
  background-color: lightblue;
  color:white;
}

.form-body {
  .or-group {
    margin-left: 0px;
    margin-right: 0px;
    .col-md-6 {
      padding-left: 0px;
    }
    .col-md-6:last-child{
      padding-right: 0px;
    }
  }
}
.blue-fill {
  color: white !important;
  border: 1px solid #0069d9;
  background: #2480fb;
}
.blue-fill:hover {
  background-color: #0069d9;
}
.courier-service {
  .mat-checkbox:not(:first-child) {
    margin-left: 15px;
  }
}
.btn.save {
  margin: 15px 15px 0px 0px;
}
.form {
  .title-diff {
    margin-top: 25px;
    margin-bottom: 15px;
    border-bottom: 1px solid #333;
  }

  padding: 25px;
  overflow: hidden;
  // top: 5vw;
  position: relative;

  .browse-files {
    .fileupload {
      margin-top: 25px;
    }
  }
  .error-message{
    float: left;
  }

  .card.error{
   text-align: center;
    font-size: 20px;
    background-color: red;
    color: white;
    width: 50%;
    margin-left: 24%;
    margin-top: 20px;

  }

  .head-form {
    overflow: hidden;
    height: 11vw;

    .photo-profile {
      display: block;
      width: $size;
      height: $size;
      float: left;
    }

    .detail {
      display: flex;
      flex-direction: column;
      float: left;
      justify-content: center;
      align-items: flex-start;
      font-size: 15px;
      height: 65px;
      line-height: 17px;
      padding: 5px;
      margin-top: 3vw;
      margin-left: 2vw;

      .name {
        font-size: 27px;
        font-weight: bold;
      }
    }
  }

  .editor-group {
    margin-top: 25px;
  }

  .form-group {
    position: relative;

    label {
      text-transform: capitalize;
    }

    .form-control {
      font-size: 12px;
      background-color: transparent;
      font-weight: bold;
    }

    .form-control.true {
      background-color: white;
      font-weight: normal;
    }

    .form-control ~ .iconic {
      position: absolute;
      right: 10px;
      top: 37px;
      transform: scale(0.7);
    }

    .description {
      height: 110px;
    }
  }

  .vl {
    border-left: 1px solid #eaeaea;
  }

  img.resize {
    max-width: 100%;
    max-height: 100%;
  }
}

.card-title {
  margin: 20px;
  border-bottom: 1px solid #333;
  border-left: 5px solid #8fd6ff;
  h2 {
    margin: 0px 0px 5px 5px;
    font-size: 23px;
    padding: 5px;
  }
}

.check {
  font-size: 12px;
  padding-left: 12px;
}

.uploaded-image {
  margin: 0px auto;
  width: auto;
  padding: 50px;
  height: auto;
  cursor: pointer;

  .text-fileupload {
    display: block;
    text-align: center;
    cursor: pointer;
    color: #2480fb;
    margin-top: 10px;
  }

  .img {
    width: 100%;
    background-size: cover;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;

    .editor-tool {
      background: rgba(0, 0, 0, 0.2);
      width: 100%;
      height: 100%;
      position: relative;
      opacity: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .img:hover .editor-tool {
    opacity: 0.9;
  }
}

input[type="file"] {
  display: none;
}

.photo {
    position: absolute;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


.image-part{
  text-align: center;
}

.background {
    position: relative;
    top: 0px;
    left: 0px;
}

.content{
  padding-top:10px;
  font-size:18px;
  line-height: 18px;
}


.modal.false {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.modal.true {
  display: block;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0px;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: white;
  opacity: 1;
  /* Fallback color */
  // background-color: white;
  /* Black w/ opacity */
}

.modal-content {
  margin-left: 256px;
  position: relative;
  background-color: #fefefe;
  margin: auto;
  margin-top:200px;
  padding: 0;
  // border: 1px solid #888;
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
  text-align: center;
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}



@media (max-width: 850px) {
  .image-upload-group {
    .img-upload {
      > .card {
        > .card-content {
          .image {
            .custom {
              img.set-opacity {
                height: 25px;
              }
              .browse-files{
                .pb-framer{
                  .common-button{
                    margin-top: 8px;
                  }
                }
              }
            }
          }
        }
       
      }
    }
  }
}
