<input #inputFile2 type="file" style="display:none" (change)="onFileSelected($event, 'image_owner_url')"
    accept="image/*">
<input #inputFile1 type="file" style="display:none" (change)="onFileSelected($event, 'background_image')"
    accept="image/*">

<div class="form">
    <div class="error" *ngIf="errorLabel">{{errorLabel}}</div>
    <div class="row">
        <div class="col-md-9 head-form">
            <div class="photo-profile">
                <app-photo-profile-component [bgUrl]="form.image_owner_url"></app-photo-profile-component>
            </div>
            <div class="detail">
                <label class="name">{{form.full_name}}</label>
                <label class="email">{{form.email}}</label>
                <label class="dob">{{form.dob}}</label>
            </div>
            <div class="detail">
                <label class="membership">{{form.membership}}</label>
            </div>
        </div>
    </div>
    <div class="nav toolbar">
        <div style="display:flex">
        </div>
    </div>
    <div class="form-body">
        <mat-tab-group>
            <mat-tab label="Display">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card-content">
                            <div class="card" style="margin-top:20px;">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="image-part">
                                            <div class="background">
                                                <img style="background-size:cover; width:100%"
                                                    src="{{form.background_image}}">
                                                <div class="photo">
                                                    <img style="width:240px;border-radius:50%;"
                                                        src="{{form.image_owner_url}}">
                                                </div>
                                            </div>
                                            <span
                                                style="font-weight: bold; font-size:29px;">{{form.merchant_name}}</span>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="card" style="margin-top:10px;">
                                <div class="card-content">
                                    <div class="col-md-12">
                                        <label style="font-size:18px;color:#545454;">Store Info
                                            (Description)</label><br />
                                        <span
                                            style="font-size:16px;color:#777777;">{{form.description}}</span><br /><br />
                                        <label style="font-size:18px;color:#545454;">Store Slogan </label><br />
                                        <span style="font-size:16px;color:#777777;">{{form.slogan}}</span>


                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                    <div class="col-md-4" style="margin-top:20px;">
                        <div class="card mb-3" style="padding:10px;">
                            <span style="font-size:29px;color:#545454;"> Store Information </span>
                            <div class="content">
                                <label>Store Name</label><br />
                                <span style="color:#777777">{{form.merchant_name}}</span>
                                <br />
                                <br />
                                <label>Store Address</label><br />
                                <span style="color:#777777">{{form.maddress}}</span>
                                <br />
                                <br />
                                <label>Province</label><br />
                                <span style="color:#777777">{{form.mprovince}}</span>
                                <br />
                                <br />
                                <label>City</label><br />
                                <span style="color:#777777">{{form.mcity}}</span>
                                <br />
                                <br />
                                <label>Districts/Kecamatan</label><br />
                                <span style="color:#777777">{{form.msubdistrict}}</span>
                                <br />
                                <br />
                                <label>Kelurahan/Desa</label><br />
                                <span style="color:#777777">{{form.mvillage}}</span>
                                <br />
                                <br />
                                <label>Postal Code</label><br />
                                <span style="color:#777777">{{form.mpostal_code}}</span>
                                <br />
                                <br />
                                <label>Another Contact Person</label><br />
                                <span style="color:#777777">{{form.contact_person}}</span>
                                <br />
                                <br />
                                <label>Courier Service</label><br />
                                <span *ngFor="let cr of couriers.result" style="color:#777777"><span *ngIf="cr.value">{{cr.courier}} </span></span>
                                <br />
                                <br />
                            </div>
                        </div>
                    </div>

                    <!-- <iframe [src]="https://www.youtube.com/">
                    <p>Testtt</p>
                    </iframe> -->

                </div>
            </mat-tab>
            <mat-tab label="Store Information">
                <div class="col-md-12">

                    <div class="card error" *ngIf="errorMessage">
                        <span>{{errorMessage}}</span>
                    </div>

                    <h3 class="title-diff">Store Detail</h3>


                    <div class="form-group">
                        <label>Merchant Name</label>
                        <input class="form-control" (focus)="editableForm('merchant_name',true)"
                            (blur)="editableForm('merchant_name', false)" type="text" name="store name"
                            (input)="nameInput($event)" [(ngModel)]="form.merchant_name" />
                        <div *ngIf="!formEditable.merchant_name" class="iconic"
                            (click)="editableForm('merchant_name', true)">
                            <i class="fa fa-pen"></i>
                        </div>
                    </div>


                    <div class="form-group" *ngIf="this.form.merchant_username != 'undefined'">
                        <label>Merchant Username</label>
                        <!-- <span class="check">
                            <mat-checkbox [(ngModel)]="autoFill" value="autoFill">
                                Auto Fill based on Merchant Name
                            </mat-checkbox>
                        </span> -->
                        <input class="form-control" (focus)="editableForm('merchant_username',true)"
                            (blur)="editableForm('merchant_username', false)" type="text" name="store name"
                            [(ngModel)]="form.merchant_username" [disabled]="true" />
                        <div *ngIf="!formEditable.merchant_username" class="iconic"
                            (click)="editableForm('merchant_username', true)">
                            <i class="fa fa-pen"></i>
                        </div>
                    </div>

                    <!-- <div class="form-group">
                                <label>Merchant Group</label>
                                <select class="form-control {{formEditable.merchant_group}}"
                                    (focus)="editableForm('merchant_group',true)" (blur)="editableForm('merchant_group', false)"
                                    type="text" name="store name" [(ngModel)]="form.merchant_group">
                                    <option *ngFor="let mg of merchant_group" [ngValue]="mg.value">{{mg.label}}</option>
                                </select>
                                <div *ngIf="!formEditable.merchant_group" class="iconic"
                                    (click)="editableForm('merchant_group', true)">
                                    <i class="fa fa-pen"></i>
                                </div>
                            </div> -->


                    <!-- <div class="form-group">
                        <label>Email</label>
                        <input class="form-control {{formEditable.email}}" (focus)="editableForm('email',true)"
                            (blur)="editableForm('email', false)" type="text" name="store name"
                            [(ngModel)]="form.email" />
                        <div *ngIf="!formEditable.email" class="iconic" (click)="editableForm('emailx', true)">
                            <i class="fa fa-pen"></i>
                        </div>
                    </div> -->

                    <div class="form-group">
                        <label>Email Merchant</label>
                        <input class="form-control" (focus)="editableForm('email_address', true)"
                            (blur)="editableForm('email_address', false)" type="text" name="email"
                            [(ngModel)]="form.email_address" />
                        <div *ngIf="!formEditable.email_address" class="iconic"
                            (click)="editableForm('email_address', true)"><i class="fa fa-pen"></i></div>
                    </div>

                    <div class="form-group">
                        <label>Store Description</label>
                        <!-- <textarea class="form-control {{formEditable.description}}"
                            (focus)="editableForm('description', true)" (blur)="editableForm('description', false)"
                            type="text" name="description" [(ngModel)]="form.description"></textarea> -->
                        <ckeditor [editor]="Editor" [config]="config" (focus)="editableForm('description', true)"
                            (blur)="editableForm('description', false)" type="text" name="description"
                            [(ngModel)]="form.description"></ckeditor>

                    </div>

                    <div class="form-group">
                        <label>Store Address</label>
                        <input class="form-control" (focus)="editableForm('maddress',true)"
                            (blur)="editableForm('maddress',false)" type="text" name="maddress"
                            [(ngModel)]="form.maddress" />
                        <div *ngIf="!formEditable.maddress" class="iconic" (click)="editableForm('maddress', true)">
                            <i class="fa fa-pen"></i>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group">
                                <label>Province</label>
                                <input type="text" class="form-control" (focus)="editableForm('mprovince', true)"
                                    (blur)="editableForm('mprovince', false)" name="state" [(ngModel)]="form.mprovince"
                                    (keyup)="getProvinceList($event)" list="dynmicProvinceList"
                                    (change)="onProvinceChange()" autocomplete="off" />
                                <datalist id="dynmicProvinceList" name="province" ngDefaultControl>
                                    <option *ngFor="let item of provinceList" [ngValue]="item.province">
                                        {{item.province}}
                                    </option>
                                </datalist>
                                <div *ngIf="!formEditable.mprovince" class="iconic"
                                    (click)="editableForm('mprovince', true)">
                                    <i class="fa fa-pen"></i>
                                </div>
                            </div>


                            <!-- <div class="form-group">
                                <label> Country </label>
                                <select class="form-control" (focus)="editableForm('mcountry', true)"
                                    (blur)="editableForm('mcountry', false)" [(ngModel)]="form.mcountry">
                                    <option *ngFor="let f of countryList" [ngValue]="f.value">{{f.name}}</option>

                                </select>


                            </div> -->

                            <!-- <div class="form-group">
                                <label> District </label>
                                <input type="text" class="form-control {{formEditable.mdistrict}}"
                                    (focus)="editableForm('mdistrict', true)" (blur)="editableForm('mdistrict', false)"
                                    name="country" [(ngModel)]="form.mdistrict" />
                                <div *ngIf="!formEditable.mdistrict" class="iconic"
                                    (click)="editableForm('mdistrict', true)">
                                    <i class="fa fa-pen"></i>
                                </div>
                            </div> -->

                            <div class="form-group">
                                <label> Sub District </label>
                                <input type="text" class="form-control" (focus)="editableForm('msubdistrict', true)"
                                    (blur)="editableForm('msubdistrict', false)" name="country"
                                    [(ngModel)]="form.msubdistrict" list="dynmicSubDistList"
                                    (keyup)="getSubDistList($event)" autocomplete="off"/>
                                <datalist id="dynmicSubDistList" name="sub_district" ngDefaultControl>
                                    <option *ngFor="let item of subDistrictList" [ngValue]="item.subdistrict">
                                        {{item.subdistrict}}
                                    </option>
                                </datalist>
                                <div *ngIf="!formEditable.msubdistrict" class="iconic"
                                    (click)="editableForm('msubdistrict', true)">
                                    <i class="fa fa-pen"></i>
                                </div>
                            </div>

                            <div class="form-group">
                                <label> Postal Code </label>
                                <input type="number" class="form-control" (focus)="editableForm('mpostal_code', true)"
                                    (blur)="editableForm('mpostal_code', false)" name="postal code"
                                    [(ngModel)]="form.mpostal_code" maxlength="3" autocomplete="off" />
                                <div *ngIf="!formEditable.mpostal_code" class="iconic"
                                    (click)="editableForm('mpostal_code', true)">
                                    <i class="fa fa-pen"></i>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>City</label>
                                <input type="text" class="form-control" (focus)="editableForm('mcity', true)"
                                    (blur)="editableForm('mcity', false)" name="city" [(ngModel)]="form.mcity"
                                    (keyup)="getCityList($event)" list="dynmicCityList" autocomplete="off"/>
                                <datalist id="dynmicCityList" name="city" ngDefaultControl>
                                    <option *ngFor="let item of cityList" [ngValue]="item.city">
                                        {{item.city}}
                                    </option>
                                </datalist>

                                <div *ngIf="!formEditable.mcity" class="iconic" (click)="editableForm('mcity', true)">
                                    <i class="fa fa-pen"></i>
                                </div>
                            </div>

                            <div class="form-group">
                                <label> Village </label>
                                <input type="text" class="form-control" (focus)="editableForm('village', true)"
                                    list="dynmicVillageList" (blur)="editableForm('village', false)" name="village"
                                    [(ngModel)]="form.mvillage" (keyup)="getVillageList($event)"
                                    (change)="onVillageChange()" autocomplete="off"/>
                                <datalist id="dynmicVillageList" name="region_code" ngDefaultControl>
                                    <option *ngFor="let item of villageList" [ngValue]="item.village">
                                        {{item.village}}
                                    </option>
                                </datalist>
                            </div>

                            <div class="form-group">
                                <label>Another Contact Person</label>
                                <input type="'number'" class="form-control"
                                    (focus)="editableForm('contact_person', true)"
                                    (blur)="editableForm('contact_person', false)" name="contact_person"
                                    [(ngModel)]="form.contact_person" />
                                <div *ngIf="!formEditable.contact_person" class="iconic"
                                    (click)="editableForm('contact_person', true)">
                                    <i class="fa fa-pen"></i>
                                </div>
                            </div>


                            <!-- <div class="form-group">
                                <label>State</label>
                                <input type="text" class="form-control {{formEditable.mstate}}"
                                    (focus)="editableForm('mstate', true)" (blur)="editableForm('mstate', false)"
                                    name="state" [(ngModel)]="form.mstate" />
                                <div *ngIf="!formEditable.mstate" class="iconic" (click)="editableForm('mstate', true)">
                                    <i class="fa fa-pen"></i>
                                </div>
                            </div> -->




                            <!-- <div class="form-group">
                                <label>Region Code</label>
                                <input type="text" class="form-control {{formEditable.region_code}}"
                                    (focus)="editableForm('region_code', true)"
                                    (blur)="editableForm('region_code', false)" name="city"
                                    [(ngModel)]="form.region_code" />
                                <div *ngIf="!formEditable.region_code" class="iconic"
                                    (click)="editableForm('region_code', true)">
                                    <i class="fa fa-pen"></i>
                                </div>
                            </div> -->
                        </div>
                    </div>

                    <div class="">
                        <div class="form-group">
                            <label>Store Slogan</label>
                            <textarea class="form-control" (focus)="editableForm('slogan', true)"
                                (blur)="editableForm('slogan', false)" type="text" name="slogan"
                                [(ngModel)]="form.slogan"></textarea>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">

                        </div>

                        <div class="col-md-6">
                            <!-- <div class="form-group">
                                <label>Fax Number</label>
                                <input type="number" class="form-control {{formEditable.fax_number}}"
                                    (focus)="editableForm('fax_number', true)"
                                    (blur)="editableForm('fax_number', false)" name="fax"
                                    [(ngModel)]="form.fax_number" />
                                <div *ngIf="!formEditable.fax_number" class="iconic"
                                    (click)="editableForm('fax_number', true)">
                                    <i class="fa fa-pen"></i>
                                </div>
                            </div> -->
                        </div>
                    </div>

                    <div class="row">
                        <!-- <div class="col-md-4">
                            <div class="form-group">
                                <label>Operational Hours</label>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Senin</label>
                                    <div class="col-sm-3">
                                        <input type="time" class="form-control">
                                    </div>
                                    <label class="col-form-label">-</label>
                                    <div class="col-sm-3">
                                        <input type="time" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Selasa</label>
                                    <div class="col-sm-3">
                                        <input type="time" class="form-control">
                                    </div>
                                    <label class="col-form-label">-</label>
                                    <div class="col-sm-3">
                                        <input type="time" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Rabu</label>
                                    <div class="col-sm-3">
                                        <input type="time" class="form-control">
                                    </div>
                                    <label class="col-form-label">-</label>
                                    <div class="col-sm-3">
                                        <input type="time" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Kamis</label>
                                    <div class="col-sm-3">
                                        <input type="time" class="form-control">
                                    </div>
                                    <label class="col-form-label">-</label>
                                    <div class="col-sm-3">
                                        <input type="time" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Jumat</label>
                                    <div class="col-sm-3">
                                        <input type="time" class="form-control">
                                    </div>
                                    <label class="col-form-label">-</label>
                                    <div class="col-sm-3">
                                        <input type="time" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Sabtu</label>
                                    <div class="col-sm-3">
                                        <input type="time" class="form-control">
                                    </div>
                                    <label class="col-form-label">-</label>
                                    <div class="col-sm-3">
                                        <input type="time" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Minggu</label>
                                    <div class="col-sm-3">
                                        <input type="time" class="form-control">
                                    </div>
                                    <label class="col-form-label">-</label>
                                    <div class="col-sm-3">
                                        <input type="time" class="form-control">
                                    </div>
                                </div>ava
                            </div>
                        </div> -->

                        <!-- <div class="vl"></div> -->

                        <div class="col-md-12">
                            <div class="mr-5">
                                <div class="form-group courier-service">
                                    <label>Available Courier Service</label>
                                      <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="To enable this button, please fill Province,City,Sub District, and Village">
                                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip"
                                        title="Lakukan Pengisian Provinsi sampai Desa">
                                        <!-- <button class="check-button common-button"
                                            [class.darkwhite]="!complete" [class.blue-fill]="complete"
                                            (click)="checkCourier()">Check</button> -->
                                    </span>
                                  </span>
                                    <!-- <span *ngIf="this.form.mvillage"><button class="btn btn-primary btn-sm" (click)="checkCourier()" style="margin-left:5px;border-radius: 5px;">Check</button></span> -->
                                    <div>
                                        <div *ngFor="let cr of couriers.result; let i = index">
                                            <mat-checkbox [(ngModel)]="cr.value">
                                                {{cr.courier}} </mat-checkbox>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- <div class="vl"></div> -->

                        <!-- <div class="col-md-2">
                            <label>Open/Close Store</label>
                            <div class="form-group">
                                <select class="custom-select">
                                    <option>Open</option>
                                    <option>Close</option>
                                </select>
                            </div>
                        </div> -->
                    </div>
                  
                    <br/>
                    <div class="col-md-12">
                        <h3 class="title-diff">Store Address (Optional)</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Search Location Adress</label>
                                    <!-- <button *ngIf="!showMap" class="check-button common-button" [disabled]="showMap"
                                    [class.blue-fill]="!showMap"
                                    (click)="showMaps()">Search My Current Location</button> -->
                                    <input placeholder="search for location" autocorrect="off" autocapitalize="off"
                                        spellcheck="off" type="text" class="form-control" #search
                                        [formControl]="searchControl" [(ngModel)]="form.google_address">
                                </div>
                                <!-- <div class="form-group">
                                 
                                    <span>Lat</span><input class="form-control" type="text" name="curlatitude"
                                        [(ngModel)]="form.latitude" />
                                    <span>Long</span><input class="form-control" type="text" name="curlongitude"
                                        [(ngModel)]="form.longitude" />
                                </div> -->
                                <!-- <div *ngIf="map_active"> -->
                                    <!-- <label *ngIf="!showMap" style="font-weight: bolder;">Set This Location As Your Pickup Point ? <span style="color:red ">(Ignore this option If you don't want to set any address by map)</span></label>
                                    <label *ngIf="showMap" style="font-weight: bolder; color:green">Your Pick-up Point Has Been Set</label>
                                    
                                    <br/> -->
                                   
                                <!-- </div> -->
                            </div>
                            <div class="col-md-6" [class.display-none]="!map_active">
                                
                                <label style="font-weight: bolder; color:green">CURRENT LOCATION <span *ngIf="showMap">( SET )</span></label>
                               <br/>
                                <span>Lat : {{latitude}}</span> <span>  Long : {{longitude}}</span>
                                <label>{{address}}</label>
                                <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
                                    <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
                                        (dragEnd)="markerDragEnd($event)"></agm-marker>
                                </agm-map>
                                <div style="margin-top:20px;display:flex; justify-content:space-between; align-items:center; width:100%;">
                                <button class="check-button common-button blue-fill"
                                (click)="showMaps()">Set Location</button>
                                <button class="common-button btn-danger"
                                (click)="closeMaps()">Remove Location</button> 
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                    <h3 class="title-diff">Store Images</h3>
                    <div class="image-upload-group">
                      
                        <div class="img-upload">
                            <div class="card">
                                <div class="card-title">
                                    <h2> Logo</h2>
                                </div>
                                <div class="card-content" *ngIf="!form.image_owner_url">
                                    <div class="image">
                                        <div class="card-content custom">
                                            <div>
                                                <img *ngIf="form.image_owner_url" class="resize"
                                                    src="{{form.image_owner_url}}" />
                                                <img *ngIf="!form.image_owner_url" class="set-opacity"
                                                    src="/assets/images/cloud.png" height="200" width="200"> <br />
                                            </div>
                                            <div class="browse-files">
                                                <div class="pb-framer">
                                                    <div class="progressbar {{cancel?'terminated':''}}"
                                                        [ngStyle]="{'width.%': progressBar}">

                                                    </div>
                                                    <span *ngIf="progressBar<58&&progressBar>0">
                                                        {{cancel?'terminated':progressBar+'%'}} </span>
                                                    <span class="clr-white" *ngIf="progressBar>58">
                                                        {{cancel?'terminated':progressBar+'%'}} </span>

                                                </div>

                                                <button class="common-button blue-outline fileupload"
                                                    (click)="inputFile2.click()">Browse File</button>
                                                <br>
                                                <br>
                                                <!-- <span style="color:red; font-size: 10px;">*Requried file size max. 5MB
                                                    and file format must be .JPG/.JPEG/.PNG/</span> -->
                                                <!-- <button class="btn rounded-btn" (click)="onUploadLogo()">Upload</button>
                                                <button class="btn rounded-btn-danger"
                                                    (click)="cancelThis()">Cancel</button> -->
                                            </div>

                                        </div>

                                    </div>
                                    <div *ngIf="errorLabel!==false">
                                        {{errorLabel}}
                                    </div>
                                </div>

                                <div class="form-group uploaded" *ngIf="form.image_owner_url">
                                    <div class="uploaded-image" (click)="inputFile2.click()">
                                        <div class="img"
                                            [ngStyle]="{'background-image':'url('+(form.image_owner_url)+')'}">
                                            <div class="editor-tool">
                                                <i class="fa fa-pen"></i>
                                            </div>
                                            <!-- <img class="resize" src="{{form.image_owner_url}}"> -->
                                        </div>
                                        <!-- <a class="common-button blue-outline" (click)="inputFile2.click()">Re-Upload
                                            Image</a> -->
                                    </div>
                                </div>


                            </div>
                        </div>

                        <div class="img-upload">
                            <div class="card">
                                <div class="card-title">
                                    <h2>Background</h2>
                                </div>
                                <div class="card-content" *ngIf="!form.background_image">
                                    <div class="image">
                                        <div class=" custom">
                                            <div>
                                                <img *ngIf="form.image_owner_url" class="resize"
                                                    src="{{form.background_image}}" />
                                                <img *ngIf="!form.image_owner_url" class="set-opacity"
                                                    src="/assets/images/cloud.png"> <br />
                                            </div>
                                            <div class="browse-files">
                                                <div class="pb-framer">
                                                    <div class="progressbar {{cancel?'terminated':''}}"
                                                        [ngStyle]="{'width.%': progressBar}">

                                                    </div>
                                                    <span *ngIf="progressBar<58&&progressBar>0">
                                                        {{cancel?'terminated':progressBar+'%'}} </span>
                                                    <span class="clr-white" *ngIf="progressBar>58">
                                                        {{cancel?'terminated':progressBar+'%'}} </span>

                                                </div>

                                                <button class="common-button blue-outline fileupload"
                                                    (click)="inputFile1.click()">Browse File</button>

                                                <br>
                                                <br>
                                                <!-- <span style="color:red; font-size: 10px;">*Requried file size max. 5MB
                                                    and
                                                    file format must be .JPG/.JPEG/.PNG/</span> -->

                                                <!-- <input type="file" (change)="onFileSelected($event)" accept="image/*">
                                                <br>
                                                <button class="btn rounded-btn"
                                                    (click)="onUploadBackground()">Upload</button>
                                                <button class="btn rounded-btn-danger"
                                                    (click)="cancelThis()">Cancel</button> -->
                                            </div>

                                        </div>


                                        <!-- {{form.value | json}}  -->

                                    </div>
                                    <div *ngIf="errorLabel!==false">
                                        {{errorLabel}}
                                    </div>


                                </div>
                                <div class="form-group uploaded" *ngIf="form.background_image">
                                    <div class="uploaded-image" (click)="inputFile1.click()">
                                        <div class="img"
                                            [ngStyle]="{'background-image':'url('+(form.background_image)+')'}">
                                            <div class="editor-tool">
                                                <i class="fa fa-pen"></i>
                                            </div>
                                            <!-- <img class="resize" src="{{form.image_owner_url}}"> -->
                                        </div>
                                        <!-- <a class="common-button blue-outline" (click)="inputFile2.click()">Re-Upload
                                            Image</a> -->
                                    </div>
                                </div>

                                <div class="form-group uploaded" *ngIf="form.background_image">
                                    <div class="uploaded-image" (click)="inputFile1.click()">
                                        <div class="img"
                                            [ngStyle]="{'background_image':'url('+(form.background_image+form.pic_big_path)+')'}">
                                            <div class="editor-tool">
                                                <i class="fa fa-pen"></i>
                                            </div>
                                            <img class="resize" src="{{form.background_image}}">
                                        </div>
                                        <a class="text-fileupload" (click)="inputFile1.click()">Re-Upload Image</a>
                                    </div>
                                </div>
                            </div>
                            <!-- <button class="btn btn-primary" (click)="addMerchant()">Add Merchant</button> -->

                        </div>
                    </div>
                </div>
                    <div>
                        <div class="notif error-message">{{errorMessage}}</div>

                        <button class="common-button blue-fill save float-right" (click)="saveMerchant()">Save
                            Profile</button>
                    </div>
                </div>

            </mat-tab>
            <mat-tab label="Personal Information">
                <h3 class="title-diff">Personal Detail</h3>
                <div class="row edit or-group">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Full Name</label>
                            <input class="form-control" (focus)="editableForm('full_name', true)"
                                (blur)="editableForm('full_name', false)" type="text" name="full_name"
                                [(ngModel)]="form.full_name" />
                            <div *ngIf="!formEditable.full_name" class="iconic"
                                (click)="editableForm('full_name', true)"><i class="fa fa-pen"></i></div>
                        </div>
                        <div class="form-group">
                            <label>Date Of Birth {{form.dob}}</label>
                            <input class="form-control" (focus)="editableForm('dob', true)"
                                (blur)="editableForm('dob', false)"  type="date" name="dob" (ngModel)="form.dob"  [value]="dateformater(form.dob)"/>
                            <div *ngIf="!formEditable.dob" class="iconic" (click)="editableForm('dob', true)"><i
                                    class="fa fa-pen"></i></div>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input class="form-control" (focus)="editableForm('email', true)"
                                (blur)="editableForm('email', false)" type="text" name="email"
                                [(ngModel)]="form.email" />
                            <div *ngIf="!formEditable.email" class="iconic" (click)="editableForm('email', true)"><i
                                    class="fa fa-pen"></i></div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> gender</label>
                            <div *ngIf="!formEditable.gender" class="form-control"
                                (click)="editableForm('gender', true)" type="text" name="gender">{{form.gender}}</div>
                            <select class="form-control" (focus)="editableForm('gender', true)"
                                (blur)="editableForm('gender', false)" [(ngModel)]="form.gender"
                                *ngIf="formEditable.gender">
                                <option [ngValue]="'male'">Male</option>
                                <option [ngValue]="'female'">Female</option>
                            </select>

                            <div *ngIf="!formEditable.gender" class="iconic" (click)="editableForm('gender', true)"><i
                                    class="fa fa-pen"></i></div>
                        </div>

                        <div class="form-group">
                            <label>Cell Phone (WhatsApp)</label>
                            <input class="form-control" (focus)="editableForm('cell_phone', true)"
                                (blur)="editableForm('cell_phone', false)" type="text" name="full_name"
                                [(ngModel)]="form.cell_phone" />
                            <div *ngIf="!formEditable.cell_phone" class="iconic"
                                (click)="editableForm('cell_phone', true)">
                                <i class="fa fa-pen"></i></div>
                        </div>

                        <div class="form-group">
                            <label>address*</label>
                            <textarea class="form-control" (focus)="editableForm('address', true)"
                                (blur)="editableForm('address', false)" type="text" name="address"
                                [(ngModel)]="form.address"></textarea>
                            <div *ngIf="!formEditable.address" class="iconic" (click)="editableForm('address', true)"><i
                                    class="fa fa-pen"></i></div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="notif error-message">{{errorMessage}}</div>
                    <button class="common-button blue-fill save float-right" (click)="saveMerchant()">Save
                        Profile</button>
                </div>
                <br />
                <br />

                <!-- <div class="col-md-12"> -->
                <h4 class="title-diff">Security</h4>
                <!-- <div id="line"></div> -->
                <div class="row">
                    <img src="assets/images/padlock.png" class="shield">
                    <div class="security-content">
                        <h5>My Pin</h5>
                        <span *ngIf="form.access_pin != 'enabled'">You don't have any PIN. Lets make one!</span>
                        <span *ngIf="form.access_pin == 'enabled'"
                            style="color: gray;font-size: 20px;">******</span><br />
                        <button class="btn btn-primary" (click)="openDialog();">
                            <span *ngIf="form.access_pin != 'enabled'">Make PIN</span>
                            <span *ngIf="form.access_pin == 'enabled'">Change PIN</span>
                        </button>
                    </div>
                </div>
                <!-- </div> -->

                <!-- <div id="myModal" class="modal {{othersForm}}">
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="close" (click)="closeDialog()">&times;</span>
                        </div>
                        <div class="modal-body">
                            <h3>Register Pin</h3>
                            <span><strong> Input 6-Digit number. Remember, don't use predictable combinations of numbers
                                    like date of birth, etc</strong></span>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">

                                <input placeholder="Password" (click)="errorMessage = false" [type]="hide ? 'password' : 'text'"
                            [(ngModel)]="form.password" name="password">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide" style="background:transparent; border: none;">
                            <mat-icon >{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button> 

                                <div class="wrapper-input">
                                    <input type="password" class="form-control" [(ngModel)]="pin.new_pin" size="6"
                                        maxlength="6" pattern="[0-9]" [type]="hide ? 'password': 'text'"
                                        inputmode="numeric">
                                    <button mat-icon-button matSuffix (click)="hide = !hide"
                                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                </div>
                                <button class="btn btn-primary" type="submit" id="button-verify"
                                    (click)="verify()">Verify</button>
                            </div>
                        </div>
                        <div class="modal-footer">

                        </div>
                    </div>
                </div> -->

                <div id="myModal" class="modal {{setPin}}">
                    <div *ngIf="!successPin" class="modal-content">
                        <div class="modal-header">
                            <span class="close" (click)="closeDialog()" style="color: black;">&times;</span>
                        </div>
                        <div class="modal-body">
                            <h3 *ngIf="form.access_pin != 'enabled'">Register Pin</h3>
                            <h3 *ngIf="form.access_pin == 'enabled'">Reset Pin</h3>
                            <span><strong> Input 6-Digit number. Remember, don't use predictable combinations of numbers
                                    like date of birth, etc</strong></span>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label>Insert PIN</label>
                                <!-- <input type="password" class="form-control" [(ngModel)]="pin.new_pin"> -->
                                <input type="password" class="form-control" [(ngModel)]="pin.new_pin" size="15"
                                    maxlength="6" pattern="[0-9]" [type]="hide ? 'password': 'text'" inputmode="numeric"
                                    autocomplete="off">
                                <label>Retype PIN</label>
                                <!-- <input type="password" class="form-control" [(ngModel)]="pin.repeat_new_pin"> -->
                                <input type="password" class="form-control" [(ngModel)]="pin.repeat_new_pin" size="6"
                                    maxlength="6" pattern="[0-9]" [type]="hide ? 'password': 'text'" inputmode="numeric"
                                    autocomplete="off">
                                <label>Password</label>
                                <input type="password" class="form-control" [(ngModel)]="pin.password"
                                    autocomplete="off">
                                <!-- <button mat-icon-button matSuffix (click)="hide = !hide"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button> -->
                                <button class="btn btn-primary" id="button-verify" (click)="verify()">Verify</button>
                            </div>
                        </div>
                        <div class="modal-footer">

                        </div>
                    </div>
                    <div *ngIf="successPin" class="modal-content">
                        <div class="modal-header">
                            <span class="close" (click)="closeDialog()" style="color: black;">&times;</span>
                        </div>
                        <div class="modal-body">
                            <img src="assets/images/check.png" class="shield">
                        </div>
                    </div>
                </div>



                <!-- <div id="myModal" class="modal {{donePin}}">
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="close" (click)="closeDialog()">&times;</span>
                        </div>
                        <div class="modal-body">
                            <h3>Retype your PIN</h3>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                            <input type="password" class="form-control" [(ngModel)]="pin.repeat_new_pin">
                            <input type="password" class="form-control" [(ngModel)]="pin.password">
                            <button mat-icon-button matSuffix (click)="hide = !hide"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                            <button class="btn btn-primary" id="button-verify" (click)="verify()">Verify</button>
                        </div>
                    </div>
                        <div class="modal-footer">
                
                        </div>
                    </div>
                </div> -->
                <!-- <div id="myModal" class="modal {{retypePin}}">
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="close" (click)="closeDialog()">&times;</span>
                        </div>
                        <div class="modal-body">
                            <h3>Retype your PIN</h3>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <input type="password" class="form-control" [(ngModel)]="pin.repeat_new_pin" size="6"
                                    maxlength="6">
                                <label>Input Your Password</label>
                                <input type="password" class="form-control" [(ngModel)]="pin.password"> -->
                <!-- <button mat-icon-button matSuffix (click)="hide = !hide"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button> -->
                <!-- <button class="btn btn-primary" id="button-verify" (click)="verify()">Verify</button>
                            </div>
                        </div>
                        <div class="modal-footer">

                        </div>
                    </div>
                </div> -->

                <!-- <div id="myModal" class="modal {{passwordField}}">
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="close" (click)="closeDialog()">&times;</span>
                        </div>
                        <div class="modal-body">
                            <h3>Enter Your Password</h3>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <input type="password" class="form-control" [(ngModel)]="pin.repeat_new_pin"> -->
                <!-- <button mat-icon-button matSuffix (click)="hide = !hide"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button> -->
                <!-- <button class="btn btn-primary" id="button-verify" (click)="verify()">Verify</button>
                            </div>
                        </div>
                        <div class="modal-footer">

                        </div>
                    </div>
                </div> -->




            </mat-tab>
            <mat-tab label="Payment Info">
                <h3 class="title-diff">Payment Information</h3>
                <div class="row edit or-group" *ngIf="form.merchant_mdr">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Your MDR (Merchant Discount Rate)</label>
                            <div *ngIf="form.merchant_mdr.mdr_type=='percentage'">
                                {{form.merchant_mdr.mdr_value}}%</div>
                            <div *ngIf="form.merchant_mdr.mdr_type=='fixed_rate'">
                                {{form.merchant_mdr.mdr_value| currency: 'Rp '}} </div>
                        </div>
                    </div>
                </div>
                <h3 class="title-diff">Withdrawal info</h3>
                <div class="row edit or-group">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Bank Account </label>
                            <select class="form-control" [(ngModel)]="form.withdrawal_bank_name">
                                <option *ngFor="let f of bankList" [ngValue]="f.value">{{f.name}}</option>
                            </select>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Account Name</label>
                            <input class="form-control" (focus)="editableForm('withdrawal_account_name',true)"
                                (blur)="editableForm('withdrawal_account_name', false)" type="text" name="store name"
                                (input)="nameInput($event)" [(ngModel)]="form.withdrawal_account_name" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Account Number</label>
                            <input class="form-control" (focus)="editableForm('withdrawal_bank_account',true)"
                                (blur)="editableForm('withdrawal_bank_account', false)" type="text" name="store name"
                                (input)="nameInput($event)" [(ngModel)]="form.withdrawal_bank_account" />
                        </div>
                    </div>
                </div>
                <div>
                    <div class="notif error-message">{{errorMessage}}</div>
                    <button class="common-button blue-fill save float-right" (click)="saveMerchant()">Save
                        Profile</button>
                </div>
            </mat-tab>

        </mat-tab-group>
    </div>
    <!-- <input #fileinput type="file" (change)="onFileSelected($event)" [(ngModel)]="selFile" accept="image/png, image/jpeg, image/jpg"> -->
</div>