<div [@routerTransition]>

  <div class="header-add">
    <h3>Sliding Banner</h3>
    <i class="fas fa-angle-right"></i>
    <h3 style="color:#2381FB">Add Banner</h3>
  </div>
  <hr class="new1">
  <div class="banner-picture">
    <h3>Banner Picture</h3>
  </div>

  <div class="form-group" *ngIf="!form_add.imageUrl">
    <div class="image-upload">
      <i><img src="assets/images/upload.svg" class="logo-upload"></i>
      <p class="upload-desc">Drag & Drop your image here <br> or</p>
      <button class="btn btn-primary fileupload" (click)="fileinput.click()">Browse File</button>
      <!-- <div [ngClass]="'uploading-file '+isFileUploaded">
            <img *ngIf="selFile" [src]="selFile" height="200" />
            <span *ngIf="isFileUploaded"> UPLOADED </span>
          </div> -->

      <div class="pb-framer">
        <div class="progressbar {{cancel?'terminated':''}}" [ngStyle]="{'width.%': progressBar}">

        </div>
        <span *ngIf="progressBar<58&&progressBar>0">
          {{cancel?'terminated':progressBar+'%'}} </span>
        <span class="clr-white" *ngIf="progressBar>58">
          {{cancel?'terminated':progressBar+'%'}} </span>

      </div>

      <div class="error" *ngIf="errorLabel">{{errorLabel}}</div>

    </div>

  </div>
  <div class="form-group uploaded" *ngIf="form_add.imageUrl">
    <!-- <label> Your Product Image</label> -->
    <div class="uploaded-image" (click)="fileinput.click()">
      <div class="img" [ngStyle]="{'background-image':'url('+(form_add.imageUrl)+')'}">
        <div class="editor-tool">
          <!-- <button >TEST</button> -->
          <i class="fa fa-pen"></i>
        </div>
      </div>
      <a class="text-fileupload" (click)="fileinput.click()">re-upload it</a>

    </div>
  </div>
  <div class="banner-picture">
    <h3>Banner Detail</h3>
  </div>

  <div class="detail-form">
    <div>
      <div class="col-md-6">
        <label>Banner Title</label>
        <form-input id="formbar" name="bannerTitle" [disabled]="false" [type]="'text'" 
          [(ngModel)]="form_add.title" required></form-input>
        <label>Value</label>
        <form-input id="formbar" name="hashUrl" [disabled]="false" [type]="'text'" 
          [(ngModel)]="form_add.target.value" required></form-input>
        <!-- <label>Hash URL Hastags</label>
          <form-input name="hashUrl" [type]="'text'" [placeholder]="'Hash URL'"  [(ngModel)]="hashUrl" required></form-input>
          -->
        <!-- <label>Status</label>
          <form-input name="active" [type]="'number'" [placeholder]="'Select Status'"  [(ngModel)]="active" required></form-input>
          <label>Position</label>
          <form-input name="location" [type]="'text'" [placeholder]="'Select Position'"  [(ngModel)]="location" required></form-input>
          <label>Index</label>
          <form-input name="active" [type]="'number'" [placeholder]="'Select Index'"  [(ngModel)]="active" required></form-input> -->
        <label>Description</label>
        <ckeditor [config]="config" id="description" name="description" [editor]="Editor" [(ngModel)]="form_add.target.description"
          style="min-height: 200px;color:black"></ckeditor>
        <label>Status</label>
        <!-- <form-select id="formbar" name="status" [disabled]="false" [(ngModel)]="form_add.active" [data]="status"
          required>
        </form-select> -->
        <div class="mb-3">
          <div class="form-group">
            <select class="form-control" [(ngModel)]="form_add.active" >
              <option *ngFor="let option of status"  value="{{option.value}}">{{option.label}}</option>
            </select>
          </div>
        </div>
        <label>Position</label>
        <!-- <form-select id="formbar" name="position" [disabled]="false" [(ngModel)]="form_add.location" [data]="position"
          required>
        </form-select> -->
        <div class="mb-3">
          <div class="form-group">
            <select class="form-control" [(ngModel)]="form_add.location" >
              <option *ngFor="let option of position"  value="{{option.value}}">{{option.label}}</option>
            </select>
          </div>
        </div>
        
        <!-- <form-select id="formbar" name="index" [disabled]="false" [(ngModel)]="form_add.target.index" [data]="index"
          required>
        </form-select> -->
        
        <!-- <select [(ngModel)]="form_add.target.type" class="formbar">
          <option value="landingpage">Landing Page</option>
          <option value="search">Search</option>
        </select> -->
        <label>Index</label>
        <div class="mb-3">
          <div class="form-group">
            <select class="form-control" [(ngModel)]="form_add.target.index" >
              <option *ngFor="let option of index"  value="{{option.value}}">{{option.label}}</option>
            </select>
          </div>
        </div>
        <label>Type</label>
        <div class="mb-3">
          <div class="form-group">
            <select class="form-control" [(ngModel)]="form_add.target.type" >
              <option value="landingpage">Landing Page</option>
          <option value="search">Search</option>
            </select>
          </div>
        </div>



        <!-- {{form.value | json}}  -->
      </div>
      <input name="image" #fileinput type="file" (change)="onFileSelected($event)" [(ngModel)]="selFile"
        accept="image/png, image/jpeg">
      <div class="button-container">
        <button class="btn btn-cancel" type="button" [disabled]="false" (click)="ok()">Cancel</button>
        <button class="btn btn-save" type="submit" [disabled]="false" (click)="formSubmitAddBanner()">Save</button>
      </div>

    </div>
  </div>

</div>