.sliding-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2e3544;
  height: max-content;
  margin: 25px;
  border-radius: 10px;
  flex-direction: column;

  .title {
    color: white;
    font-size: 20px;
    font-family: "Poppins";
    font-weight: bold;
  }
  .sliding-list {
    margin: 30px;
  }
  .header {
    color: white;
  }
  .header-sub-menu {
    display: flex;
    flex-direction: row;
    width: calc(100% - 100px);
    justify-content: space-between;
    margin-top: 40px;
  }
  .title-sliding-banner {
    color: white;
    display: block;
    margin-left: 0px;
  }

  .sliding-banner-list {
    justify-content: center;
    align-items: center;
    background-color: #252c39;
    margin: 30px;
    border-radius: 10px;
    height: fit-content;
    width: 100%;
    width: calc(100% - 100px);
  }

  .tab-bar {
    justify-content: center;
    align-items: center;
    background-color: #252c39;
    margin: 30px;
    border-radius: 10px;
    height: 100%;
    width: calc(100% - 100px);
  }
  .table-tab {
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 30px;
    border-radius: 10px;
    height: fit-content;
  }
}
/* focus style */
.mat-tab-group.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus,
.mat-tab-group.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus,
.mat-tab-nav-bar.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus,
.mat-tab-nav-bar.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus {
  background: #2e3544;
  opacity: 1 !important;
}

::ng-deep .mat-tab-header {
  border-bottom: 0px !important;
}
::ng-deep .mat-tab-label-container {
  background: #2e3544 !important;
}
/* label style */
::ng-deep .mat-tab-label {
  background: #2e3544;
  opacity: 1 !important;
  color: #627190 !important;
  min-width: 200px !important;
}
::ng-deep .mat-tab-label-active:first-child {
  color: white;
  background-position: left 0px, 15px, right 0px;
  background-size: 19px, 132px, 54px;
  background-repeat: no-repeat;

  background-image: url("../../../../assets/images/tab-1-bagian-kiri.png"),
    url("../../../../assets/images/tab-1-2-tengah.png"), url("../../../../assets/images/tab-1-kanan.png");
}
::ng-deep .mat-tab-label-active {
  color: white !important;
  background-position: left 0px, 54px, right 0px;
  background-size: 54px, 100px, 54px;
  background-repeat: no-repeat;

  background-image: url("../../../../assets/images/tab-2-kiri.png"), url("../../../../assets/images/tab-1-2-tengah.png"),
    url("../../../../assets/images/tab-1-kanan.png");
}

::ng-deep .mat-ink-bar {
  display: none;
}
.btn {
  float: right;
}
.stat {
  width: 70px;
  height: 30px;
  border-radius: 30px;
  color: white;
  outline: none;
}
.btn-inactive {
  // background: rgb(131, 58, 180);
  // background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
  background: url("../../../../assets/images/status-inactive.png");
}
.btn-active {
  // background: rgb(9, 121, 13);
  // background: radial-gradient(circle, rgba(9, 121, 13, 1) 0%, rgba(66, 245, 2, 1) 100%);
  background: url("../../../../assets/images/status-active.png");
}
.rounded-btn {
  // -webkit-border-radius: 30px;
  // border-radius: 30px;
  color: white;
  font-size: 15px;
  line-height: 40px;
  padding: 0 15px;
  background: #2381fb;
}
.tablebanner {
  background: white;
  width: 100%;
  text-align: center;
  justify-content: center;
}
.picsum-img-wrapper {
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 100%;
    border-radius: 20px;
    width: auto;
  }
}
.table-img {
  height: 80px;
  width: 250px;

  img {
    height: 100%;
    width: auto;
  }
}

thead th {
  // background-color:#3A4458;
  color: #7e7e7e;
  text-align: center;
  padding: 15px 15px;
  vertical-align: top !important;
  background-color: #f2f2f2;
  opacity: 1;
}
tbody tr:hover td {
  background: #3b9fe2;
  //color: white;
  cursor: pointer;
}
tbody tr.image:hover td {
  background: transparent;
  cursor: default;
  color: unset;
}
tbody tr td {
  font-size: 12px;
  vertical-align: middle !important;
  text-align: center;
  // background-color:#2F3545;
  // color: #899BC1;
}
table,
th,
td {
  border: 0.5px solid #ccc;
}
tbody {
  .img_dt_prp {
    width: 120px;
    float: left;
    padding: 5px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    .image_wrapper {
      height: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 5px;
      overflow: hidden;
    }
    img {
      max-width: 100%;
    }
  }
}

.modal.false {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal.true {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0px;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  justify-content: center;
  align-items: center;
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.td-action {
  padding: 20px;
}
.add-container {
  margin: 0px auto;
  background: #2e3544;
  width: 750px;
  padding: 30px;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
.table-container {
  padding: 20px;
}
.delete-container {
  margin: 0px auto;
  background: #2e3544;
  width: 270px;
  padding: 10px;
  animation-name: animatetop;
  animation-duration: 0.4s;
  color: white;
  .dialog {
    padding: 17px;
    text-align: center;
  }
  button {
    margin-top: 20px;
    width: 100%;
    padding: 5px 15px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .yes {
    background-color: red;
    color: white;
    border-radius: 5px;
  }
  .no {
    background-color: #3498db;
    color: white;
    border-radius: 5px;
  }
}
.modal-top {
  background-color: #2e3544;
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
}

.swiper-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.swiper-slide {
  color: #aaa;
  background-color: #eee;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  width: 65vw !important;
  .img {
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
  }
}
.swiper-slide:hover {
  opacity: 0.5;
}
.swiper-slide-active {
  color: #fff;
  background-color: #aaa;
}
