<div [@routerTransition]>
  <app-page-header [heading]="'Order History Complete Page'" [icon]="'fa-table'"></app-page-header>
  <div *ngIf="Orderhistorycomplete && orderhistorycompleteDetail==false && mci_project == false && programType!='custom_kontraktual' && !errorMessage">
        <app-form-builder-table 
        [searchCallback]="[service, 'searchOrderhistorycompleteLint',this]" 
        [tableFormat]   = "tableFormat"
        [table_data]="Orderhistorycomplete"
        [total_page]="totalPage"
      >
            
        </app-form-builder-table>
  </div>
  <div *ngIf="Orderhistorycomplete && orderhistorycompleteDetail==false && mci_project == true && programType!='custom_kontraktual' && !errorMessage">
      <app-form-builder-table 
      [searchCallback]="[service, 'searchOrderhistorycompleteLint',this]" 
      [tableFormat]   = "tableFormat2"
      [table_data]="Orderhistorycomplete"
      [total_page]="totalPage"
    >
          
      </app-form-builder-table>
  </div>

  <div *ngIf="Orderhistorycomplete && orderhistorycompleteDetail==false && mci_project == false && programType=='custom_kontraktual' && !errorMessage">
      <app-form-builder-table 
      [searchCallback]="[service, 'searchOrderhistorycompleteLint',this]" 
      [tableFormat]   = "tableFormat3"
      [table_data]="Orderhistorycomplete"
      [total_page]="totalPage"
    >
          
      </app-form-builder-table>
  </div>

      <div *ngIf="errorMessage" class="error-message">
        <div class="text-message">
        <i class="fas fa-ban"></i>
        {{errorMessage}}
        </div>
      </div>
      
      <div *ngIf="orderhistorycompleteDetail">
            <app-orderhistorycomplete-edit [back]="[this,backToHere]" [detail]="orderhistorycompleteDetail"></app-orderhistorycomplete-edit>
      </div>

  </div>

