<div >
    <app-page-header [heading]="'&nbsp;'" [icon]="'fa-table'"></app-page-header>
    <div *ngIf="PointMovementProduct && mci_project == false && programType !='custom_kontraktual' && !errorMessage">
          <app-form-builder-table
          [searchCallback]= "[service, 'searchPointMovementBasedOnProduct',this]"
          [tableFormat]="tableFormat"
          [table_data]="PointMovementProduct"
          [total_page]="totalPage"
        >
  
          </app-form-builder-table>
    </div>

    <div *ngIf="PointMovementProduct && mci_project == true && programType !='custom_kontraktual' && !errorMessage">
      <app-form-builder-table
          [searchCallback]= "[service, 'searchPointMovementBasedOnProduct',this]"
          [tableFormat]="tableFormat2"
          [table_data]="PointMovementProduct"
          [total_page]="totalPage"
        >

          </app-form-builder-table>
    </div>

    <div *ngIf="PointMovementProduct && mci_project == false && programType =='custom_kontraktual' && !errorMessage">
      <app-form-builder-table
          [searchCallback]= "[service, 'searchPointMovementBasedOnProduct',this]"
          [tableFormat]="tableFormat3"
          [table_data]="PointMovementProduct"
          [total_page]="totalPage"
        >

          </app-form-builder-table>
    </div>

      <div *ngIf="errorMessage" class="error-message">
        <div class="text-message">
        <i class="fas fa-ban"></i>
        {{errorMessage}}
        </div>
      </div>
        <!-- <div *ngIf="SalesRedemptionDetail"> -->
              <!-- <app-bast [back]="[this,backToHere]" [detail]="SalesRedemptionDetail"></app-bast> -->
        <!-- </div> -->
  
    </div>
  