<div [@routerTransition]>
  <app-page-header [heading]="'Courier Service'" [icon]="'fa-table'"></app-page-header>
  <div *ngIf="Courierservicepage&&courierservicepageDetail==false">
        <app-form-builder-table 
        [searchCallback]="[service, 'searchCourierservicepageLint',this]" 
        [tableFormat]="tableFormat"
        [table_data]="Courierservicepage"
      >
            
        </app-form-builder-table>
  </div>
      <div *ngIf="courierservicepageDetail">
            <app-courierservicepage-detail [back]="[this,backToHere]" [detail]="courierservicepageDetail"></app-courierservicepage-detail>
      </div>

      <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator> -->

  </div>

