
  
  div.error {
    background: #e74c3c;
    color: white;
    padding: 25px;
    margin-bottom: 25px;
}
  .hashhash {
    .hashtag-item {
        display: inline-block;
        margin-right: 5px;
        background: #eee;
        padding: 2px 5px;
        margin-bottom: 5px;
        border-radius: 5px;
    }

    .hashtag-item::after {
        content: ",";
        display: inline;
    }

    .hashtagskey-input {
        display: inline-block;
        min-width: 75px;
        margin-bottom: 5px;
        font-size: 1rem;
        background: white;
        border-radius: 5px;
        outline: none;
    }

    .hashtagskey-input::after {
        content: "";
        display: inline;
    }
}
.pb-framer {
    text-align: center;
    position: relative;
    height: 25px;
    color: #e67e22;

    .progressbar {
        overflow: hidden;
        background: #3498db;
        position: absolute;
        height: 25px;
        z-index: -1;
    }

    .terminated.progressbar {
        background-color: red;
    }

    .clr-white {
        color: white;
    }
}

.card-detail {
    >.card-header {
        position: relative;
        min-height: 48px;

        .back_button {
            position: absolute;
            margin-top: -4px;
            margin-left: -10px;
            background-color: transparent;
            color: #555;
            height: 30px;

            padding: 0px 10px 0px 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #ccc;

            i {
                font-weight: bold;
            }
        }

        .save_button {
            position: absolute;
            top: 10px;
            background-color: #3498db;
            color: white;
            height: 30px;
            align-items: center;
            display: flex;
            right: 10px;
            // margin-top: 5px;
            padding-top: 0px;
            padding-right: 10px;
            padding-bottom: 0;
            padding-left: 10px;
            font-weight: bold;
        }
    }

    .card-content {
        padding: 25px;

        >.col-md-12 {
            padding-left: 0px;
            padding-right: 0px;
        }
    }

    h1 {
        font-size: 18px;
        font-weight: bold;
        color: #555;
        text-align: center;
        margin-bottom: 0px;
    }

    .member-detail {
        form-select[name=status] .form-group {
            margin-bottom: 0px;
        }

        label {
            margin-top: 10px;
        }

        label+div {
            background: #f0f0f0;
            font-weight: normal;
            padding: 0px;
            border: 1px solid #f8f9fa;
            margin-bottom: 15px;
            min-height: 27px;
            font-size: 12px;
            color: #666;
        }


        .card-header {
            background-color: #555;

            h2 {
                color: white;
                font-size: 15px;
                line-height: unset;
                height: unset;
                margin: 0px;
                text-transform: capitalize;

            }
        }
    }
}

.rounded-btn {
    -webkit-border-radius: 70px;
    border-radius: 70px;
    color: white;
    font-size: 18px;
    line-height: 40px;
    padding: 0 40px;
    background: #56a4ff;
    margin-left: 40%;
    margin-right: 50%;
}

.rounded-btn:hover {
    background: darken(#56A4FF, 15%);
    // border: 2px solid blue;
    outline: none;
}

.section-upload {
    // margin-top: 5vh;
    width: 100%;

    align-items: center;

    .col-2dot4,
    .col-sm-2dot4,
    .col-md-2dot4,
    .col-lg-2dot4,
    .col-xl-2dot4 {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 0px;
        padding-left: 0px;
    }

    .col-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }

    @media (min-width: 540px) {
        .col-sm-2dot4 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 20%;
            flex: 0 0 20%;
            max-width: 20%;
        }
    }

    @media (min-width: 720px) {
        .col-md-2dot4 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 20%;
            flex: 0 0 20%;
            max-width: 20%;
        }
    }

    @media (min-width: 960px) {
        .col-lg-2dot4 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 20%;
            flex: 0 0 20%;
            max-width: 20%;
        }
    }

    @media (min-width: 1140px) {
        .col-xl-2dot4 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 20%;
            flex: 0 0 20%;
            max-width: 20%;
        }
    }

    .imagess {
        text-align: center;
        font-size: 14px;
        padding: 0px;

        .blue-upload {
            color: #56a4ff;
            font-size: 16px;
            font-weight: bold;
        }

        .card {
            padding: 20px;
            height: 190px;
            border: none;

            .card-content {
                height: 100%;
                position: relative;

                .upload-desc {
                    color: #bbb !important;
                    text-align: center;
                    font-size: 14px;
                }

                .logo-upload {
                    width: 100%;
                    background: white
                }

                .image {
                    display: block;
                    float: left;
                    height: auto;
                    width: 100%;
                    height: 100%;

                    .custom {
                        height: 100%;
                        // background-color:#eee;
                        border-radius: 10px;
                        // border: 3px solid #ebebeb;
                        justify-content: center;
                        align-items: center;
                        display: flex;
                        flex-direction: column;

                        // padding: 40px;
                        .drag-drop {
                            font-size: 10px;
                            text-align: center;
                        }

                        .set-opacity {
                            opacity: 0.1;
                            height: 60px;
                            width: auto;
                        }
                    }
                }
            }

            .form-group.uploaded {
                position: relative;
                margin-bottom: 0px;
                height: 100%;

                .loading {
                    height: 100%;

                    .sk-fading-circle {
                        top: 50%;
                    }
                }

                .uploaded-image2 {
                    height: 100%;

                    .img {
                        padding: 15px;
                        height: 100%;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                    }

                    .img>img {
                        height: 100%;
                        max-height: 320px;
                    }

                    .editor-tool {
                        height: 100%;
                    }
                }
            }
        }
    }
    .row-flex{
        display: flex;
    }

    .imagess {
        text-align: center;
        .card {
            height: 300px;
            border: none;
            border-radius: 8px;
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
            background-color: #ffffff;


            .card-content {
                display: flex;
                flex-direction: column;
                height: 100%;
                position: relative;

                .image-canvas {
                    height: 200px;
                }

                .upload-desc {
                    color: #bbb !important;
                    text-align: center;
                    font-size: 14px;
                }

                .logo-upload {
                    width: auto;
                    height: 100%;
                    background: white;
                }

                .image {
                    display: block;
                    float: left;
                   
                    width: auto;
                    height: 100%;

                    .custom {
                        height: 100%;
                        // background-color: #eee;
                        border-radius: 10px;
                        justify-content: center;
                        // border: 3px solid #ebebeb;
                        align-items: center;
                        display: flex;
                        flex-direction: column;

                        // padding: 40px;
                        .drag-drop {
                            font-size: 10px;
                            text-align: center;
                        }

                        .set-opacity {
                            opacity: 0.1;
                            height: 60px;
                            width: auto;
                        }
                    }
                }
            }

            .form-group.uploaded {
                position: relative;
                margin-bottom: 0px;
                height: 100%;

                .remove-icon {
                    position: absolute;
                    right: 0;
                    top: 0;
                    color: red;
                    font-size: 22px;
                }

                .loading {
                    height: 100%;

                    .sk-fading-circle {
                        top: 50%;
                    }
                }

                .uploaded-image2 {
                    height: 100%;

                    .img {
                        height: 100%;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    .img>img {
                        height: 100%;
                        max-height: 320px;
                    }

                    .editor-tool {
                        height: 100%;
                    }
                }
            }
        }
    }
}
.end-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .footer-save-cancel {
        margin: 50px;

        .cancel {
            border-color: #2480fb;
            margin-right: 20px;
            color: #2480fb;
            background-color: white;
            font-size: 20px;
            padding: 15px;
            width: 25rem;
            border-radius: 10px;
        }

        .save {
            font-size: 20px;
            padding: 15px;
            width: 25rem;
            border-radius: 10px;
            background-color: #2480fb;
        }
    }

    .delete {
        position: relative;
        float: right;
        background-color: #e74c3c;
        opacity: 0.5;
        border-color: #c0392b;

        .delete-modal {
            position: absolute;
            display: none;
            background: white;
            border: 1px solid #ccc;
            border-radius: 10px;
            padding: 4px 10px;
            top: 0px;
            right: 0px;
            color: #e74c3c;
            transform: translateY(-45px);

            .btn-group {
                border: 1px solid #e74c3c;
                border-radius: 5px;
                overflow: hidden;

                .no {
                    opacity: 0.5;
                    border-width: 0px;
                }

                .yes {
                    background: #e74c3c;
                    border-width: 0px;
                }

                .no:hover {
                    opacity: 1;
                }
            }
        }
    }

    .delete:hover,
    .delete:focus {
        opacity: 1;
    }

    .delete:focus {
        .delete-modal {
            display: block;
        }
    }
}
