<div class="card card-detail">
    <div class="card-header">
        <button class="btn back_button" (click)="backToDetail()"><i class="fa fa-fw fa-angle-left"></i> back</button><h1>{{detail.member_id}}</h1>
        <button class="btn save_button {{loading}}" type="submit" (click)="saveThis()"><i class="fa fa-fw fa-save"></i> <span  *ngIf="!loading">Save</span> <span *ngIf="loading">loading</span></button>
    </div>
    <div class="card-content">
        <div class="member-detail">
            <div class="row" *ngIf="!errorMessage">
                <div class=" col-md-4" >
                    <div class="card mb-3">
                        <div class="card-header"><h2>Change Password Admin</h2></div>
                        <div class="card-content">
                            <div class="col-md-12">
                                <label>Username</label>
                                <form-input  [disabled]="true" name="username" [type]="'text'" [placeholder]="'Member ID'"  [(ngModel)]="detail.username" autofocus required></form-input>

                                <label>Password</label>
                                <form-input name="password" [type]="'text'" [placeholder]="'Password Baru'"  [(ngModel)]="detail.password" autofocus required></form-input>
                                <div *ngIf="alertPassword" class="empty-alert">Password is Required</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="errorMessage" class="error-message">
                <div class="text-message">
                    <i class="fas fa-ban"></i>
                    {{errorMessage}}
                </div>
            </div>
         </div>
    </div>
</div>