<div class="card card-detail">
    <div class="card-header">
        <button class="btn back_button" (click)="backToDetail()"><i class="fa fa-fw fa-angle-left"></i> back</button><h1>{{detail.member_id}}</h1>
        <button class="btn save_button {{loading}}" type="submit" (click)="saveThis()"><i class="fa fa-fw fa-save"></i> <span  *ngIf="!loading">Save</span> <span *ngIf="loading">loading</span></button>
    </div>
    <div class="card-content">
        <div class="points-campaign-detail">
    
            <div class="row">
             <div class=" col-md-8" >
                 <div class="card mb-3">
                     <div class="card-header"><h2> Member Details </h2></div>
                     <div class="card-content">
                         <div class="col-md-12">
                                <label>Merchant</label>
                                <div name="merchant_id"> {{merchant_id}}
                                    <form-select name="merchant_id" [(ngModel)]="detail.merchant_id" [data]="merchantList" required></form-select> 
                                </div>

                                <label>Organization ID</label>
                                <form-input name="org_id" [placeholder]="'Organization ID'"  [type]="'text'" [(ngModel)]="detail.org_id" required></form-input>
                      
                                <label>Campaign Name</label>
                                <form-input name="campaign_name" [placeholder]="'Campaign Name'" [type]="'text'" [(ngModel)]="detail.campaign_name" required></form-input>
                      
                                <label>Campaign Description</label>
                                <form-input name="campaign_description" [placeholder]="'Campaign Description'"  [type]="'text'" [(ngModel)]="detail.campaign_description" required></form-input>
    
                         </div>
                       
                      </div>
                 </div>
                </div>
                <div class=" col-md-4" >
                 <div class="card mb-3">
                     <div class="card-header"><h2>Validity</h2> </div>
                     <div class="card-content">
                         <div class="col-md-12">
                            <label>Status</label>
                            <div name="status"> {{status}}
                                <form-select name="status" [(ngModel)]="detail.status" [data]="campaignStatus" required></form-select> 
                            </div>
                    
                            <label>Start Date</label>
                            <form-input name="start_date" [placeholder]="'yyyy-MM-dd'"  [type]="'date'" max="2020-12-31" [(ngModel)]="detail.start_date" required></form-input>
                    
                            <label>End Date</label>
                            <form-input name="end_date" [placeholder]="'yyyy-MM-dd'"  [type]="'date'" max="2020-12-31" [(ngModel)]="detail.end_date" required></form-input>
                         </div>
                       
                      </div>
                 </div>
                 
                </div>
            </div>
     
         </div>
    </div>
    
</div>