<div *ngIf="salesRedemptionDetail" class="card card-detail">
    <div class="card-header">
        <button class="btn back_button" (click)="backToHere()"><i class="fa fa-fw fa-angle-left"></i> back</button>
    </div>

    <ng-template #empty_image><span>
        empty
    </span></ng-template>
  
    <div class="card-content">
        <div class="member-detail">
    
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-header"><h2>Data Order</h2></div>
                        <div class="card-content">
                            <div class="col-md-12">
                                <label>Tanggal Proses</label>
                                <div name="order_id">{{salesRedemptionDetail.approve_date}}</div>

                                <label>Order ID</label>
                                <div name="order_id">{{salesRedemptionDetail.order_id}}</div>

                                <label>Total Quantity</label>
                                <div name="member_id">{{salesRedemptionDetail.total_quantity}}</div>

                                <label>Total Points Redeem</label>
                                <div name="member_id">{{salesRedemptionDetail.sum_total}}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-header"><h2>Data Pelanggan</h2></div>
                        <div class="card-content">
                            <div class="col-md-12">             
                                <label>ID Pelanggan</label>
                                <div name="order_id">{{salesRedemptionDetail.id_toko}}</div>

                                <label>Nama Entitas</label>
                                <div name="member_id">{{salesRedemptionDetail.nama_toko}}</div>

                                <label>Nama PIC</label>
                                <div name="member_id">{{salesRedemptionDetail.nama_pemilik}}</div>

                                <label>Alamat Kirim</label>
                                <div name="member_id">{{salesRedemptionDetail.address_detail.address}}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-header"><h2>Status Order</h2></div>
                        <div class="card-content">
                            <div class="col-md-12">             
                                <label>Status</label>
                                <div name="member_id">{{salesRedemptionDetail.status}}</div>
                                
                                <!-- <div class="need-approval-text" *ngIf="salesRedemptionDetail.status == 'REQUESTED' && !processNow && !declineNow">
                                    <span>This request needs approval</span>
                                </div> -->

                                <div class="need-approval-text" *ngIf="salesRedemptionDetail.status == 'PROCESSED' && processNow && !declineNow">
                                    <span>Are you sure to complete this order?</span>
                                </div>

                                <!-- <div class="need-approval-text" *ngIf="salesRedemptionDetail.status == 'REQUESTED' && !processNow && declineNow">
                                    <span>Are you sure to decline this request?</span>
                                </div> -->

                                <div style="display: flex;">
                                    <div class="btn-action-stock" *ngIf="salesRedemptionDetail.status == 'PROCESSED' && !processNow && !declineNow">
                                        <button class="btn btn-approve" (click)="isProcessNow()">Complete this Order</button>
                                    </div>
    
                                    <!-- <div class="btn-action-stock" *ngIf="salesRedemptionDetail.status == 'REQUESTED' && !processNow && !declineNow">
                                        <button class="btn btn-decline" (click)="isDeclineNow()">Decline</button>
                                    </div> -->
                                </div>

                                <div class="btn-action-stock" *ngIf="salesRedemptionDetail.status == 'PROCESSED' && processNow && !declineNow">
                                    <button class="btn btn-approve" (click)="completeOrder(salesRedemptionDetail.order_id)">Complete Now</button>
                                    <button class="btn btn-cancel" (click)="isProcessNow()">Cancel</button>
                                </div>

                                <!-- <div class="btn-action-stock" *ngIf="salesRedemptionDetail.status == 'REQUESTED' && !processNow && declineNow">
                                    <button class="btn btn-decline" (click)="completeOrder(salesRedemptionDetail.order_id, 'cancel')">Decline Now</button>
                                    <button class="btn btn-cancel" (click)="isDeclineNow()">Cancel</button>
                                </div> -->
                            </div>
                        </div>
                    </div>

                </div>
               
            </div>
         </div>
    </div>
    
</div>

<div *ngIf="salesRedemption&&redemptionDetail==false &&!errorMessage">
    <app-form-builder-table 
    [tableFormat] = "tableFormat" 
    [table_data]  = "salesRedemption" 
    [searchCallback]= "[service, 'searchRedemptionReportint',this]" 
    [total_page]="totalPage"
    >
    </app-form-builder-table>
</div>

<div *ngIf="showLoadingSpinner" id="cover-spin">
    <div class="spin-content">
        <div class="spin-text">processing ...</div>
        <progressbar [max]="processTotal" [value]="processCount" [striped]="true" [animate]="true"><i>{{processCount}} / {{processTotal}}</i></progressbar>
    </div>
</div>
