<div *ngIf="!edit" class="card card-detail">
        <div class="card-header">
            <!-- <button class="btn back_button" (click)="backToTable()"><i class="fa fa-fw fa-angle-left"></i> back</button><h1>{{detail._id}}</h1> -->
            <button class="btn edit_button" (click)="editThis()"><i class="fa fa-fw fa-pencil-alt"></i> edit</button>
        </div> 
        <div class="card-content">
            <div class="report-detail">
        
                <div class="row">
                 <div class=" col-md-8" >
                     <div class="card mb-3">
                         <div class="card-header"><h2> Report Details </h2></div>
                         <div class="card-content">
                             <div class="col-md-12">
                                 <label>Report ID</label>
                                 <div name="_id" >{{detail._id}}</div>
                                 <label>TX ID</label>
                                 <div name="tx_id" >{{detail.tx_id}}</div>
                                 <label>Reference Number</label>
                                 <div name="reference_no" >{{detail.reference_no}}</div>
                                 <label>Member ID</label>
                                 <div name="member_id" >{{detail.member_id}}</div>
                                 <label>Total Points</label>
                                 <div name="total_points" >{{detail.total_points}}</div>
                                 <label>Merchant Name</label>
                                 <div name="merchant_name" >{{detail.merchant_name}}</div>
                                 <label>Outlet Name</label>
                                 <div name="outlet_name">{{detail.outlet_name}}</div>
                                
    
    
                             </div>
                           
                          </div>
                     </div>
                    </div>
                    <div class=" col-md-4" >
                     <div class="card mb-3">
                         <div class="card-header"><h2>Report Date &amp; Report Status Date</h2> </div>
                         <div class="card-content">
                             <div class="col-md-12">
                                 
                                    <label>Process Date</label>
                                    <div name="process_date" >{{detail.process_date}}</div>
                                    <label>TX Date</label>
                                    <div name="tx_date" >{{detail.tx_date}}</div>
                                    <label>Created Date</label>
                                    <div name="created_date" >{{detail.created_date}}</div>
                                 
                             </div>
                           
                          </div> 
                     </div>
                     
                    </div>
                </div>
         
             </div>
        </div>
    </div>
    <!-- <div *ngIf="edit">
        <app-report-edit [back]="[this, 'editThis']" [detail]="detail"></app-report-edit>
    </div> -->