<div [@routerTransition]>
       
  <app-page-header [heading]="'Add New Notification Group'" [icon]="'fa-table'"></app-page-header>
  
 <div>
    <form #form="ngForm" (ngSubmit)="formSubmitAddNotificationGroup(form.value)">
      <div class="col-md-6">
          <label>Group Name</label>
          <form-input name="name" [placeholder]="'Group Name'"  [type]="'text'" [(ngModel)]="name" required></form-input>
          <label>Description</label>
          <form-input name="description" [type]="'text'" [placeholder]="'Description'"  [(ngModel)]="description" required></form-input>
          <label>Notification Topic</label>
          <form-select name="topic" [(ngModel)]="topic" [data]="notification_topic"></form-select>
          <label>Status</label>
          <form-select name="status" [(ngModel)]="status" [data]="notification_status"></form-select>
        </div>  
      <button class="btn" type="submit" [disabled]="form.pristine">Submit</button> 
      </form>
 </div>
 
</div>

 