<div *ngIf="!edit && !isChangePassword && !isShowPassword && !errorMessage" class="card card-detail">
    <div class="card-header">
        <button class="btn back_button" (click)="backToTable()"><i class="fa fa-fw fa-angle-left"></i> back</button>
        <div class="edit_button">
            <!-- <button class="btn btn-right" (click)="showPassword()"><i class="fa fa-fw fa-lock"></i> show password</button> -->
            <button class="btn btn-right" (click)="changePassword()"><i class="fa fa-fw fa-key"></i> change password</button>
            <!-- <button class="btn btn-right" (click)="editThis()"><i class="fa fa-fw fa-pencil-alt"></i> edit</button> -->
        </div>
    </div>

    <ng-template #empty_image><span>
        empty
    </span></ng-template>
  
    <div class="card-content">
        <div class="member-detail">
    
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-header" *ngIf="!mci_project"><h2>Data Pemilik dan Toko</h2></div>
                        <div class="card-header" *ngIf="mci_project"><h2>Data Pelanggan</h2></div>
                        <div class="card-content">
                            <div class="col-md-12">             
                                <label>ID Pelanggan</label>
                                <div name="member_id">{{memberDetail.username}}</div>
                                
                                <label *ngIf="!mci_project">Nama Toko</label>
                                <div *ngIf="memberDetail && memberDetail.input_form_data && !mci_project" name="full_name">{{memberDetail.input_form_data.nama_toko}}</div>
                                
                                <label *ngIf="!mci_project">Nama Distributor</label>
                                <div *ngIf="memberDetail && memberDetail.input_form_data && !mci_project" name="full_name">{{memberDetail.input_form_data.nama_distributor}}</div>

                                <label *ngIf="!mci_project">Alamat Toko</label>
                                <div *ngIf="memberDetail && memberDetail.input_form_data && !mci_project" name="full_name">{{memberDetail.input_form_data.alamat_toko}}</div>

                                <label *ngIf="!mci_project">Nama Pemilik</label>
                                <label *ngIf="mci_project">Nama Pelanggan</label>
                                <div *ngIf="memberDetail && memberDetail.input_form_data" name="full_name">{{memberDetail.input_form_data.nama_pemilik}}</div>

                                <label *ngIf="!mci_project">No. WA Pemilik</label>
                                <label *ngIf="mci_project">No. WA Pelanggan</label>
                                <div *ngIf="memberDetail && memberDetail.input_form_data" name="full_name">{{memberDetail.input_form_data.no_wa_pemilik}}</div>
                                
                                <label *ngIf="!mci_project">No. KTP Pemilik</label>
                                <div *ngIf="memberDetail && memberDetail.input_form_data && !mci_project" name="full_name">{{memberDetail.input_form_data.ktp_pemilik}}</div>

                                <label *ngIf="!mci_project">Foto KTP Pemilik</label>
                                <div class="member-detail-image-container" *ngIf="memberDetail && memberDetail.input_form_data && !mci_project">
                                    <ng-container *ngIf="validURL(memberDetail.input_form_data.foto_ktp_pemilik); else empty_image">
                                        <a href={{memberDetail.input_form_data.foto_ktp_pemilik}} target="_blank">
                                            <img src={{memberDetail.input_form_data.foto_ktp_pemilik}} class="member-detail-image" />
                                        </a>
                                        <div class="btn-download-container">
                                            <button (click)="downloadImage(memberDetail.input_form_data.foto_ktp_pemilik)" class="btn-download-img"><i class="fa fa-fw fa-download"></i> Download</button>
                                        </div>
                                    </ng-container>
                                    
                                    
                                </div>

                                <label *ngIf="!mci_project">No. NPWP Pemilik</label>
                                <div *ngIf="memberDetail && memberDetail.input_form_data && !mci_project" name="full_name">{{memberDetail.input_form_data.npwp_pemilik}}</div>

                                <label *ngIf="!mci_project">Foto NPWP Pemilik</label>
                                <div class="member-detail-image-container" *ngIf="memberDetail && memberDetail.input_form_data && !mci_project">
                                    <ng-container  *ngIf="validURL(memberDetail.input_form_data.foto_npwp_pemilik); else empty_image">
                                        <a href={{memberDetail.input_form_data.foto_npwp_pemilik}} target="_blank">
                                            <img src={{memberDetail.input_form_data.foto_npwp_pemilik}} class="member-detail-image" />
                                        </a>
                                        <div class="btn-download-container">
                                            <button (click)="downloadImage(memberDetail.input_form_data.foto_npwp_pemilik)" class="btn-download-img"><i class="fa fa-fw fa-download"></i> Download</button>
                                        </div>
                                    </ng-container>
                                </div>

                            </div>
                        
                        </div>
                    </div>
                </div>
                <div class=" col-md-4" >
                    <div class="card mb-3">
                        <div class="card-header"><h2>Data Penerima </h2></div>
                        <div class="card-content">
                            <div class="col-md-12">

                                <label *ngIf="!mci_project">Hadiah Dikuasakan</label>
                                <div *ngIf="memberDetail && memberDetail.input_form_data && !mci_project" name="email">{{memberDetail.input_form_data.hadiah_dikuasakan}}</div>
                            
                                <label>Nama Penerima</label>
                                <div *ngIf="memberDetail && memberDetail.input_form_data" name="email">{{memberDetail.input_form_data.nama_penerima_gopay}}</div>

                                <label>No. WA Penerima</label>
                                <div *ngIf="memberDetail && memberDetail.input_form_data" name="email">{{memberDetail.input_form_data.no_wa_penerima}}</div>

                                <label *ngIf="!mci_project">No. Gopay Penerima<div style="font-size: 10px;">(Jika hadiah berupa Saldo Gopay, isi dengan No. Gopay Penerima)</div></label>
                                <div *ngIf="memberDetail && memberDetail.input_form_data && !mci_project" name="email">{{memberDetail.input_form_data.telp_penerima_gopay}}</div>

                               <label>Alamat Pengiriman</label>
                               <div *ngIf="memberDetail && memberDetail.input_form_data" name="email">{{memberDetail.input_form_data.alamat_rumah}}</div>

                               <label *ngIf="!mci_project">No. KTP Penerima</label>
                               <div *ngIf="memberDetail && memberDetail.input_form_data && !mci_project" name="email">{{memberDetail.input_form_data.ktp_penerima}}</div>

                               <label *ngIf="!mci_project">Foto KTP Penerima</label>
                                <div class="member-detail-image-container" *ngIf="memberDetail && memberDetail.input_form_data && !mci_project">
                                    <ng-container *ngIf="validURL(memberDetail.input_form_data.foto_ktp_penerima); else empty_image">
                                        <a href={{memberDetail.input_form_data.foto_ktp_penerima}} target="_blank" >
                                           <img src={{memberDetail.input_form_data.foto_ktp_penerima}} class="member-detail-image" />
                                        </a>
                                        <div class="btn-download-container">
                                            <button (click)="downloadImage(memberDetail.input_form_data.foto_ktp_penerima)" class="btn-download-img"><i class="fa fa-fw fa-download"></i> Download</button>
                                        </div>
                                    </ng-container>
                                </div>

                               <label *ngIf="!mci_project">No. NPWP Penerima</label>
                               <div *ngIf="memberDetail && memberDetail.input_form_data && !mci_project" name="email">{{memberDetail.input_form_data.npwp_penerima}}</div>

                               <label *ngIf="!mci_project">Foto NPWP Penerima</label>
                               <div class="member-detail-image-container" *ngIf="memberDetail && memberDetail.input_form_data && !mci_project">
                                   <ng-container *ngIf="validURL(memberDetail.input_form_data.foto_npwp_penerima); else empty_image">
                                       <a href={{memberDetail.input_form_data.foto_npwp_penerima}} target="_blank">
                                          <img src={{memberDetail.input_form_data.foto_npwp_penerima}} class="member-detail-image" />
                                       </a>
                                       <div class="btn-download-container">
                                           <button (click)="downloadImage(memberDetail.input_form_data.foto_npwp_penerima)" class="btn-download-img"><i class="fa fa-fw fa-download"></i> Download</button>
                                       </div>
                                   </ng-container>
                                </div>
                            </div>
                         </div>
                    </div>
                    
                </div>
                <!-- <div class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-header"><h2>Data Foto</h2></div>
                        <div class="card-content">
                            <div class="col-md-12">             

                                <label class="label-bold">Foto BAST</label>
                                <ng-container *ngIf="memberDetail && memberDetail.input_form_data && memberDetail.input_form_data.foto_bast && isArray(memberDetail.input_form_data.foto_bast) && memberDetail.input_form_data.foto_bast.length > 0; else empty_image">
                                    <div class="member-detail-image-container"  *ngFor="let itemImage of memberDetail.input_form_data.foto_bast; let i = index">
                                        <ng-container *ngIf="validURL(itemImage.url); else empty_image">
                                            <a href={{itemImage.url}} target="_blank">
                                                <img src={{itemImage.url}} class="member-detail-image" />
                                            </a>
                                            <div class="btn-download-container">
                                                <button (click)="downloadImage(itemImage.url)" class="btn-download-img"><i class="fa fa-fw fa-download"></i> Download</button>
                                            </div>
                                            <div style="text-align: center;">
                                                <span>
                                                    <b>Last updated : {{convertDate(itemImage.updated_date)}}</b>
                                                </span>
                                            </div>

                                            <br/>
                                            <div>
                                                <span><b>Desription :</b></span>
                                                <span>
                                                    {{itemImage.desc}}
                                                </span>
                                            </div>

                                        </ng-container>
                                    </div>
                                </ng-container>

                                <ng-template #empty_image>
                                    <div>
                                        empty
                                    </div>
                                </ng-template>

                                <hr style="margin:35px 0 20px 0;"/>

                                <label class="label-bold">Foto Surat Kuasa</label>
                                <ng-container *ngIf="memberDetail && memberDetail.input_form_data && memberDetail.input_form_data.foto_surat_kuasa && isArray(memberDetail.input_form_data.foto_surat_kuasa) && memberDetail.input_form_data.foto_surat_kuasa.length > 0; else empty_image">
                                    <div class="member-detail-image-container"   *ngFor="let itemImage of memberDetail.input_form_data.foto_surat_kuasa; let i = index">
                                        <ng-container *ngIf="validURL(itemImage.url); else empty_image">
                                            <a href={{itemImage.url}} target="_blank">
                                                <img src={{itemImage.url}} class="member-detail-image" />
                                            </a>
                                            <div class="btn-download-container">
                                                <button (click)="downloadImage(itemImage.url)" class="btn-download-img"><i class="fa fa-fw fa-download"></i> Download</button>
                                            </div>
                                            <div style="text-align: center;">
                                                <span>
                                                    <b>Last updated : {{convertDate(itemImage.updated_date)}}</b>
                                                </span>
                                            </div>
                                            <br/>
                                            <div>
                                                <span><b>Desription :</b></span>
                                                <span>
                                                    {{itemImage.desc}}
                                                </span>
                                            </div>
                                        </ng-container>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
            <!-- <div class="row">
                <div class="col-md-12 bg-delete"><button class="btn delete-button float-right btn-danger" (click)="delete()">delete this</button></div>
            </div> -->
            
         </div>
    </div>
</div>
<div *ngIf="errorMessage" class="error-message">
    <div class="text-message">
        <i class="fas fa-ban"></i>
        {{errorMessage}}
    </div>
</div>
<div *ngIf="edit">
    <app-data-member-edit [back]="[this, 'editThis']" [detail]="memberDetail"></app-data-member-edit>
</div>

<div *ngIf="isChangePassword">
    <app-change-password [back]="[this, 'changePassword']" [detail]="memberDetail"></app-change-password>
</div>

<div *ngIf="isShowPassword">
    <app-show-password [back]="[this, 'showPassword']" [detail]="memberDetail"></app-show-password>
</div>