<!-- OPENMOREDETAIL == UNTUK DI ADMIN PORTAL -->
<!-- EDITTHIS = UNTUK DI MERCHANT PORTAL -->

<!-- Note :

currentPermission untuk ADMIN itu untuk si admin
currentPermission untuk MERCHANT itu untuk bagian merchant
karena kita memakai 1 page yang sama -->





<div class="card card-detail">
    <div class="card-header" id="header">
        <button class="btn back_button" (click)="backToDetail()"><i class="fa fa-fw fa-angle-left"></i> back</button>
        <!-- <button class="btn save_button {{loading}}" type="submit" (click)="saveThis()"><i class="fa fa-fw fa-save"></i>
            <span *ngIf="!loading">Save</span>
            <span *ngIf="loading">Please Wait</span>
        </button> -->
    </div>
    <div class="card-content" *ngIf="orderHistoryDetail">
        <div class="orderhistoryallhistory-detail">

            <div class="row">
                <!-- <div *ngIf="errorLabel!==false">
                    {{errorLabel}}
                </div> -->
                <div class=" col-md-8">
                    <div>

                        <div class="card-content">
                            <div class="col-md-12">
                                <!-- <button class="btn btn-outline-primary btn-sm" *ngIf="openMoreDetail"
                                    (click)="backToList()">Back</button> -->
                                <div class="form-group head-one">
                                    <label class="order-id"><strong> {{orderHistoryDetail.order_id}}</strong> |
                                        <span class="buyer-name" style="color:#0EA8DB"><strong>
                                                {{orderHistoryDetail.member_detail.id_pel}}</strong></span></label>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6" style="font-size: 20px;">
                                        <label>Request Date : <strong>{{orderHistoryDetail.request_date}}</strong></label>
                                    </div>

                                    <!-- <div class="form-group col-md-6">
                                        <label>User ID : {{orderHistoryDetail._id}} </label>
                                    </div> -->
                                </div>

                                <!-- ADMIN PART -->
                                <!-- <div *ngIf="currentPermission == 'admin' && !openMoreDetail"> -->
                                    <!-- <div *ngFor="let orderHistoryDetail of orderHistoryDetail.order_list let i = index"
                                        class="card card-body mb-5 shadow rounded"> -->
                                        <div class="d-flex justify-content-between mb-3">
                                            <div>
                                                <!-- <span style="color:#0ea8db; font-weight: bold;">{{orderHistoryDetail.merchant_name}}</span> -->
                                                <!-- <img style="width: 40px;" src="{{orderHistoryDetail.image_url}}"
                                                    alt="Locard Icon">
                                                <span style="color:#0ea8db; font-weight: bold;margin-left: 10px;">{{orderHistoryDetail.merchant_name}}</span> -->
                                                <!-- <span style="border-left:solid 0.5px grey; margin: 0px 10px"></span> -->
                                                <span style="color:#0ea8db; font-weight: bold;">Order Id : </span>
                                                {{orderHistoryDetail.order_id}}
                                            </div>
                                            <!-- <button class="common-button blue-fill"
                                                (click)="openDetail()">Go To Order Detail</button> -->
                                        </div>
                                        <div class="product-group">
                                            <table class="product">
                                                <tr>
                                                    <th class="product">Product Name</th>
                                                    <th>
                                                        Varian
                                                    </th>
                                                    <th class="qty">qty</th>
                                                    <th class="ut">unit price</th>
                                                    <th class="price">price</th>
                                                </tr>
                                                <tr *ngFor="let product of orderHistoryDetail.products; let i = index">
                                                    <td>{{product.product_name}}
                                                         <!-- <br />
                                                        <em><strong>note</strong>: {{product.note_to_merchant}}</em> -->
                                                    </td>
                                                    <td>
                                                        {{product.variant && ((product.variant | json) != '{}') && ((product.variant | json) != '[]') ? replaceVarian(product.variant) : '-'}}
                                                    </td>
                                                    <td class="qty">{{product.quantity | number}}x</td>
                                                    <td class="qty">{{product.sku_value | number}}</td>
                                                    <td class="qty">{{product.total_product_price | number}}
                                                    </td>
                                                    <!-- <td>{{orderHistoryDetail.unique_amount}}</td>  -->
                                                </tr>
                                                <!-- <tr>
                                                    <td>Shipping Fee</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td class="fee">{{orderHistoryDetail.shipping_fee  | number}}</td>
                                                    <td></td>

                                                </tr> -->
                                                <!-- <tr
                                                    *ngIf="orderHistoryDetail.unique_amount && orderHistoryDetail.payment_method == 'manual_payment'">
                                                    <td>Unique Amount</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td class="fee">
                                                        {{orderHistoryDetail.unique_amount  | number}}</td>
                                                   

                                                </tr> -->
                                                <tr style="border-top: 1.5px solid #eaeaea; width:80%;">
                                                    <td colspan="4" class="priceTot">Total Price</td>
                                                    <td *ngIf="orderHistoryDetail.billings != undefined"
                                                        class="priceTotal">
                                                        {{orderHistoryDetail.sum_total | number}}</td>
                                                    <td *ngIf="orderHistoryDetail.billings == undefined"
                                                        class="priceTotal">
                                                        {{orderHistoryDetail.sum_total | number}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                        <!-- SHIPPING HISTORY -->
                                        <!-- <div class="product-group" *ngIf="orderHistoryDetail.status && orderHistoryDetail.status != 'CANCEL' ">
                                            <span style="color:#0EA8DB">Shipping History</span>
                                            <table>
                                                <td>
                                                    <tr>
                                                        

                                                        <td>Delivery Service :
                                                                <span *ngIf="orderHistoryDetail.status == 'WAITING FOR CONFIRMATION'">
                                                                    <span *ngIf="orderHistoryDetail.delivery"
                                                                    style="color:#0EA8DB; font-weight: bold;">{{orderHistoryDetail.delivery.delivery_detail.description}}</span></span>
                                                                    <span *ngIf="orderHistoryDetail.status == 'PAID'">
                                                                        <span *ngIf="orderHistoryDetail.delivery"
                                                                    style="color:#0EA8DB; font-weight: bold;">{{orderHistoryDetail.delivery.delivery_detail.description}}</span>
                                                                    </span>
                                                             
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                    <tr *ngIf="orderHistoryDetail.courier">
                                                        <td>Courier : <span>{{orderHistoryDetail.courier.courier}}</span> </td>
                                                    </tr>
                                                    <tr *ngIf="!orderHistoryDetail.courier">
                                                        <td>Courier : <span>No Service</span> </td>
                                                        <td></td>
                                                    </tr>
                                                    <tr *ngIf="orderHistoryDetail.courier && orderHistoryDetail.courier.supported == 1">
                                                        <td style="color:#0EA8DB"><b>Courier Kerjasama </b></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr *ngIf="orderHistoryDetail.courier && orderHistoryDetail.courier.supported != 1">
                                                        <td style="color:green">Courier Lain </td>
                                                        <td></td>
                                                    </tr>

                                                </td>
                                                <td style="vertical-align : middle;text-align:center;">
                                                    <tr rowspan="2">
                                                        Last Status : <br />
                                                        <span
                                                            style="font-size: 20px;"><strong>{{info[i]}}</strong></span>
                                                        <br />
                                                        {{orderHistoryDetail.request_date}}

                                                    </tr>
                                                </td>


                                            </table>
                                        </div> -->

                                        <div class="product-group" *ngIf="orderHistoryDetail.status == 'CANCEL'">
                                            <span style="color:#0EA8DB">Shipping History</span>
                                            <table>
                                                <tr>
                                                    <td>
                                                        <span
                                                            style="color:white; font-weight: bold;background-color: red;">This
                                                            order has been cancelled</span>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>

                                        <!-- END SHIPPING HISTORY -->

                                    <!-- </div> -->
                                    <div class="product-group">
                                        <span style="color:#0EA8DB; font-weight: bold; font-size:14px; ">Order
                                            Summary</span>
                                        <table>
                                            <tr>
                                                <th class="product">Name</th>
                                                <th></th>
                                                <th></th>
                                                <th class="price">Price</th>
                                            </tr>
                                            <tr>
                                                <td>Total Orders</td>
                                                <td></td>
                                                <td></td>
                                                <td class="price">{{orderHistoryDetail.sum_total | number}}
                                                </td>
                                            </tr>
                                            <tr *ngIf="orderHistoryDetail.billings">
                                                <td><span *ngIf="orderHistoryDetail.billings.discount"> {{orderHistoryDetail.billings.discount.product_name}}</span></td>
                                                <td></td>
                                                <td class="priceBil"></td>
                                                <td class="priceBil" *ngIf="orderHistoryDetail.billings.discount">
                                                    {{orderHistoryDetail.billings.discount.value | number}}
                                                </td>
                                                <td class="priceBil" *ngIf=" !orderHistoryDetail.billings.discount">
                                                    {{0 | number}}</td>
                                            </tr>
                                            <tr
                                                *ngIf="orderHistoryDetail.unique_amount && orderHistoryDetail.payment_method == 'manual_payment'">
                                                <td>Unique Amount</td>
                                                <td></td>
                                                <td></td>
                                                <td class="price">{{orderHistoryDetail.unique_amount | number}}
                                                </td>
                                            </tr>
                                            <tr style="border-top: 1.5px solid #eaeaea; ">
                                                <td>TOTAL PRICE</td>
                                                <td></td>
                                                <td></td>
                                                <td class="price">{{orderHistoryDetail.sum_total | number}}
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                <!-- </div> -->

                                <!-- ADMIN EDIT PAGE -->

                                <div *ngIf="currentPermission == 'admin' && openMoreDetail">
                                    <div>
                                        <span style="color:#0ea8db; font-weight: bold;">{{detailPage.merchant_name}}</span>
                                        |
                                        <span style="color:#0ea8db; font-weight: bold;">Order Id : </span>
                                        {{detailPage.booking_id}}
                                        <div *ngIf="detailPage.products" class="product-group">
                                            <table class="product">
                                                <tr>
                                                    <th class="product">Product Name</th>
                                                    <th class="qty">qty</th>
                                                    <th class="ut">unit price</th>
                                                    <th class="price">price</th>
                                                </tr>
                                                <tr *ngFor="let p of detailPage.products">
                                                    <td>{{p.product_name}} <br />
                                                        <em><strong>note</strong>: {{p.note_to_merchant}}</em>
                                                    </td>
                                                    <td class="qty">{{p.quantity | number }}x</td>
                                                    <td class="qty">{{p.fixed_price | number}}</td>
                                                    <td class="qty">{{p.total_product_price | number}}
                                                    </td>
                                                    <!-- <td>{{orderHistoryDetail.unique_amount}}</td>  -->
                                                </tr>
                                                <tr>
                                                    <td>Shipping Fee</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td class="fee">{{detailPage.shipping_fee | number }}</td>
                                                    <!-- <td></td> -->

                                                </tr>
                                                <!-- <tr
                                                    *ngIf="orderHistoryDetail.unique_amount && orderHistoryDetail.payment_method == 'manual_payment'">
                                                    <td>Unique Amount</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td class="fee">
                                                        {{orderHistoryDetail.unique_amount  | number}}</td>
                                                   

                                                </tr> -->
                                                <tr style="border-top: 1.5px solid #eaeaea; width:80%;">
                                                    <td colspan="3" class="priceTot">Total Price</td>
                                                    <td *ngIf="orderHistoryDetail.billings != undefined"
                                                        class="priceTotal">
                                                        {{moreOrderDetail.billings.sum_total | number }}</td>
                                                    <td *ngIf="orderHistoryDetail.billings == undefined"
                                                        class="priceTotal">
                                                        {{moreOrderDetail.billings.sum_total | number }}</td>
                                                </tr>
                                            </table>
                                        </div>
                                        <!-- SHIPPING HISTORY -->
                                        <!-- <div class="product-group"
                                            *ngIf="detailPage.status && detailPage.status != 'CANCEL'">
                                            <span style="color:#0EA8DB">Shipping History</span>
                                            <table>

                                                <td>
                                                    <tr>
                                                        <td>Delivery Service :
                                                            <span *ngIf="moreOrderDetail.delivery"
                                                                style="color:#0EA8DB; font-weight: bold;">{{moreOrderDetail.delivery.delivery_detail.description}}</span>
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                    <tr *ngIf="detailPage.courier">
                                                        <td>Courier : <span>{{detailPage.courier.courier}}</span> </td>
                                                    </tr>
                                                    <tr *ngIf="!detailPage.courier">
                                                        <td>Courier : <span>No Service</span> </td>
                                                        <td></td>
                                                    </tr>
                                                    <tr *ngIf="detailPage.courier && detailPage.courier.supported == 1">
                                                        <td style="color:#0EA8DB"><b>Courier Kerjasama </b></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr *ngIf="detailPage.courier && detailPage.courier.supported != 1">
                                                        <td style="color:green">Courier Lain </td>
                                                        <td></td>
                                                    </tr>
                                                </td>
                                                <td style="vertical-align : middle;text-align:center;">
                                                    <tr rowspan="2">
                                                        Last Status : <br />
                                                        <span
                                                            style="font-size: 20px;"><strong>{{infoDetail}}</strong></span>
                                                        <br />
                                                        {{orderHistoryDetail.created_date}}

                                                    </tr>
                                                </td>

                                            </table>
                                        </div> -->

                                        <div class="product-group" *ngIf="detailPage.status == 'CANCEL'">
                                            <span style="color:#0EA8DB">Shipping History</span>
                                            <table>
                                                <tr>
                                                    <td>
                                                        <span
                                                            style="color:white; font-weight: bold;background-color: red;">This
                                                            order has been cancelled</span>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>

                                        <!-- END SHIPPING HISTORY -->

                                    </div>
                                    <div class="product-group" *ngIf="orderHistoryDetail.order_list">
                                        <span style="color:#0EA8DB; font-weight: bold; font-size:14px; ">Order Summary</span>
                                        <table>
                                            <tr>
                                                <th class="product">Name</th>
                                                <th></th>
                                                <th></th>
                                                <th class="price">Price</th>
                                            </tr>
                                            <tr>
                                                <td>Total Orders</td>
                                                <td></td>
                                                <td></td>
                                                <td class="price">{{orderHistoryDetail.billings.total_price | number}}
                                                </td>
                                            </tr>
                                            <tr *ngIf="orderHistoryDetail.billings">
                                                <td><span *ngIf="orderHistoryDetail.billings.discount"> {{orderHistoryDetail.billings.discount.product_name}}</span></td>
                                                <td></td>
                                                <td class="priceBil"></td>
                                                <td class="priceBil" *ngIf="orderHistoryDetail.billings.discount">
                                                    {{orderHistoryDetail.billings.discount.value | number}}
                                                </td>
                                                <td class="priceBil" *ngIf=" !orderHistoryDetail.billings.discount">
                                                    {{0 | number}}</td>
                                            </tr>
                                            <tr
                                            *ngIf="orderHistoryDetail.unique_amount && orderHistoryDetail.payment_method == 'manual_payment'">
                                            <td>Unique Amount</td>
                                            <td></td>
                                            <td></td>
                                            <td class="price">{{orderHistoryDetail.unique_amount | number}}
                                            </td>
                                        </tr>
                                            <tr style="border-top: 1.5px solid #eaeaea; ">
                                                <td>TOTAL PRICE</td>
                                                <td></td>
                                                <td></td>
                                                <td class="price">{{orderHistoryDetail.billings.sum_total | number}}
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                                <!-- MERCHANT PART -->
                                <!-- <div *ngIf="currentPermission == 'merchant' || currentPermission == 'admin'">
                                    <div class="product-group" *ngIf="orderHistoryDetail.products">
                                        <table>
                                            <tr>
                                                <th class="product">Product Name</th>
                                                <th class="qty">qty</th>
                                                <th class="ut">unit price</th>
                                                <th class="price">price</th>
                                            </tr>
                                            <tr *ngFor="let product of orderHistoryDetail.products; let i = index">
                                                <td>{{product.product_name}} <br />
                                                    <em><strong>note</strong>: {{product.note_to_merchant}}</em></td>
                                                <td class="qty">{{product.quantity}}</td>
                                                <td class="price">{{product.fixed_price | number}}</td>
                                                <td class="price">{{product.total_product_price | number}}</td>
                                            </tr>
                                            <tr *ngFor="let bd of orderHistoryDetail.additionalBillings">
                                                <td>{{bd.product_name}}</td>
                                                <td></td>
                                                <td></td>
                                                <td class="priceBil" *ngIf="bd.discount == true">
                                                    {{bd.value  | number}}</td>
                                                <td class="fee" *ngIf="bd.discount == false">
                                                    {{bd.value  | number}}
                                                </td>

                                            </tr>
                                            <td>Shipping Fee</td>
                                            <td></td>
                                            <td></td>
                                            <td class="fee">{{orderHistoryDetail.shipping_fee | currency: ' Rp '}}</td>
                                            <tr>
                                                <td></td>
                                            </tr>

                                            <tr style="border-top: 1.5px solid #eaeaea; width:80%;">
                                                <td colspan="3" class="priceTot">Total Price</td>
                                                <td *ngIf="orderHistoryDetail.billings != undefined" class="priceTotal">
                                                    {{orderHistoryDetail.billings.sum_total| number}}</td>
                                            </tr>
                                        </table>

                                    </div>
                                </div> -->

                                <div *ngIf="programType != 'reguler'" class="buyer-detail">
                                    <div class="form-group">
                                        <div class="spacing">
                                            <label id="buyer-detail">Detail {{programType == 'custom_kontraktual' ? 'Entitas' : 'Toko'}}</label>
                                            <table id="custom_table">
                                                <tr>
                                                    <th>Nama {{programType == 'custom_kontraktual' ? 'Entitas' : 'Toko'}}</th>
                                                    <th>Nama Distributor</th>
                                                    <th>Nama {{programType == 'custom_kontraktual' ? 'PIC' : 'Pemilik'}}</th>
                                                    <th>Alamat {{programType == 'custom_kontraktual' ? 'Entitas' : 'Toko'}}</th>
                                                    <th>No Telp {{programType == 'custom_kontraktual' ? 'PIC' : 'Pemilik'}}</th>
                                                </tr>
                                                <tr>
                                                    <td>{{orderHistoryDetail.member_detail.nama_toko}}</td>
                                                    <td>{{programType == 'custom_kontraktual' ? 'Semen Indonesia' : orderHistoryDetail.member_detail.nama_distributor}}</td>
                                                    <td>{{orderHistoryDetail.member_detail.nama_pemilik}}</td>
                                                    <td>{{orderHistoryDetail.member_detail.alamat_toko}}</td>
                                                    <td>{{orderHistoryDetail.member_detail.no_wa_pemilik}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <div *ngIf="programType == 'reguler'" class="buyer-detail">
                                    <div class="form-group">
                                        <div class="spacing">
                                            <label id="buyer-detail">Detail Penerima</label>
                                            <table id="custom_table">
                                                <tr>
                                                    <th>Nama Penerima</th>
                                                    <th>Alamat Pengiriman</th>
                                                    <th>No Telp Penerima</th>
                                                    <!-- <th>Email</th> -->
                                                </tr>
                                                <tr>
                                                    <td>{{orderHistoryDetail.member_detail.nama_penerima_gopay}}</td>
                                                    <td>{{orderHistoryDetail.member_detail.alamat_rumah}} , {{orderHistoryDetail.member_detail.kecamatan_rumah}} , {{orderHistoryDetail.member_detail.kota_rumah}} , {{orderHistoryDetail.member_detail.provinsi_rumah}} , <span *ngIf="orderHistoryDetail.member_detail.kode_pos_rumah">{{orderHistoryDetail.member_detail.kode_pos_rumah}}</span></td>
                                                    <td>{{orderHistoryDetail.member_detail.telp_penerima_gopay != '-' ? orderHistoryDetail.member_detail.telp_penerima_gopay : orderHistoryDetail.member_detail.no_wa_penerima}}</td>
                                                    <!-- <td>{{orderHistoryDetail.member_detail.email}}</td> -->
                                                </tr>
                                            </table>
                                        </div>
                                    </div>

                                </div>


                            </div>
                            <!-- <div *ngIf="errorLabel!==false">
                                {{errorLabel}}
                            </div> -->

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div *ngIf="!merchantMode && currentPermission == 'admin'">
                        <div class="card mb-3">
                            <div class="card-header">
                                <h2>Order Info</h2>

                            </div>
                            <div class="card-content">
                                <label>Order Status :
                                    <strong>
                                        <span style="color:#0EA8DB">{{orderHistoryDetail.status}}</span>
                                    </strong>
                                </label>
                                <!-- <div class="img-upload">
                                    <button class="btn_upload" (click)="processOrder()">
                                        <i class="fa fa-fw fa-check-circle"></i>
                                        <span>Process Order</span>
                                    </button>
                                    <button class="btn_delete" (click)="cancelOrder()">
                                        <i class="fa fa-fw fa-times-circle"></i>
                                        <span>Cancel Order</span>
                                    </button>
                                </div>                     -->
                            </div>
                        </div>
                        <!-- <div class="card mb-3"> -->
                            <!-- <div class="card-header">
                                <h2>Payment Info</h2>
                                <button *ngIf="orderHistoryDetail.status == 'WAITING FOR CONFIRMATION'" class="save"
                                    [disabled]="!isClicked && !isClicked2" [class.save-active]="isClicked || isClicked2"
                                    (click)="saveThis()">Save Change</button>
                                <button *ngIf="orderHistoryDetail.status == 'WAITING FOR CONFIRMATION' && !change"
                                    class="save change" (click)="change = true">Change Transaction Status</button>

                            </div> -->
                            <!-- <div class="card-content">
                                <label>Payment Status :
                                    <strong>
                                        <span *ngIf="orderHistoryDetail.status == 'WAITING FOR CONFIRMATION'"
                                            style="color:rgb(2, 172, 24);">{{orderHistoryDetail.status}}</span>
                                        <span *ngIf="orderHistoryDetail.status != 'WAITING FOR CONFIRMATION'"
                                            style="color:#0EA8DB">{{orderHistoryDetail.status}}</span>
                                    </strong>
                                </label>
                                <br>
                                <div *ngIf="change">
                                    <label>Transaction Status</label>
                                    <div *ngIf="!merchantMode" name="transaction_status"
                                        class="status-button-container">
                                        
                                        <button class="common-button option" [class.paid]="isClicked"
                                            (click)="onpaidclick()" target="_blank"> <span *ngIf="isClicked"><i
                                                    class="material-icons">
                                                    done
                                                </i></span>Paid</button>
                                        <button class="common-button option" [class.cancel]="isClicked2"
                                            (click)="oncancelclick()" target="_blank"><span *ngIf="isClicked2"><i
                                                    class="material-icons">
                                                    done
                                                </i></span> Cancel</button>
                                    </div>
                                </div>
                                <div class="border-top my-2" style="border-bottom: solid 0.5px #eaeaea"></div>
                                <div *ngIf="merchantMode" name="transaction_status">
                                    <div class="">
                                        {{orderHistoryDetail.status}}
                                    </div>
                                </div>
                                <br *ngIf="orderHistoryDetail.billings != undefined" class="services">
                                <table *ngIf="orderHistoryDetail.billings != undefined" class="services">
                                    <tr>
                                        <th>Service</th>
                                        <th>Via</th>
                                    </tr>
                                    <tr>
                                        <td *ngIf="orderHistoryDetail.status!='CHECKOUT'">
                                            {{orderHistoryDetail.payment_detail.service}}</td>
                                        <td *ngIf="orderHistoryDetail.status=='CHECKOUT'"> -</td>

                                        <td *ngIf="orderHistoryDetail.status!='CHECKOUT'">
                                            {{orderHistoryDetail.payment_detail.payment_via}}</td>
                                        <td *ngIf="orderHistoryDetail.status=='CHECKOUT'"> -</td>
                                    </tr>
                                </table>

                                <div class="border-top my-4" style="border-bottom: solid 0.5px #eaeaea"></div>
                                <div class="btn btn-danger" style="width: 100%; padding:10px;font-size: 12px;"
                                    (click)="openNote(historyID)" *ngIf="openMoreDetail">
                                    Cancel Order</div>
                            </div> -->
                        <!-- </div> -->
                        <!-- <div class="card mb-3"
                            *ngIf="openMoreDetail && detailPage.status == 'PAID' && detailPage.transaction_status != 'HOLD' && (infoDetailLabel == 'on_delivery' || infoDetailLabel == 'delivered')">
                            <div class="card-header">
                                <h2>Escrow Option</h2>
                            </div>
                            <div class="card-content">
                                <div class="btn"
                                    style="width: 100%;padding:10px;background-color: #8854D0;color:white;font-size: 12px;"
                                    (click)="openNote2(historyID)">
                                    Hold Funds
                                </div>
                            </div>

                        </div> -->

                        <!-- <div *ngIf="orderHistoryDetail.status == 'WAITING FOR CONFIRMATION'">
                            <div *ngIf="orderHistoryDetail.billings != undefined">
                                <div *ngIf="orderHistoryDetail.status != 'PAID'" class="form-group">
                                    <label>Expired Payment date</label>
                                    <div *ngIf="orderHistoryDetail.status!='CHECKOUT'" name="payment_expire_date">
                                        {{orderHistoryDetail.payment_expire_date.in_string}}</div>
                                    <div *ngIf="orderHistoryDetail.status=='CHECKOUT'" name="payment_expire_date">
                                        {{orderHistoryDetail.payment_expire_date}}</div>
                                </div>
                            </div>
                            <span class="card-content" style="text-align: center;">Payer Detail</span>
                            <div class="card-content payer">
                                <table align="center">
                                    <th>Payer Name</th>
                                    <th>Account Number</th>
                                    <th>Payer Note</th>
                                    <tr>
                                        <td>{{orderHistoryDetail.payer_detail.payer_name}}</td>
                                        <td>{{orderHistoryDetail.payer_detail.payer_acc_number}}</td>
                                        <td>{{orderHistoryDetail.payer_detail.payment_notes}}</td>
                                    </tr>


                                </table>
                            </div>
                        </div> -->
                        <!-- <div>
                            <br>
                            <div *ngIf="orderHistoryDetail.uploaded_receipt">
                                <div class="card-content" style="text-align: center; padding:initial">
                                    Payment Slip:
                                </div>
                                <div class="card-content" style="text-align: center">
                                    <img src="{{orderHistoryDetail.uploaded_receipt}}" height="150">
                                </div>
                                <div style="text-align: center; padding-bottom: 12px;">
                                    <button class="btn btn-success" style="margin:auto;" (click)="receipt()"
                                        target="_blank"><i class="fas fa-print"></i> Open Receipt</button>
                                </div>

                            </div>
                        </div> -->

                    </div>

                    <!-- ADMIN SHIPPING INFO -->
                    <!-- <div *ngIf="orderHistoryDetail.status=='PAID' && currentPermission != 'admin'" class="card mb-3"
                        style="display:none;">
                        <div class="card-header">
                            <h2>Shipping Information </h2>
                        </div>
                        <div class="card-content" *ngFor="let orderHistoryDetail of orderHistoryDetail.order_list">
                            <div class="col-md-12" *ngIf="!orderHistoryDetail.shipping_info">
                                <label>no shipping info</label>
                            </div>
                            <div class="col-md-12" *ngIf="orderHistoryDetail.shipping_info">
                                <label>Delivery Service :
                                    <strong><span style="color:#0EA8DB">{{orderHistoryDetail.delivery.delivery_detail.service}}
                                            ({{orderHistoryDetail.delivery.delivery_detail.description}})</span></strong></label>

                                <div class="line" style="width:100%; border-top: 1.5px solid #eaeaea; "></div>
                                <p style="margin-bottom:30px; margin-top:15px;">Shipping Status</p>
                                <p style="font-size:12px;">Click each button to process your Shipping</p>




                                <div class="form-group"
                                    *ngIf="orderHistoryDetail.shipping_services!='no-services' && currentPermission =='merchant' || orderHistoryDetail.shipping_services!='no-services' && currentPermission =='admin'">
                                    <div class="shipping-status" *ngFor="let sSL of shippingStatusList; let i = index">
                                        <div class="radio-button checked-{{sSL.checked}} hovered-{{sSL.hovered}}"
                                            (click)="changeshippingStatusList(i)"
                                            (mouseenter)="hoverShippingStatusL//// ist(i,true)"
                                            (mouseleave)="hoverShippingStatusList(i, false)">
                                        </div>
                                        <label (click)="changeshippingStatusList(i)"
                                            (mouseenter)="hoverShippingStatusList(i,true)"
                                            (mouseleave)="hoverShippingStatusList(i, false)">
                                            {{sSL.label}}<br />
                                            <span *ngIf="sSL.checked"><i class="fa fa-check"></i>Done</span>
                                            <div class="form-group" *ngIf="sSL.value=='on_packaging'">
                                                <div
                                                    *ngIf="orderHistoryDetail.billings != undefined && orderHistoryDetail.courier == undefined">
                                                    <select *ngIf="!packaging" disabled class="form-control"
                                                        [(ngModel)]="orderHistoryDetail.shipping_services">
                                                        <option *ngFor="let ss of shippingServices"
                                                            [ngValue]="ss.value">
                                                            {{ss.label}}</option>
                                                    </select>
                                                    <select *ngIf="packaging" class="form-control"
                                                        [(ngModel)]="orderHistoryDetail.shipping_services">
                                                        <option *ngFor="let ss of shippingServices"
                                                            [ngValue]="ss.value">
                                                            {{ss.label}}</option>
                                                    </select>
                                                </div>
                                                <div
                                                    *ngIf="orderHistoryDetail.billings == undefined && orderHistoryDetail.courier == undefined">
                                                    <select *ngIf="!packaging" disabled class="form-control"
                                                        [(ngModel)]="orderHistoryDetail.shipping_services">
                                                        <option *ngFor="let ss of courier_list"
                                                            [ngValue]="ss.courier_code">
                                                            {{ss.courier}}</option>
                                                    </select>
                                                    <select *ngIf="packaging" class="form-control"
                                                        [(ngModel)]="orderHistoryDetail.shipping_services">
                                                        <option *ngFor="let ss of courier_list"
                                                            [ngValue]="ss.courier_code">
                                                            {{ss.courier}}</option>
                                                    </select>
                                                </div>
                                                <div
                                                    *ngIf="orderHistoryDetail.billings == undefined && orderHistoryDetail.courier != undefined">
                                                    <div *ngFor="let c of orderHistoryDetail.courier_list">
                                                        <select *ngIf="!packaging" disabled class="form-control"
                                                            [(ngModel)]="orderHistoryDetail.shipping_services">
                                                            <option *ngFor="let ss of c.supported"
                                                                [ngValue]="ss.courier">
                                                                {{ss.courier}}</option>
                                                        </select>
                                                        <select *ngIf="packaging" class="form-control"
                                                            [(ngModel)]="orderHistoryDetail.shipping_services">
                                                            <option *ngFor="let ss of c.supported"
                                                                [ngValue]="ss.courier">
                                                            </option>
                                                            {{ss.courier}}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div *ngIf="sSL.value=='on_delivery'" class="awb-list">
                                                <div *ngIf="orderHistoryDetail.courier == undefined">
                                                    <input
                                                        *ngIf="orderHistoryDetail.shipping_services!='no-services' && shippingStatusList[2].checked == true"
                                                        name="awb_receipt" class="form-control awb" [type]="'text'"
                                                        [placeholder]="'Put AWB / receipt Number'"
                                                        [(ngModel)]="orderHistoryDetail.awb_receipt" autofocus
                                                        required />
                                                    <input
                                                        *ngIf="orderHistoryDetail.shipping_services=='no-services' || shippingStatusList[2].checked == false "
                                                        class="form-control awb" disabled name="unnamed"
                                                        [placeholder]="'Put AWB / receipt Number'"
                                                        title="You can add AWB after choosing the services" />
                                                </div>
                                                <div *ngIf="orderHistoryDetail.courier != undefined">
                                                    <input
                                                        *ngIf="orderHistoryDetail.shipping_services!='no-services' && shippingStatusList[2].checked == true"
                                                        name="awb_receipt" class="form-control awb" [type]="'text'"
                                                        [placeholder]="'Put AWB / receipt Number'"
                                                        [(ngModel)]="orderHistoryDetail.courier.awb_number" autofocus
                                                        required />
                                                    <input
                                                        *ngIf="orderHistoryDetail.shipping_services=='no-services' || shippingStatusList[2].checked == false "
                                                        class="form-control awb" disabled name="unnamed"
                                                        [placeholder]="'Put AWB / receipt Number'"
                                                        title="You can add AWB after choosing the services" />
                                                </div>
                                            </div>
                                        </label>

                                    </div>
                                </div>


                                <div class="form-group" *ngIf="orderHistoryDetail.shipping_services=='no-services'">
                                    <div class="shipping-status" *ngFor="let sSL of shippingStatusList; let i = index">
                                        <div class="radio-button checked-false hovered-false">
                                        </div>
                                        <label>
                                            {{sSL.label}}<br />
                                            <span class="shipping-date"
                                                *ngIf="sSL.created_date">{{sSL.created_date}}</span>
                                        </label>
                                    </div>
                                </div>


                            </div>

                            <div class="printLabel" *ngIf="orderHistoryDetail.billings != undefined">
                                <button class="btn btn-primary" (click)="openLabel(historyID)">Open Label</button>
                            </div>

                        </div>
                    </div> -->

                    <!-- END OF ADMIN SHIPPING INFO -->

                    <!-- MERCHANT SHIPPING INFO -->
                    <!-- <div *ngIf="orderHistoryDetail.status=='PAID' && currentPermission == 'merchant' && !editThis || orderHistoryDetail.status=='PAID' && currentPermission == 'admin' && !editThis"
                        class="card mb-3">
                        <div class="card-header">
                            <h2>Shipping Information </h2>
                            <button class="edit" (click)="edit()">Edit</button>
                        </div>
                        <div class="card-content">
                            <div class="col-md-12" *ngIf=" !orderHistoryDetail.shipping_info">
                                <label>no shipping info</label>
                            </div>
                            <div class="col-md-12" *ngIf="orderHistoryDetail.shipping_info">
                                <label>Delivery Service :
                                    <strong><span *ngIf="orderHistoryDetail.shipping" style="color:#0EA8DB">{{orderHistoryDetail.shipping.service}}
                                            ({{orderHistoryDetail.delivery.delivery_detail.description}})</span></strong></label>
                                <div class="line" style="width:100%; border-top: 1.5px solid #eaeaea; "></div>
                                <p style="margin-bottom:30px; margin-top:15px;">Shipping Status</p>


                                <div class="form-group" *ngIf="orderHistoryDetail.shipping_services!='no-services'">
                                    <div class="shipping-statuss" *ngFor="let sSL of shippingStatusList; let i = index">
                                        <div class="radio-button checked-{{sSL.checked}} hovered-{{sSL.hovered}} disabled"
                                            (click)="changeshippingStatusList(i)"
                                            (mouseenter)="hoverShippingStatusL//// ist(i,true)"
                                            (mouseleave)="hoverShippingStatusList(i, false)">
                                        </div>
                                        <label (click)="changeshippingStatusList(i)"
                                            (mouseenter)="hoverShippingStatusList(i,true)"
                                            (mouseleave)="hoverShippingStatusList(i, false)">
                                            {{sSL.label}}<br />
                                            <span class="shipping-date"
                                                *ngIf="sSL.created_date">{{sSL.created_date}}</span>
                                            <div class="form-group" *ngIf="sSL.value == 'on_packaging'">
                                                <div
                                                    *ngIf="orderHistoryDetail.billings != undefined && orderHistoryDetail.courier == undefined">
                                                    <select *ngIf="!packaging" disabled class="form-control"
                                                        [(ngModel)]="orderHistoryDetail.shipping_services">
                                                        <option *ngFor="let ss of shippingServices"
                                                            [ngValue]="ss.value">
                                                            {{ss.label}}</option>
                                                        <button *ngIf="detail.courier" class="btn btn-warning"
                                                            (click)="saveThis()"> Process</button>
                                                    </select>

                                                    <select *ngIf="packaging" class="form-control"
                                                        [(ngModel)]="orderHistoryDetail.shipping_services">
                                                        <option *ngFor="let ss of shippingServices"
                                                            [ngValue]="ss.value">
                                                            {{ss.label}}</option>
                                                    </select>
                                                </div>
                                                <div *ngIf="orderHistoryDetail.billings == undefined && orderHistoryDetail.courier == undefined"
                                                    class="awb-list">
                                                </div>
                                                <div
                                                    *ngIf="orderHistoryDetail.billings == undefined && orderHistoryDetail.courier != undefined">


                                                </div>
                                            </div>

                                            <div *ngIf="sSL.value=='on_delivery'" class="awb-list">
                                                <div *ngIf="orderHistoryDetail.courier == undefined" class="input-form">
                                                </div>
                                                <div *ngIf="orderHistoryDetail.courier != undefined" class="input-form">


                                                </div>
                                            </div>


                                        </label>

                                    </div>
                                </div>
                                <div class="form-group" *ngIf="orderHistoryDetail.shipping_services=='no-services'">
                                    <div class="shipping-status" *ngFor="let sSL of shippingStatusList; let i = index">
                                        <div class="radio-button checked-false hovered-false">
                                        </div>
                                        <label>
                                            {{sSL.label}}<br />
                                            <span class="shipping-date"
                                                *ngIf="sSL.created_date">{{sSL.created_date}}</span>
                                        </label>
                                    </div>
                                </div>


                            </div>

                            <div class="printLabel" *ngIf="orderHistoryDetail.billings != undefined">
                                <button class="btn btn-primary" (click)="openLabel(historyID)">Open Label</button>
                            </div>

                        </div>
                    </div> -->



                    <div *ngIf="orderHistoryDetail.status=='COMPLETED' && currentPermission == 'merchant' && !editThis || orderHistoryDetail.status=='COMPLETED' && currentPermission == 'admin' && !editThis"
                        class="card mb-3">
                        <div class="card-header">
                            <h2>Shipping Information </h2>
                        </div>
                        <div class="card-content">
                            <div class="col-md-12" *ngIf=" !orderHistoryDetail.shipping_info">
                                <label>no shipping info</label>
                            </div>
                            <div class="col-md-12" *ngIf="orderHistoryDetail.shipping_info">
                                <label>Delivery Service :
                                    <strong><span *ngIf="orderHistoryDetail.delivery_detail" style="color:green">{{orderHistoryDetail.delivery_detail.courier}}
                                        ({{orderHistoryDetail.delivery_detail.delivery_service}})</span></strong></label>
                                <div class="line" style="width:100%; border-top: 1.5px solid #eaeaea; "></div>
                                <label style="margin-top:15px;">Shipping Status : 
                                    <strong>
                                        <span style="color:green">{{orderHistoryDetail.shipping_info[orderHistoryDetail.shipping_info.length - 1].title}}</span>
                                    </strong>
                                </label>
                                <div class="form-group" *ngIf="orderHistoryDetail.shipping_services=='no-services'">
                                    <div class="shipping-status" *ngFor="let sSL of shippingStatusList; let i = index">
                                        <!-- <input type="checkbox" [(ngModel)]="sSL.checked" id="{{sSL.id}}" /> -->
                                        <div class="radio-button checked-false hovered-false">
                                        </div>
                                        <label>
                                            {{sSL.label}}<br />
                                            <span class="shipping-date"
                                                *ngIf="sSL.created_date">{{sSL.created_date}}</span>
                                        </label>
                                    </div>
                                </div>


                            </div>

                            <div class="printLabel" *ngIf="orderHistoryDetail.billings != undefined">
                                <button class="btn btn-primary" (click)="openLabel(historyID)">Open Label</button>
                            </div>

                        </div>
                    </div>

                    <!-- EDIT SHIPPING INFO -->
                    <!-- <div *ngIf="orderHistoryDetail.status=='PAID' && currentPermission == 'merchant' && editThis || orderHistoryDetail.status=='PAID' && currentPermission == 'admin' && editThis"
                        class="card mb-3 ">
                        <div class="card-header">
                            <h2>Shipping Information </h2>
                        </div>
                        <div class="card-content">
                            <div class="col-md-12" *ngIf=" !orderHistoryDetail.shipping_info">
                                <label>no shipping info</label>
                            </div>
                            <div class="col-md-12" *ngIf="orderHistoryDetail.shipping_info">
                                <label>Delivery Service :
                                    <strong><span *ngIf="orderHistoryDetail.shipping" style="color:#0EA8DB"><span *ngIf="orderHistoryDetail.shipping[1]">{{orderHistoryDetail.shipping[1].service}}
                                        ({{orderHistoryDetail.delivery.delivery_detail.description}})</span></span></strong></label>
                                <div class="line" style="width:100%; border-top: 1.5px solid #eaeaea; "></div>
                                <p style="margin-bottom:30px; margin-top:15px;">Shipping Status</p>
                                <p style="font-size: 12px; margin-bottom:20px; font-weight: bold;">Click on each button
                                    to process your shipping</p>


                                <div class="form-group" *ngIf="orderHistoryDetail.shipping_services!='no-services'">
                                    <div class="shipping-status" *ngFor="let sSL of shippingStatusList; let i = index">
                                        <div class="radio-button checked-{{sSL.checked}} hovered-{{sSL.hovered}}"
                                            (click)="changeshippingStatusList(i)"
                                            (mouseenter)="hoverShippingStatusL//// ist(i,true)"
                                            (mouseleave)="hoverShippingStatusList(i, false)">
                                        </div>
                                        <label (click)="changeshippingStatusList(i)"
                                            (mouseenter)="hoverShippingStatusList(i,true)"
                                            (mouseleave)="hoverShippingStatusList(i, false)">
                                            {{sSL.label}}<br />
                                            <span class="shipping-date"
                                                *ngIf="sSL.created_date">{{sSL.created_date}}</span>
                                            <div class="form-group" *ngIf="sSL.value == 'on_packaging'">
                                                <div
                                                    *ngIf="orderHistoryDetail.billings != undefined && orderHistoryDetail.courier == undefined">
                                                    <select *ngIf="!packaging" disabled class="form-control"
                                                        [(ngModel)]="orderHistoryDetail.shipping_services">
                                                        <option *ngFor="let ss of shippingServices"
                                                            [ngValue]="ss.value">
                                                            {{ss.label}} <i class="fas fa-pencil-alt"></i></option>
                                                    </select>

                                                    <select *ngIf="packaging" class="form-control"
                                                        [(ngModel)]="orderHistoryDetail.shipping_services">
                                                        <option *ngFor="let ss of shippingServices"
                                                            [ngValue]="ss.value">
                                                            {{ss.label}} <i class="fas fa-pencil-alt"></i> </option>
                                                    </select>
                                                </div>
                                                <div *ngIf="orderHistoryDetail.billings == undefined && orderHistoryDetail.courier == undefined"
                                                    class="awb-list">
                                                    <select *ngIf="!packaging" disabled class="form-control"
                                                        [(ngModel)]="orderHistoryDetail.shipping_services">
                                                        <option *ngFor="let ss of courier_list"
                                                            [ngValue]="ss.courier_code">
                                                            {{ss.courier}} </option>
                                                        <option [ngValue]="'other'">
                                                            Another Courier
                                                        </option>
                                                    </select>
                                                    <select *ngIf="packaging" class="form-control"
                                                        [(ngModel)]="orderHistoryDetail.shipping_services"
                                                        (change)="other_cour()">
                                                        <option *ngFor="let ss of courier_list"
                                                            [ngValue]="ss.courier_code">
                                                            {{ss.courier}}</option>
                                                        <option [ngValue]="'other'">
                                                            Another Courier
                                                        </option>
                                                    </select>

                                                    <button class="btn btn-primary btn-sm process"
                                                        *ngIf="packaging && choose_service != 'PICKUP' && supported"
                                                        (click)="saveThis()">Process</button>
                                                    <button class="btn btn-primary btn-sm process"
                                                        *ngIf="packaging && choose_service == 'PICKUP' && supported"
                                                        (click)="saveThis()" style="width: fit-content;"> Request Pickup
                                                        Now </button>
                                                    <button class="btn btn-primary btn-sm process"
                                                        *ngIf="packaging && !supported"
                                                        (click)="saveThis()">Process</button>

                                                </div>
                                                <div *ngIf="orderHistoryDetail.billings == undefined && orderHistoryDetail.courier == undefined && othercour"
                                                    class="awb-list">
                                                    <input name="courier" class="form-control awb" [type]="'text'"
                                                        [placeholder]="'Input Courier Service'"
                                                        [(ngModel)]="otherCourValue" required>
                                                </div>

                                                <div *ngIf="orderHistoryDetail.billings == undefined && orderHistoryDetail.courier"
                                                    class="awb-list">
                                                    <div *ngIf="orderHistoryDetail.billings == undefined && orderHistoryDetail.courier"
                                                    class="awb-list">
                                                    <input name="courier" class="form-control awb" [type]="'text'"
                                                        
                                                        [(ngModel)]="orderHistoryDetail.courier.courier" disabled>
                                                </div>


                                                </div>
                                            </div>
                                            <div *ngIf="sSL.value=='on_delivery'" class="awb-list">
                                                <div *ngIf="orderHistoryDetail.courier == undefined" class="input-form">
                                                    <input
                                                        *ngIf="orderHistoryDetail.shipping_services!='no-services' && shippingStatusList[2].checked == true"
                                                        name="awb_receipt" class="form-control awb" [type]="'text'"
                                                        [placeholder]="'Put AWB / receipt Number'"
                                                        [(ngModel)]="orderHistoryDetail.awb_receipt" autofocus
                                                        required />
                                                    <input
                                                        *ngIf="orderHistoryDetail.shipping_services=='no-services' || shippingStatusList[2].checked == false "
                                                        class="form-control awb" disabled name="unnamed"
                                                        [placeholder]="'Put AWB / receipt Number'"
                                                        title="You can add AWB after choosing the services" />
                                                    <div
                                                        *ngIf="orderHistoryDetail.courier == undefined && supported">
                                                        <div><label>Please choose a courier service:</label></div>
                                                        <mat-radio-group aria-labelledby="example-radio-group-label"
                                                            class="example-radio-group" [(ngModel)]="choose_service">
                                                            <mat-radio-button class="example-radio-button"
                                                                *ngFor="let list of method_delivery" [value]="list">
                                                                {{list}}
                                                            </mat-radio-button>
                                                        </mat-radio-group>
                                                    </div>
                                                </div>
                                                <div *ngIf="orderHistoryDetail.courier != undefined" class="input-form">
                                                    <ng-container *ngIf="orderHistoryDetail.delivery">
                                                    <div
                                                    *ngIf="orderHistoryDetail.shipping_services!='no-services' && shippingStatusList[2].checked == true && orderHistoryDetail.courier.supported != 1 && orderHistoryDetail.delivery.delivery_detail.service == 'INSTANT'">
                                                    <div><label>Please choose a courier service:</label></div>
                                                    <mat-radio-group aria-labelledby="example-radio-group-label"
                                                        class="example-radio-group" [(ngModel)]="choose_service">
                                                        <mat-radio-button class="example-radio-button"
                                                            *ngFor="let list of method_delivery" [value]="list">
                                                            {{list}}
                                                        </mat-radio-button>
                                                    </mat-radio-group>
                                                </div>
                                            </ng-container>
                                                    <input
                                                        *ngIf="orderHistoryDetail.shipping_services!='no-services' && shippingStatusList[2].checked == true  && orderHistoryDetail.courier.supported != 1"
                                                        name="awb_receipt" class="form-control awb" [type]="'text'"
                                                        [placeholder]="'Put AWBsddsf / receipt Number'" (change)="onAWBchange()"
                                                        [(ngModel)]="orderHistoryDetail.courier.awb_number" autofocus
                                                        required />
                                                      
                                                    <div
                                                        *ngIf="orderHistoryDetail.shipping_services!='no-services' && shippingStatusList[2].checked == true && orderHistoryDetail.courier.supported == 1">
                                                        <div><label>Please choose a courier service:</label></div>
                                                        <mat-radio-group aria-labelledby="example-radio-group-label"
                                                            class="example-radio-group" [(ngModel)]="choose_service">
                                                            <mat-radio-button class="example-radio-button"
                                                                *ngFor="let list of method_delivery" [value]="list">
                                                                {{list}}
                                                            </mat-radio-button>
                                                        </mat-radio-group>
                                                    </div>
                                                  
                                                    
                                                </div>
                                                    <button class="btn btn-primary btn-sm process"
                                                    *ngIf="!orderHistoryDetail.delivery && shippingStatusList[2].checked == true "
                                                    (click)="saveThis()">Process</button>
                                                    <ng-container *ngIf="orderHistoryDetail.delivery">
                                                    <span *ngIf="orderHistoryDetail.delivery.delivery_detail.service != 'INSTANT'">
                                                    <button class="btn btn-primary btn-sm process"
                                                    *ngIf="choose_service != 'PICKUP' && shippingStatusList[2].checked == true "
                                                    (click)="saveThis()">Process</button>
                                                    
                                                <button class="btn btn-primary btn-sm process"
                                                    *ngIf="choose_service == 'PICKUP' && shippingStatusList[2].checked == true "
                                                    (click)="saveThis()" style="width: fit-content;"> Request Pickup
                                                    Now </button>
                                                    </span>
                                                <span *ngIf="orderHistoryDetail.delivery.delivery_detail.service == 'INSTANT'">
                                                    
                                                <button class="btn btn-primary btn-sm process"
                                                    *ngIf="choose_service == 'PICKUP' && shippingStatusList[2].checked == true"
                                                    [class.btn-secondary]="!awb_check"
                                                    [disabled]="!awb_check"
                                                    (click)="saveThis()" style="width: fit-content;"> Request Pickup
                                                    Now </button>
                                                </span>
                                            </ng-container>
                                            </div>
                                        </label>

                                    </div>
                                </div>
                                <div class="form-group" *ngIf="orderHistoryDetail.shipping_services=='no-services'">
                                    <div class="shipping-status" *ngFor="let sSL of shippingStatusList; let i = index">
                                        <div class="radio-button checked-false hovered-false">
                                        </div>
                                        <label>
                                            {{sSL.label}}<br/>
                                            <span class="shipping-date"
                                                *ngIf="sSL.created_date">{{sSL.created_date}}</span>
                                        </label>
                                    </div>
                                </div>


                            </div>

                            <div class="printLabel" *ngIf="orderHistoryDetail.billings != undefined">
                                <button class="btn btn-primary" (click)="openLabel(historyID)">Open Label</button>
                            </div>

                        </div>
                    </div> -->



                    <div *ngIf="orderHistoryDetail.status == 'CANCEL' && currentPermission == 'merchant' || orderHistoryDetail.status == 'CANCEL' && currentPermission == 'admin'"
                        class="cancel-order">
                        <div class="card mb-3">
                            <label>Status : <span style="color:red;">Order Cancelled</span></label>
                        </div>
                    </div>

                    <!-- END OF MERCHANT SHIPPING INFO -->

                    <!-- <div class="card-header">
                        <h2>Payment Slip</h2>
                    </div>
                    <div class="card-content">
                    <div *ngIf="orderHistoryDetail.status =='WAITING FOR CONFIRMATION'">
                            <button class= "btn btn-default" style="width: 100%;" (click)="receipt()" target="_blank">Print Receipt</button>
                    </div> -->
                </div>
                <!-- <div class="card mb-3">
                     
                     <div class="card-header"><h2>Member &amp; Status Member</h2> </div>
                     <div class="card-content">
                         <div class="col-md-12">
                             
                            <label>Email </label>
                            <form-input name="email" [type]="'text'" [placeholder]="'Email'"  [(ngModel)]="orderHistoryDetail.email" autofocus required></form-input>

                            <label>Cell Phone </label>
                            <form-input name="cell_phone" [type]="'text'" [placeholder]="'Cell Phone'"  [(ngModel)]="orderHistoryDetail.cell_phone" autofocus required></form-input>
                            
                             
                         </div>
                       
                      </div>
                 </div>  -->

            </div>
        </div>
    </div>

</div>
