<div >
    <app-page-header [heading]="'Member Demography'" [icon]="'fa-table'" >
    </app-page-header>
    <!--- Demography Age -->
    <div class="summary-report row">
        <div class="col-md-6">
            <div class="row-per-card">
                <div class="card " *ngIf="demographyData.age.barChartLabels.length">
                    <div class="card-header">
                        Age graph
                    </div>
                    <div class="card-body"> 
                        <canvas baseChart [datasets]="demographyData.age.barChartData"
                            [labels]="demographyData.age.barChartLabels" [options]="barChartOptions"
                            [legend]="barChartLegend" [chartType]="'bar'" (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)">
                        </canvas>
                    </div>
                    <!-- <div class="card-footer">
                            <button class="btn btn-info btn-sm" (click)="onUpdateCart(demographyData.age.daily)">Refresh</button>
                        </div> -->
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row-per-card">
                <div class="card " *ngIf="demographyData.age.barChartLabels.length">
                    <div class="card-header">
                        Age table
                    </div>
                    <div class="card-body emirate-daily">
                        <table>
                            <tr>
                                <th>Age</th>
                                <th>Total</th>
                            </tr>
                            <tr *ngFor="let dt of demographyData.age.barChartLabels;let i=index;">
                                <td><strong> {{dt}}</strong></td>
                                <td>{{data.age[dt]}}</td>
                            </tr>
                        </table>
                    </div>
                    <!-- <div class="card-footer">
                                        <button class="btn btn-info btn-sm" (click)="onUpdateCart(analitycsData.daily)">Refresh</button>
                                    </div> -->
                </div>
            </div>

        </div>
    </div>
    <!--- END Demography -->
    
    <!--- Demography Gender -->
    <div class="summary-report row">
        <div class="col-md-6">
            <div class="row-per-card">
                <div class="card " *ngIf="demographyData.gender.barChartLabels.length">
                    <div class="card-header">
                         Gender graph
                    </div>
                    <div class="card-body"> 
                        <canvas baseChart [datasets]="demographyData.gender.barChartData"
                            [labels]="demographyData.gender.barChartLabels" [options]="barChartOptions"
                            [legend]="barChartLegend" [chartType]="'pie'" (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)">
                        </canvas>
                    </div>
                    <!-- <div class="card-footer">
                            <button class="btn btn-info btn-sm" (click)="onUpdateCart(demographyData.age.daily)">Refresh</button>
                        </div> -->
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row-per-card">
                <div class="card " *ngIf="demographyData.gender.barChartLabels.length">
                    <div class="card-header">
                        Gender table
                    </div>
                    <div class="card-body emirate-daily">
                        <table>
                            <tr>
                                <th>Gender</th>
                                <th>Total</th>
                            </tr>
                            <tr *ngFor="let dt of demographyData.gender.barChartLabels;let i=index;">
                                <td><strong> {{dt}}</strong></td>
                                <td>{{data.gender[dt]}}</td>
                            </tr>
                        </table>
                    </div>
                   
                </div>
            </div>

        </div>
    </div>
    <!--- END Gender Demography -->
</div>