<div [@routerTransition]>
       
  <app-page-header [heading]="'Member'" [icon]="'fa-table'"></app-page-header>
  
  <!-- <button (click)="getDownloadFileLint()"><i class="fa fa-file-pdf-o"></i>Download</button> -->
  <!-- <iframe [src]="srcDownload"></iframe> -->
  <div *ngIf="Members&&mci_project==false&&programType!='custom_kontraktual'&&memberDetail==false&&!errorMessage">
        <app-form-builder-table 
        [tableFormat] = "tableFormat" 
        [table_data]  = "Members" 
        [searchCallback]= "[service, 'searchMemberAllReport',this]" 
        [total_page]="totalPage"
        (onPageChange)="doPageChange($event)"
        >
            
        </app-form-builder-table>
  </div>

  <div *ngIf="Members&&mci_project==true&&programType!='custom_kontraktual'&&memberDetail==false&&!errorMessage">
    <app-form-builder-table 
    [tableFormat] = "tableFormat2" 
    [table_data]  = "Members" 
    [searchCallback]= "[service, 'searchMemberAllReport',this]" 
    [total_page]="totalPage"
    (onPageChange)="doPageChange($event)"
    >
        
    </app-form-builder-table>
  </div>

  <div *ngIf="Members&&mci_project==false&&programType=='custom_kontraktual'&&memberDetail==false&&!errorMessage">
    <app-form-builder-table 
    [tableFormat] = "tableFormat3" 
    [table_data]  = "Members" 
    [searchCallback]= "[service, 'searchMemberAllReport',this]" 
    [total_page]="totalPage"
    (onPageChange)="doPageChange($event)"
    >
        
    </app-form-builder-table>
  </div>

  <div *ngIf="errorMessage" class="error-message">
    <div class="text-message">
      <i class="fas fa-ban"></i>
      {{errorMessage}}
    </div>
  </div>
  <div *ngIf="memberDetail">
    <app-form-member-detail [back]="[this,backToHere]" [detail]="memberDetail"></app-form-member-detail>
  </div>
 
</div>

 