.pb-framer {
  text-align: center;
  position: relative;
  height: 25px;
  color: #e67e22;
  .progressbar {
    overflow: hidden;
    background: #3498db;
    position: absolute;
    height: 25px;
    z-index: -1;
  }
  .terminated.progressbar {
    background-color: red;
  }
  .clr-white {
    color: white;
  }
}

h1 {
  color: white;
}

#approve {
  border: 1px solid #4b5872;
  display: inline-block;
  margin-right: 15px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}
.fa {
  margin-right: 5px;
  // //color: white;
}

.error_label {
  color: white;
}

.custom-content::-webkit-file-upload-button {
    visibility: hidden;
}
.custom-content::before {
  content: "Choose File";
  margin-right: 5px;
  display: inline-block;
  border: 1px solid #999;
  border-radius: 5px;
  padding: 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 10pt;
  color: white;
  letter-spacing: 0.5px;
}

mark {
  background-color: #dc3545;
  color: white;
}

.rounded-btn {
  -webkit-border-radius: 30px;
  border-radius: 30px;
  color: white;
  font-size: 15px;
  line-height: 40px;
  padding: 0 15px;
  background: #56a4ff;
}
.rounded-btn:hover {
  background: darken(#56a4ff, 15%);
  // border: 2px solid blue;
  outline: none;
}

.rounded-btn-danger {
  -webkit-border-radius: 30px;
  border-radius: 30px;
  color: white;
  font-size: 15px;
  line-height: 40px;
  padding: 0 15px;
  background: #dc3545;
}
.rounded-btn-danger:hover {
  background: darken(#dc3545, 15%);
  // border: 2px solid blue;
  outline: none;
}

@media screen and (max-width: 600px) {
  .rounded-btn {
    -webkit-border-radius: 30px;
    border-radius: 30px;
    color: white;
    font-size: 15px;
    line-height: 30px;
    padding: 0 12px;
    background: #56a4ff;
    margin-left: 25%;
    margin-top: 10px;
    margin-right: 10px;
  }
  .rounded-btn:hover {
    background: darken(#56a4ff, 15%);
    // border: 2px solid blue;
    outline: none;
  }

  .rounded-btn-danger {
    -webkit-border-radius: 30px;
    border-radius: 30px;
    color: white;
    font-size: 15px;
    line-height: 30px;
    padding: 0 12px;
    background: #dc3545;
    margin-right: 25%;
    margin-top: 10px;
  }

  .rounded-btn-danger:hover {
    background: darken(#dc3545, 15%);
    // border: 2px solid blue;
    outline: none;
  }
}

.error-message {
  background: white;
  height:100vh;
  text-align: center;
  font-size:26px;
  padding-top: 40px;

  .text-message {
      background: #E74C3C;
      padding: 20px;
      margin: 0 10px;
  }
}