<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}" xmlns="">
    <div class="list-group">

        <div class="nested-menu">
            <a (click)="addExpandClass('Order History')" class="list-group-item">
                <!-- <i class="icon-order_history_merchant" style="font-size: 40px;"> </i> -->
                <span class="new-line">{{ 'Invoice History' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'Order History'">
                <ul class="submenu">
                    <li class="new-line" *ngFor="let menu of sideBarMenu['Order History']">
                        <a routerLink="{{menu.routerLink}}" [routerLinkActive]="['router-link-active']"
                            class="list-group-item">
                            <div class="circle-custom">
                            </div>
                            <span>{{ menu.label | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        
        <!-- <a [routerLinkActive]="['router-link-active']" class="list-group-item" (click)="orderhistory()">
            <i class="icon-order_history_merchant" style="font-size: 40px;"></i>
            <span class="new-line">{{ 'Order History' | translate }}</span>
        </a> -->
        <div class="nested-menu">
            <a (click)="addExpandClass('Member')" style="display: block;" class="list-group-item">
                <!-- <i class="icon-member" style="font-size: 45px;"></i> -->
                <span>{{ 'Member' | translate }}</span>
            </a>


            <li class="nested" [class.expand]="showMenu === 'Member'">
                <ul class="submenu">
                    <li class="new-line" *ngFor="let menu of sideBarMenu['Member']">
                        <a routerLink="{{menu.routerLink}}" [routerLinkActive]="['router-link-active']"
                            class="list-group-item">
                            <span>{{ menu.label | translate }}</span>
                        </a>
                    </li>

                </ul>
            </li>

        </div>
         <!-- Shipping Report -->
        <a routerLink="/administrator/shippingreport" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <!-- <i class="icon-merchant" style="font-size: 40px;"></i> -->
            <span class="new-line">{{ 'Shipping' | translate }}</span>
        </a>
        <a routerLink="/administrator/escrowreport" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <!-- <i class="icon-merchant" style="font-size: 40px;"></i> -->
            <span class="new-line">{{ 'Escrow Report' | translate }}</span>
        </a>
             <!--End of Shipping Report -->
               <!-- Sales Order Report -->
        <a routerLink="/administrator/salesorderreport" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <!-- <i class="icon-merchant" style="font-size: 40px;"></i> -->
            <span class="new-line">{{ 'Sales Order' | translate }}</span>
        </a>
        
             <!--End of Sales Order Report -->
                  <!-- Payment Report -->
        <a routerLink="/administrator/paymentreport" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <!-- <i class="icon-merchant" style="font-size: 40px;"></i> -->
            <span class="new-line">{{ 'Payment' | translate }}</span>
        </a>
        <!--End of Payment Report -->

        <!-- Stock Movement Report -->
        <div class="nested-menu">
            <a (click)="addExpandClass('Sales Redemption')" class="list-group-item">
                <!-- <i class="icon-product" style="font-size: 40px;"></i> -->
                <span class="new-line">{{ 'Sales Redemption' | translate }}</span>
            </a>

            <li class="nested" [class.expand]="showMenu === 'Sales Redemption'">
                <ul class="submenu">
                    <li class="new-line" *ngFor="let menu of sideBarMenu['Sales Redemption']">
                        <a routerLink="{{menu.routerLink}}" [routerLinkActive]="['router-link-active']"
                            class="list-group-item">
                            <span>{{menu.label}}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <!--End of Stock Movement Report -->

        <!-- PRODUCTS -->
        <div class="nested-menu">
            <a (click)="addExpandClass('Products')" class="list-group-item">
                <!-- <i class="icon-product" style="font-size: 40px;"></i> -->
                <span class="new-line">{{ 'Products' | translate }}</span>
            </a>

            <li class="nested" [class.expand]="showMenu === 'Products'">
                <ul class="submenu">
                    <li class="new-line" *ngFor="let menu of sideBarMenu['Products']">
                        <a routerLink="{{menu.routerLink}}" [routerLinkActive]="['router-link-active']"
                            class="list-group-item">
                            <span>{{menu.label}}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <!-- END OF PRODUCTS -->
        <!-- MERCHANTS -->
        <!-- <a routerLink="/administrator/merchant" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="icon-merchant" style="font-size: 40px;"></i>
            <span class="new-line">{{ 'Merchants' | translate }}</span>
        </a> -->
        <!-- END OF MERCHANTS -->
        <!-- OUTLETS -->
        <!-- <a routerLink="/administrator/outletsadmin" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="icon-outlets" style="font-size: 40px;"></i>
            <span class="new-line">{{ 'Outlets' | translate }}</span>
        </a> -->
        <!-- END OF OUTLETS -->

        <div class="nested-menu">
            <a (click)="addExpandClass('Evoucher')" class="list-group-item">
            
                <!-- <i class="icon-e-voucher" style="font-size: 40px;"></i> -->
                <span class="new-line">{{ 'E-Voucher' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'Evoucher'">
                <ul class="submenu">
                    <li class="new-line" *ngFor="let menu of sideBarMenu['Evoucher']">
                        <a routerLink="{{menu.routerLink}}" [routerLinkActive]="['router-link-active']"
                            class="list-group-item">
                            <span>{{ menu.label | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <div class="nested-menu">
            <a (click)="addExpandClass('Loyalty')" class="list-group-item">
           
                <!-- <i class="icon-loyalty" style="font-size: 40px;"></i> -->
                <span class="new-line">{{ 'SIG Point report' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'Loyalty'">
                <ul class="submenu">
                    <li class="new-line" *ngFor="let menu of sideBarMenu['Loyalty']">
                        <a routerLink="{{menu.routerLink}}" [routerLinkActive]="['router-link-active']"
                            class="list-group-item">
                            <span>{{ menu.label | translate }}</span>
                        </a>
                    </li>

                </ul>
            </li>
        </div>

        <div class="nested-menu">
            <a (click)="addExpandClass('Point Movement')" class="list-group-item">
           
                <!-- <i class="icon-loyalty" style="font-size: 40px;"></i> -->
                <span class="new-line">{{ 'Point Movement' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'Point Movement'">
                <ul class="submenu">
                    <li class="new-line" *ngFor="let menu of sideBarMenu['Point Movement']">
                        <a routerLink="{{menu.routerLink}}" [routerLinkActive]="['router-link-active']"
                            class="list-group-item">
                            <span>{{ menu.label | translate }}</span>
                        </a>
                    </li>

                </ul>
            </li>
        </div>

        

        <!-- <div class="nested-menu">
            <a (click)="addExpandClass('Payment')" class="list-group-item"
                routerLink="/administrator/paymentgatewayadmin">
               
                <i class="icon-payment-gateway" style="font-size: 40px;"></i>
                <span class="new-line">{{ 'Payment Gateway' | translate }}</span>
            </a>
        </div>

     

        <div class="nested-menu">
            <a (click)="addExpandClass('Notification')" class="list-group-item">
                <i class="icon-notification" style="font-size: 40px;"></i>
                <span>{{ 'Notification' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'Notification'">
                <ul class="submenu">
                    <li class="new-line" *ngFor="let menu of sideBarMenu['Notification']">
                        <a routerLink="{{menu.routerLink}}" [routerLinkActive]="['router-link-active']"
                            class="list-group-item">
                            <span>{{ menu.label | translate }}</span>
                        </a>
                    </li>

                </ul>
            </li>
        </div>

        <a routerLink="/administrator/promotion" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="icon-promotion" style="font-size: 40px;"></i>
            <span class="new-line">{{ 'Promotion' | translate }}</span>
        </a> -->

        <!-- <a routerLink="/administrator/packagebundle" [routerLinkActive]="['router-link-active']"
            class="list-group-item">
         
            <i class="icon-package-bundle" style="font-size: 40px;"></i>
            <span class="new-line">{{ 'Package Bundle' | translate }}</span>
        </a>


        <a routerLink="/administrator/versioning" [routerLinkActive]="['router-link-active']" class="list-group-item">
         
            <i class="icon-versioning" style="font-size: 40px;"></i>
            <span class="new-line">{{ 'Versioning' | translate }}</span>
        </a>

        <a routerLink="/administrator/courier-service-page" [routerLinkActive]="['router-link-active']"
            class="list-group-item">
          
            <i class="icon-courier-service" style="font-size: 40px;"></i>
            <span class="new-line">{{ 'Courier Service' | translate }}</span>
        </a>
        <a routerLink="/administrator/points-transaction" [routerLinkActive]="['router-link-active']"
            class="list-group-item">
     
            <i class="icon-point-transaction-rp" style="font-size: 40px;"></i>
            <span class="new-line">{{ 'Points Transaction' | translate }}</span>
        </a>
        <a routerLink="/administrator/escrow-transaction" [routerLinkActive]="['router-link-active']"
            class="list-group-item">
      
            <i class="icon-escrow-rp" style="font-size: 40px;"></i>
            <span class="new-line">{{ 'Escrow Transaction' | translate }}</span>
        </a>
        <a routerLink="/administrator/promocode" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="icon-promo-code" style="font-size: 40px;"></i>
            <span class="new-line">{{ 'Promo Code' | translate }}</span>
        </a>
        <a routerLink="/administrator/promousage" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="icon-promo-code" style="font-size: 40px;"></i>
            <span class="new-line">{{ 'Promo Usage' | translate }}</span>
        </a>
        <a routerLink="/administrator/promostatistic" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="icon-promo-code" style="font-size: 40px;"></i>
            <span class="new-line">{{ 'Promo Statistic' | translate }}</span>
        </a>
        <a routerLink="/administrator/articleadmin" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="icon-articles" style="font-size: 40px;"></i>
            <span class="new-line">{{ 'Articles' | translate }}</span>
        </a>
        <a routerLink="/administrator/categoryadmin" [routerLinkActive]="['router-link-active']"
            class="list-group-item">
            <i><img src="assets/images/category.png" style="width: 45px;"></i>
            <span class="new-line">{{ 'Category' | translate }}</span>
        </a>

        <a routerLink="/administrator/emailadmin" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="icon-email-history" style="font-size: 40px;"></i>
            <span class="new-line">{{ 'Email History' | translate }}</span>
        </a>


        <a routerLink="/administrator/shoppingcartadmin" [routerLinkActive]="['router-link-active']"
            class="list-group-item">
            <i class="icon-shopping-cart" style="font-size: 40px;"></i>
            <span class="new-line">{{ 'Shopping Cart' | translate }}</span>
        </a>
        <a routerLink="/administrator/mediaadmin" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="icon-media" style="font-size: 40px;"></i>
            <span class="new-line">{{ 'Media' | translate }}</span>
        </a>
        <a routerLink="/administrator/banneradmin" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="icon-banner" style="font-size: 40px;"></i>
            <span class="new-line">{{ 'Banner' | translate }}</span>
        </a>

        <div class="nested-menu">
            <a (click)="addExpandClass('Report')" class="list-group-item">
                <i class="icon-report" style="font-size: 40px;"></i>
                <span>{{ 'Report' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'Report'">
                <ul class="submenu">
                    <li class="new-line" *ngFor="let menu of sideBarMenu['Report']">
                        <a routerLink="{{menu.routerLink}}" [routerLinkActive]="['router-link-active']"
                            class="list-group-item">
                            <span>{{ menu.label | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>

        <a (click)="rltAndLtr()" class="list-group-item">
            <i><img src="assets/images/RTL,LTR.svg" style="width: 45px;"></i>
            <span>
                RTL/LTR
            </span>
        </a> -->
        <!-- 
        <a routerLink="/login/out" (click)="onLoggedout()" [routerLinkActive]="['router-link-active']"
            class="list-group-item">
            <i><img src="assets/images/logout.png"></i>
            Logout
        </a> -->
    </div>
</nav>