<h1 id="header"><strong>AUTO BAST</strong></h1>
<div class="card-header" id="header">
    <button class="btn back_button" (click)="backToTable()"><i class="fa fa-fw fa-angle-left"></i> back</button>
    
</div>
<div class="btn-print">
    <button mat-raised-button color="primary" class="btn btn-primary" (click)="prints()">Print Label<i
            class="fa fa-print" aria-hidden="true"></i></button>
</div>
<div class="notif error-message">{{errorMessage}}</div>
<div class="loading" *ngIf='loading'>
    <div class="sk-fading-circle">
        <div class="sk-circle1 sk-circle"></div>
        <div class="sk-circle2 sk-circle"></div>
        <div class="sk-circle3 sk-circle"></div>
        <div class="sk-circle4 sk-circle"></div>
        <div class="sk-circle5 sk-circle"></div>
        <div class="sk-circle6 sk-circle"></div>
        <div class="sk-circle7 sk-circle"></div>
        <div class="sk-circle8 sk-circle"></div>
        <div class="sk-circle9 sk-circle"></div>
        <div class="sk-circle10 sk-circle"></div>
        <div class="sk-circle11 sk-circle"></div>
        <div class="sk-circle12 sk-circle"></div>
    </div>
</div>
<div class="page-break" id="section-to-print" *ngIf="!loading">
    <div class="_container" *ngFor="let datas of data; let i = index">
        <div class="content" style="font-family: Cambria">
            <div class="logo-container" *ngIf="!sig_project && !sig_kontraktual && !sig_promotion_2">
                <img src="assets/images/logo-dynamix-vector.png" class="logo" />
            </div>
            <div class="logo-container" *ngIf="sig_project || sig_kontraktual || sig_promotion_2">
                <img src="assets/images/semengrup.png" class="logo" />
            </div>
            <div class="watermark">
                <span style="color:red;opacity: 0.1;">ASLI</span>
            </div>
            <header *ngIf="!sig_project && !sig_kontraktual && !sig_promotion_2">
                <strong>BERITA ACARA SERAH TERIMA HADIAH <br />
                    PROGRAM DYNAMIX EXTRA POIN 2020</strong>
                <br />
                Nomor : {{datas.member_detail.id_pel}}/DYNAMIX-SBI/VII/{{datas.approve_date.substr(0,4)}}
            </header>
            <header *ngIf="sig_project">
                <strong>BERITA ACARA SERAH TERIMA HADIAH <br />
                    PROGRAM TACTICAL SEMEN GRESIK</strong>
                <br />
                Nomor : {{datas.member_detail.id_pel}}/{{datas.member_detail.description == 'nonupfront'? "NONUPFRONT-SG": "UPFRONT-SG"}}/I/{{datas.approve_date.substr(0,4)}}
            </header>
            <header *ngIf="sig_kontraktual || sig_promotion_2">
                <strong>BERITA ACARA SERAH TERIMA HADIAH <br />
                    {{titleProgram}}</strong>
                <br />
                Nomor : {{datas.member_detail.id_pel}}/{{datas.member_detail.cluster + '-SIG'}}/I/{{datas.approve_date.substr(0,4)}}
            </header>
            <br />
            <div class="body-letter">
                Yang bertanda tangan dibawah ini: <br />
                <ol type="I">
                    <li>
                        Nama Distributor <span style="margin-left: 20px"> : {{sig_kontraktual || sig_promotion_2? 'Semen Indonesia' : datas.member_detail.nama_distributor}} </span>
                    </li>
                    <li>Informasi Penerima Hadiah
                        <table class="table1">
                            <tr>
                                <td class="first-col">a.</td>
                                <td class="second-col">ID Pelanggan</td>
                                <td class="third-col">: {{datas.member_detail.id_pel}}</td>
                            </tr>
                            <tr>
                                <td class="first-col">b.</td>
                                <td class="second-col">{{sig_kontraktual || sig_promotion_2? 'Nama Entitas' : 'Nama Toko'}}</td>
                                <td class="third-col">: {{datas.member_detail.nama_toko}}</td>
                            </tr>
                            <tr>
                                <td class="first-col">c.</td>
                                <td class="second-col">Nama Penerima</td>
                                <td class="third-col">: {{datas.member_detail.nama_penerima_gopay}}</td>
                            </tr>
                            <tr *ngIf="sig_kontraktual || sig_promotion_2">
                                <td class="first-col">d.</td>
                                <td class="second-col">Jabatan</td>
                                <td class="third-col">: {{datas.member_detail.description}}</td>
                            </tr>
                            <tr *ngIf="!sig_kontraktual && !sig_promotion_2">
                                <td class="first-col">d.</td>
                                <td class="second-col">Alamat</td>
                                <td class="third-col">:  {{datas.member_detail.alamat_toko}}</td>
                            </tr>
                            <tr>
                                <td class="first-col">e.</td>
                                <td class="second-col">Nomor KTP</td>
                                <td class="third-col">: {{datas.member_detail.ktp_penerima}}</td>
                            </tr>
                            <tr>
                                <td class="first-col">f.</td>
                                <td class="second-col">Nomor NPWP</td>
                                <td class="third-col">: {{datas.member_detail.npwp_penerima}}</td>
                            </tr>
                            <tr>
                                <td class="first-col">g.</td>
                                <td class="second-col">Alamat Pengiriman Hadiah</td>
                                <td class="third-col">: {{datas.member_detail.alamat_rumah}}</td>
                            </tr>
                            <tr>
                                <td class="first-col">h.</td>
                                <td class="second-col">No HP/ WA</td>
                                <td class="third-col">: {{datas.member_detail.no_wa_penerima}}</td>
                            </tr>
                        </table>
                    </li>
                </ol>
                <p>
                    Untuk selanjutnya disebut sebagai "<strong>PENERIMA</strong>"
                </p>
        
                    Bahwa dengan ini PENERIMA telah melakukan serah terima hadiah berupa:<br />
                    <span class="tabel1-1">*Tabel 1.1</span><br />
                <table class="table2">
                    <tr>
                        <th class="no">No</th>
                        <th>KODE HADIAH</th>
                        <th>DESKRIPSI HADIAH</th>
                        <th style="width: 20px;">JUMLAH</th>
                        <th>TOTAL NILAI HADIAH (RP)</th>
                        <!-- <th>POIN DITUKAR</th> -->
                    </tr>
                    <tr *ngFor="let product of datas.products; let i = index">
                        <td class="no">{{i+1}}</td>
                        <td>{{product.product_code}}</td>
                        <td style="font-size: 8pt;">{{product.product_name}}</td>
                        <td style="width: 20px;">{{product.quantity}}</td>
                        <!-- <td>{{product.quantity * 100000 | currency: 'Rp'}}</td> -->
                        <td>{{product.total_product_price | currency: 'Rp '}}</td>
                    </tr>
                </table>
               
              <br/>
                <table class="table3">
                    <tr *ngIf="datas.member_detail && datas.member_detail.telp_penerima_gopay != '-'">
                        <th class="no">No</th>
                        <th>{{sig_kontraktual || sig_promotion_2?'No. Akun E-Wallet':'No. Handphone Akun Gopay'}}</th>
                        <th *ngIf="!sig_kontraktual && !sig_promotion_2">Email untuk pengiriman e-voucher Tokopedia</th>
                    </tr>
                    <!-- <tr *ngFor="let product of datas.products; let i = index"> -->
                    <tr *ngIf="datas.member_detail && datas.member_detail.telp_penerima_gopay != '-'">
                        <td class="no">{{i+1}}</td>
                        <!-- <td>{{product.product_code == 'EVC-GPY-0011-DYX' ? datas.member_detail.telp_penerima_gopay : '-'}}</td> -->
                        <td>{{datas.member_detail.telp_penerima_gopay != '-'? datas.member_detail.telp_penerima_gopay : '-'}}</td>
                        <td *ngIf="!sig_kontraktual && !sig_promotion_2">-</td>
                    </tr>
                </table><br />
        
                <p>
                    Untuk Selanjutnya, berdasarakan tabel 1.1 diatas maka hal-hal yang berkaitan dengan hak dan
                    kewajiban namun tidak terbatas pada tanggung jawab atas Hadiah tersebut diatas, sepenuhnya beralih
                    kepada PENERIMA. <br>
                    Demikian Berita Acara Serah Terima ini dibuat untuk digunakan sebagaimana mestinya.
                </p>
                <div class="penerima">
                    <p>
                        Penerima, <br />      <br />  <br />
                        <span style="color:grey;opacity: 0.5;">WAJIB CAP & TTD</span>
                        <br />
                    
                        ( {{datas.member_detail.nama_penerima_gopay}} )
                    </p>
                </div>
            </div>
          
            <p class="page-number" style="color:grey;text-align:left; font-size: 10pt;font-family: Calibri; opacity: 0.5;">
                BAST WAJIB di tanda tangani & Cap Toko setelah menerima Hadiah, dan kirimkan ke :<br/>
                CS {{titleProgram}}<br/>
                Jl. Kebun Jeruk VII No.2E<br/>
                Hayam Wuruk, Tamansari<br/>
                JAKARTA BARAT 11160<br/>
                Hubungi CS di nomor 081197105100/081197105200
            </p>
        </div>
    </div>
    <div class="_container" *ngFor="let datas of special; let i = index">
        <div class="content" style="font-family: Cambria">
            <div class="logo-container" *ngIf="!sig_project">
                <img src="assets/images/logo-dynamix-vector.png" class="logo" />
            </div>
            <div class="logo-container" *ngIf="sig_project">
                <img src="assets/images/semengrup.png" class="logo" />
            </div>
            <div class="watermark">
                <span style="color:red;opacity: 0.1;">ASLI</span>
            </div>
            <header *ngIf="!sig_project && !sig_kontraktual && !sig_promotion_2">
                <strong>SURAT KUASA KHUSUS</strong>
                <br />
                Nomor : {{datas.member_detail.id_pel}}/DYNAMIX-SBI/VII/{{datas.approve_date.substr(0,4)}}
            </header>
            <header *ngIf="sig_project">
                <strong>SURAT KUASA KHUSUS</strong>
                <br />
                Nomor : {{datas.member_detail.id_pel}}/{{datas.member_detail.description == 'nonupfront'? "NONUPFRONT-SG": "UPFRONT-SG"}}/I/{{datas.approve_date.substr(0,4)}}
            </header>
            <header *ngIf="sig_kontraktual || sig_promotion_2">
                <strong>BERITA ACARA SERAH TERIMA HADIAH <br />
                    {{titleProgram}}</strong>
                <br />
                Nomor : {{datas.member_detail.id_pel}}/{{datas.member_detail.cluster + '-SIG'}}/I/{{datas.approve_date.substr(0,4)}}
            </header>
            <br />
            <div class="body-letter">
                Kami yang bertanda tangan dibawah ini: <br /><br />
              
                  
                        <table class="table1">
                            <tr>
                                <!-- <td class="first-col"></td> -->
                                <td class="second-col"> Nama Distributor </td>
                                <td class="third-col">: {{sig_kontraktual || sig_promotion_2? 'Semen Indonesia' : datas.member_detail.nama_distributor}}</td>
                            </tr>
                            <tr>
                                <!-- <td class="first-col">b.</td> -->
                                <td class="second-col">{{sig_kontraktual || sig_promotion_2? 'Nama Entitas' : 'Nama Toko'}}</td>
                                <td class="third-col">: {{datas.member_detail.nama_toko}}</td>
                            </tr>
                            <tr>
                                <!-- <td class="first-col">c.</td> -->
                                <td class="second-col"> {{sig_kontraktual || sig_promotion_2? 'Nama PIC' : 'Nama Pemilik Toko'}}</td>
                                <td class="third-col">: {{datas.member_detail.nama_pemilik}} </td>
                            </tr>
                            <tr>
                                <!-- <td class="first-col">d.</td> -->
                                <td class="second-col"> Nomor KTP </td>
                                <td class="third-col">: {{datas.member_detail.ktp_pemilik}} </td>
                            </tr>
                            <tr>
                                <!-- <td class="first-col">e.</td> -->
                                <td class="second-col">Alamat </td>
                                <td class="third-col">: {{datas.member_detail.alamat_toko}} </td>
                            </tr>
                           
                        </table>
               
              
                <p>
                   <i> Untuk selanjutnya disebut sebagai "<strong>Pemberi Kuasa</strong>" </i>
                </p><br />
             
              
                  
                <table class="table1">
                    <tr>
                        <!-- <td class="first-col"></td> -->
                        <td class="second-col"> Nama</td>
                        <td class="third-col">: {{datas.member_detail.nama_penerima_gopay}}</td>
                    </tr>
                    <tr>
                        <!-- <td class="first-col">b.</td> -->
                        <td class="second-col">Alamat</td>
                        <td class="third-col">: {{datas.member_detail.alamat_rumah}}</td>
                    </tr>
                    <tr>
                        <!-- <td class="first-col">c.</td> -->
                        <td class="second-col"> Nomor KTP</td>
                        <td class="third-col">: {{datas.member_detail.ktp_penerima}} </td>
                    </tr>
                    <tr>
                        <!-- <td class="first-col">d.</td> -->
                        <td class="second-col"> Nomor NPWP</td>
                        <td class="third-col">: {{datas.member_detail.npwp_penerima}} </td>
                    </tr>
                    <tr>
                        <!-- <td class="first-col">e.</td> -->
                        <td class="second-col">Nomor HP / WA</td>
                        <td class="third-col">: {{datas.member_detail.no_wa_penerima}} </td>
                    </tr>
                   
                </table>
       
      
        <p>
           <i> Untuk selanjutnya disebut sebagai "<strong>Penerima Kuasa</strong>"</i>
        </p><br/>
        <div style="display:flex; justify-content: center;"><strong>----------------------------------------------------------KHUSUS-------------------------------------------------------------</strong></div>
        <br/>
        Pemberi Kuasa merupakan pemenang Program Hadiah <strong *ngIf="!sig_project && !sig_kontraktual && !sig_promotion_2">DYNAMIX EXTRA POIN 2020</strong> <strong *ngIf="sig_project">TACTICAL {{datas.member_detail.description == 'nonupfront'? "NON UPFRONT": "UPFRONT"}} SEMEN GRESIK</strong> <strong *ngIf="sig_kontraktual || sig_promotion_2">{{datas.member_detail.cluster}}</strong> dan atas nama serta kepentingan Pemberi Kuasa, Penerima Kuasa berhak bertindak untuk dan atas nama serta mewakili Pemberi Kuasa untuk melakukan pengambilan dan/atau Penerimaan hadiah berupa:<br />
                    <!-- <span class="tabel1-1">tabel 1.1</span><br /> -->
                <br>
                <table class="table2">
                    <tr>
                        <th class="no">No</th>
                        <th>KODE HADIAH</th>
                        <th>DESKRIPSI HADIAH</th>
                        <th style="width: 20px;">JUMLAH</th>
                        <th>TOTAL NILAI HADIAH (RP)</th>
                        <!-- <th>POIN DITUKAR</th> -->
                    </tr>
                    <tr *ngFor="let product of datas.products; let i = index">
                        <td class="no">{{i+1}}</td>
                        <td>{{product.product_code}}</td>
                        <td style="font-size: 8pt;">{{product.product_name}}</td>
                        <td style="width: 20px;">{{product.quantity}}</td>
                        <td>{{product.quantity * 100000 | currency: 'Rp'}}</td>
                        <!-- <td>{{product.total_product_price}}</td> -->
                    </tr>
                </table>
               
             
        
                <br/>
                    Untuk maksud dan kepentingan tersebut diatas, Penerima Kuasa berhak dan berwenang untuk melakukan segala tindakan yang diperlukan, termasuk namun tidak terbatas pada:<br/>
                    <ol>
                        <li>Menerima Barang dan membuat serta menyerahkan BAST.</li>
                        <li>Membuat dan menandatangani serta menyerahkan dan/atau menerima segala surat dan/atau dokumen yang diperlukan.</li>
                        <li>Melakukan segala tindakan yang diperlukan dan dianggap baik oleh Penerima Kuasa guna terlaksananya dengan baik pemberian kuasa ini.</li>
                    </ol>
                    Demikian Surat Kuasa ini dibuat untuk dipergunakan sebagaimana mestinya
               
                <div class="penerima">
                   ________,__ _______________ _________
                </div>
                <div class="penerima-pemberi">
                    <p style="text-align: center;">
                        Penerima Kuasa <br />      <br />  <br />
                       
                        <br />
                    
                        ( {{datas.member_detail.nama_penerima_gopay}} )
                    </p>
                    <p style="text-align: center;">
                        Pemberi Kuasa <br />      <br />  <br />
                        <span style="color:grey;opacity: 0.5;">Materai Tempel Rp. 6000</span>
                        <br />
                    
                        ( {{datas.member_detail.nama_pemilik}} )
                    </p>

                </div>
            </div>
          
            <p class="page-number" style="color:grey;text-align:left; font-size: 10pt;font-family: Calibri;opacity: 0.5;">
                BAST WAJIB di tanda tangani & Cap Toko setelah menerima Hadiah, dan kirimkan ke :<br/>
                CS {{titleProgram}}<br/>
                Jl. Kebun Jeruk VII No.2E<br/>
                Hayam Wuruk, Tamansari<br/>
                JAKARTA BARAT 11160<br/>
                Hubungi CS di nomor 081197105100/081197105200
            </p>
        </div>
    </div>
</div>