<div [@routerTransition]>
       
  <app-page-header [heading]="'Add New Member'" [icon]="'fa-table'"></app-page-header>
  
 <div>
    <form #form="ngForm" (ngSubmit)="formSubmitAddMember(form.value)">
      <div class="col-md-6">
          <label>Full Name</label>
          <form-input name="full_name" [type]="'text'" [placeholder]="'Full Name'"  [(ngModel)]="full_name" required></form-input>

          <label>Email</label>
          <form-input name="email" [placeholder]="'Email'"  [type]="'text'" [(ngModel)]="email" required></form-input>

          <label>Password</label>
          <form-input name="password" [placeholder]="'Password'"  [type]="'password'" [(ngModel)]="password" pattern=".{8,}"  required title="8 characters minimum"></form-input>

          <label>PIN</label>
          <form-input name="pin" [placeholder]="'PIN'"  [type]="'text'" [(ngModel)]="pin" required></form-input>

          <label>Cell Phone</label>
          <form-input name="cell_phone" [placeholder]="'Cell Phone'"  [type]="'text'" [(ngModel)]="cell_phone" required></form-input>

          <label>Card Number</label>
          <form-input name="card_number" [placeholder]="'Card Number'"  [type]="'text'" [(ngModel)]="card_number" required></form-input>

          <label>Date of Birth</label>
          <!-- <form-input name="dob" [placeholder]="'DOB'"  [type]="'text'" [(ngModel)]="dob" required></form-input> -->
          <app-date-picker [label]="dob"></app-date-picker>

          <label>City</label>
          <form-input name="mcity" [placeholder]="'City'"  [type]="'text'" [(ngModel)]="mcity" required></form-input>

          <label>State</label>
          <form-input name="mstate" [placeholder]="'State'"  [type]="'text'" [(ngModel)]="mstate" required></form-input>

          <label>Country</label>
          <form-input name="mcountry" [placeholder]="'Country'"  [type]="'text'" [(ngModel)]="mcountry" required></form-input>

          <label>Address</label>
          <form-input name="maddress1" [placeholder]="'Address'"  [type]="'textarea'" [(ngModel)]="maddress1" required></form-input>

          <label>Post Code</label>
          <form-input name="mpostcode" [placeholder]="'Post Code'"  [type]="'text'" [(ngModel)]="mpostcode" required></form-input>

          <label>Gender</label>
          <form-input name="gender" [placeholder]="'Gender'"  [type]="'text'" [(ngModel)]="gender" required></form-input>

          <label>Marital Status</label>
          <form-input name="marital_status" [placeholder]="'Marital Status'"  [type]="'text'" [(ngModel)]="maritalStatus" required></form-input>

          <label>Member Type</label>
          <form-select name="type" [(ngModel)]="type" [data]="member_type"></form-select>
         <!-- {{form.value | json}}  -->
      </div>
        
        <button class="btn" type="submit" [disabled]="form.pristine">Submit</button> 
      </form>
 </div>
 
</div>

 