<div [@routerTransition]>
    <app-page-header [heading]="'Traffic Activity Report'" [icon]="'fa-table'">
    </app-page-header>
    <div class="summary-report row">
        <div class="col-md-6">
            <div class="row-per-card">
                <div class="card " *ngIf="analitycsData.eachPlatformToday.barChartLabels.length">
                    <div class="card-header">
                        Today Platform Activity
                    </div>
                    <div class="card-body">
                        <canvas baseChart [datasets]="analitycsData.eachPlatformToday.barChartData"
                            [labels]="analitycsData.eachPlatformToday.barChartLabels" [options]="barChartOptions"
                            [legend]="barChartLegend" [chartType]="'pie'" (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)">
                        </canvas>
                    </div>
                    <!-- <div class="card-footer">
                            <button class="btn btn-info btn-sm" (click)="onUpdateCart(analitycsData.eachPlatformToday)">Refresh</button>
                        </div> -->
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <div class="row-per-card">
                <div class="card " *ngIf="analitycsData.eachPlatformToday.barChartLabels.length">
                    <div class="card-header">
                        Today Platform Activity
                    </div>
                    <div class="card-body emirate-daily">
                            <div class="card-body emirate-daily">
                                    <h1>Today Active Users : {{data.total_member}}</h1>
                                </div>
                        <table>
                            <tr>
                                <th>Platform</th>
                                <th>Users amount</th>
                            </tr>
                            <tr *ngFor="let dt of analitycsData.eachPlatformToday.barChartLabels;let i=index;">
                                <td>{{dt}}</td>
                                <td>{{data.user_active_each_platform_today[dt]}}</td>

                            </tr>
                        </table>
                    </div>
                    <!-- <div class="card-footer">
                                        <button class="btn btn-info btn-sm" (click)="onUpdateCart(analitycsData.daily)">Refresh</button>
                                    </div> -->
                </div>
            </div>

        </div>
        
        <div class="col-md-6">
            <div class="row-per-card">
                <div class="card " *ngIf="analitycsData.eachPlatformToday.barChartLabels.length">
                    
                    <div class="card-header">
                        Today Pages Activity
                    </div>
                    <div class="card-body emirate-daily">
                        <table>
                            <tr>
                                <th>Pages</th>
                                <th>Views</th>
                            </tr>
                            <tr *ngFor="let dt of analitycsData.eachPageToday.barChartLabels;let i=index;">
                                <td>{{dt}}</td>
                                <td>{{data.user_active_each_page_today[dt]}}</td>

                            </tr>
                        </table>
                    </div>
                    <!-- <div class="card-footer">
                                        <button class="btn btn-info btn-sm" (click)="onUpdateCart(analitycsData.daily)">Refresh</button>
                                    </div> -->
                </div>
            </div>

        </div>
        
    </div>

</div>
