<div [@routerTransition]>
       
  <app-page-header [heading]="'Add New Points Group'" [icon]="'fa-table'"></app-page-header>
  
 <div>
    <form #form="ngForm" (ngSubmit)="formSubmitAddPointsCampaign(form.value)">
      <div class="col-md-6">
          <label>Merchant</label>
          <div name="merchant_id">
              <form-select name="merchant_id" [(ngModel)]="merchant_id" [data]="merchantList" required></form-select> 
          </div>

          <label>Organization ID</label>
          <form-input name="org_id" [placeholder]="'Organization ID'"  [type]="'text'" [(ngModel)]="org_id" required></form-input>

          <label>Campaign Name</label>
          <form-input name="campaign_name" [placeholder]="'Campaign Name'" [type]="'text'" [(ngModel)]="campaign_name" required></form-input>

          <label>Campaign Description</label>
          <form-input name="campaign_description" [placeholder]="'Campaign Description'"  [type]="'text'" [(ngModel)]="campaign_description" required></form-input>

          <label>Status</label>
          <div name="status">
            <form-select name="status" [(ngModel)]="status" [data]="campaignStatus" required></form-select> 
          </div>

          <label>Start Date</label>
          <form-input [type]="'date'" name="start_date" [placeholder]="'Start Date'" max="2020-12-31" [(ngModel)]="start_date" required></form-input>

          <label>End Date</label>
          <form-input [type]="'date'" name="end_date" [placeholder]="'End Date'"  max="2020-12-31" [(ngModel)]="end_date" required></form-input>
         <!-- {{form.value | json}}  -->
      </div>
        
        <button class="btn" type="submit" [disabled]="form.pristine">Submit</button> 
      </form>
 </div>
 
</div>

 