<div *ngIf="!edit && !isChangePassword" class="card card-detail">
    <div class="card-header">
        <button class="btn back_button" (click)="backToTable()"><i class="fa fa-fw fa-angle-left"></i> back</button>
        <div class="edit-button-parent">
            <button class="btn edit_button" (click)="changePassword()"><i class="fa fa-fw fa-key"></i> change password</button>
            <button class="btn edit_button" (click)="editThis()" ><i class="fa fa-fw fa-pencil-alt"></i> edit</button>
        </div>
    </div>
  
    <div class="card-content">
        <div class="member-detail">
    
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-content">
                            <div class="col-md-12" *ngIf="adminDetail">   
                                <label>E-mail</label>
                                <div name="email">{{adminDetail.email}}</div>

                                <label>Username</label>
                                <div name="username">{{adminDetail.username}}</div>

                                <label>Nama Pemilik</label>
                                <div name="full_name">{{adminDetail.full_name}}</div>

                                <label>Group Name</label>
                                <div name="group_name">{{adminDetail.group_name}}</div>

                                <label>Status</label>
                                <div name="status">{{adminDetail.status}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
         </div>
    </div>
</div>
<div *ngIf="edit">
    <app-admin-edit [back]="[this, 'editThis']" [detail]="adminDetail"></app-admin-edit>
</div>
<div *ngIf="isChangePassword">
    <app-admin-change-password [back]="[this, 'changePasswordThis']" [detail]="adminDetail"></app-admin-change-password>
</div>