<h1 id="header" class="header-title"><strong>Shipping Label</strong></h1>
<div class="btn-print">
    <button class="btn back_button" (click)="backToTable()"><i class="fa fa-fw fa-angle-left"></i> back</button>
    <button mat-raised-button color="primary" class="btn btn-primary" (click)="prints()">Print Label<i
            class="fa fa-print" aria-hidden="true"></i></button>
</div>
<div class="notif error-message">{{errorMessage}}</div>
<div class="loading" *ngIf='loading'>
    <div class="sk-fading-circle">
      <div class="sk-circle1 sk-circle"></div>
      <div class="sk-circle2 sk-circle"></div>
      <div class="sk-circle3 sk-circle"></div>
      <div class="sk-circle4 sk-circle"></div>
      <div class="sk-circle5 sk-circle"></div>
      <div class="sk-circle6 sk-circle"></div>
      <div class="sk-circle7 sk-circle"></div>
      <div class="sk-circle8 sk-circle"></div>
      <div class="sk-circle9 sk-circle"></div>
      <div class="sk-circle10 sk-circle"></div>
      <div class="sk-circle11 sk-circle"></div>
      <div class="sk-circle12 sk-circle"></div>
    </div>
  </div>
<div class="page-break" *ngIf="!loading">
    <div class="_container" *ngFor="let data of totalResult; let i = index">
        <div class="content">
            <div class="table-order">
                <table class="header">
                    <tr>
                        <td class="locard-logo">
                            <!-- <img src="assets/images/logo.png" class="logo-avatar" /><br> -->
                            <p>
                                <strong>PT. CLS System</strong><br>
                                Jl. Kebon Jeruk VII No.2E, Maphar Taman Sari<br>
                                Jakarta Barat 11160, Indonesia.<br>
                                Tel:+62 21 2268 6277
                            </p>
                            
                        </td>
                        <td class="awb" style="text-align: center;">
                            <!-- <p>AWB</p> -->
                            <label style="font-size:14px;"><strong>{{data.awb_number}}</strong></label>
                            <ngx-barcode [bc-value]="data.awb_number ? data.awb_number : data.reference_no" [bc-display-value]="false" [bc-width]="1.2"
                                [bc-height]="60" [bc-font-size]="10">
                            </ngx-barcode>
                        </td>
                        <!-- <td *ngIf="same" class="locard-logo">
                            <img src="{{courier_image}}" class="logo-avatar" />
                        </td>
                        <td *ngIf="!same" class="locard-logo">
                            <span style="font-size: 20px;">{{data.courier.courier}}</span>
                        </td> -->
                        <!-- <td class="locard-logo">
                            <img *ngIf="courier_image_array[i].same == true" src="{{courier_image_array[i].image}}" class="logo-avatar" />
                            <span *ngIf="courier_image_array[i].same == false" style="font-size: 20px;">{{courier_image_array[i].courier}}</span>
                        </td> -->
                    </tr>
                </table>
                <table class="additional-info-header">
                    <tr class="row-additional-info" *ngIf="data.additional_info && data.additional_info.origin_branch && data.additional_info.dest_branch">
                        <td>{{data.additional_info.origin_branch}}-{{data.additional_info.dest_branch}}</td>
                        <td>NON COD</td>
                        <td *ngIf="data.courier == 'REALS-SAP'">AWB API</td>
                    </tr>
                </table>
                <table align="center" class="detail-header">
                    <div class="row row-detail-shipping">
                        <div class=" detail-person">
                            <!-- <div id="order">
                            <strong>Order ID : {{data.order_id}} </strong> <br />
                            </div> -->
                            <div class="row sender">
                                <div style="padding: 0;width: 100%;">
                                    <p>
                                        <tr style="border: none;">
                                            <td class="table-no-border td-fit"><strong>PENGIRIM:</strong></td>
                                            <td *ngIf="mci_project" class="table-no-border">PT. CLS SYSTEM</td>
                                            <td *ngIf="!mci_project" class="table-no-border">CS {{programTitle}}</td>
                                        </tr>
                                        <!-- <tr style="border: none;" *ngIf="!mci_project">
                                            <td class="table-no-border"><strong>CLIENT:</strong></td>
                                            <td class="table-no-border"><span style="text-transform: uppercase;">{{data.member_detail.cluster}}</span></td>
                                        </tr> -->
                                        <tr style="border: none;">
                                            <td class="table-no-border"><strong>PENERIMA:</strong></td>
                                            <td class="table-no-border">{{data.destination.name}}</td>
                                        </tr>
                                        <!-- <tr style="border: none;" *ngIf="!mci_project">
                                            <td class="table-no-border"><strong>No.KTP:</strong></td>
                                            <td class="table-no-border">{{data.member_detail.ktp_penerima}}</td>
                                        </tr> -->
                                        <tr style="border: none;">
                                            <td class="table-no-border"><strong>ALAMAT:</strong></td>
                                            <!-- <td class="table-no-border" *ngIf="!mci_project">{{data.member_detail.alamat_rumah}}</td>
                                            <td class="table-no-border" *ngIf="mci_project">{{data.member_detail.alamat_rumah}},{{data.member_detail.kota_rumah}},{{data.member_detail.kode_pos_rumah}}</td> -->
                                            <td class="table-no-border">{{data.destination.address}}, {{data.destination.province_name}}, {{data.destination.city_name}}, {{data.destination.district_name}}, {{data.destination.village_name}}, {{data.destination.postal_code}}</td>
                                        </tr>
                                        <tr style="border: none;">
                                            <td class="table-no-border"><strong>HP/TEL:</strong></td>
                                            <td class="table-no-border">{{data.destination.cell_phone}}</td>
                                        </tr>
                                    </p>
                                </div>
                                <!-- <div style="padding: 0;width: 50%;">
                                    <p><strong>Penerima : </strong><br>
                                        {{data.member_detail.nama_penerima}}<br>
                                        {{data.member_detail.alamat_rumah}}<br>
                                        {{data.member_detail.no_wa_penerima}}<br>
                                    </p>
                                </div> -->
                            </div>
                            <!-- <div class="receiver"></div> -->
                            <!-- <div class="send">
                            <label id="non">NON-COD</label> <br />
                            <label id="shipping">{{data.shipping.service}}</label>
                            </div> -->
                        </div>
                        <div class="row">
                            <div class=" detail-order">
                                <p>
                                    <strong>Tanggal: </strong>
                                    {{data.created_date}}<br>
                                    <strong>No. Reference : </strong>
                                    {{data.reference_no}}<br>
                                    <strong>Courier: </strong>
                                    {{data.courier_name}}<br>
                                    <strong>Service: </strong>
                                    <span *ngIf="data.delivery_service && data.delivery_method">
                                        {{data.delivery_service + " (" + data.delivery_method + ")"}}
                                    </span>
                                    <br>
                                    <strong>Pieces: </strong>
                                    {{data.total_item_qty}}<br>
                                    <strong>Weight: </strong>
                                    {{data.weight}}
                                    <br>
                                    <strong>Instruksi Khusus: </strong>
                                    <br>
                                    
                                </p>
                            </div>
                            <div class=" detail-order">
                                <p>
                                    <strong>Nama Penerima: </strong>
                                    <br>
                                    <strong>Tgl. Terima: </strong>
                                    <br>
                                    <!-- <strong *ngIf="!mci_project">No.KTP: </strong>
                                    <br> -->
                                    <strong>Tanda Tangan: </strong>
                                </p>
                            </div>
                        </div>

                    </div>
                </table>
                <table align="center" class="detail-barang-pengiriman">
                    <div class="row row-eq-height">
                        <div class="detail-barang">
                            <div class="row">
                                <div class="col-md-8 daftar-barang">
                                    <strong>ITEM: </strong>
                                    <span class="data-products"
                                        *ngFor="let b of data.product_list">{{b.product_name}}({{b.quantity}}),
                                    </span><br>
                                </div>
                                <!-- <div class="col-md-6 catatan">
                                    <label>Terima Kasih sudah berbelanja di locard!</label>
                                </div> -->
                            </div>
                        </div>
                        <!-- <div class="detail-pengiriman">
                            <div class="row" style="margin-right: 0px;">
                                <div class="col-md-12 jenis-pengiriman">
                                    <strong>Catatan: </strong><br>
                                    <span  *ngFor="let b of data.products;let i = index">
                                        {{i+1}}. {{b.note_to_merchant}}
                                    </span>
                                  
                                </div>
                            </div>
                        </div> -->
                    </div>
                </table>
            </div>
            <p class="page-number">
                Page {{i+1}} of {{totalResult.length}}
            </p>
        </div>
    </div>
</div>
