<div [@routerTransition]>
    <app-page-header [heading]="'Order detail for' + orderhistoryDetail.order_id" [icon]="'fa-table'"></app-page-header>
    <div *ngIf="orderhistoryDetail">
        <app-orderhistorypending-edit [back]="[this, 'editThis']" [detail]="orderHistoryDetail">
        </app-orderhistorypending-edit>
    </div>
</div>





<!-- <div *ngIf="!edit" class="card card-detail">
    <div class="card-header">
        <button class="btn back_button" (click)="backToTable()"><i class="fa fa-fw fa-angle-left"></i> back</button><h1>{{detail._id}}</h1>
        <button class="btn edit_button" (click)="editThis()"><i class="fa fa-fw fa-pencil-alt"></i> edit</button>
    </div> 
    <div class="card-content">
        <div class="orderhistorypending-detail">
    
            <div class="row">
             <div class=" col-md-8" >
                 <div class="card mb-3">
                     <div class="card-header"><h2> Order History Pending Details </h2></div>
                     <div class="card-content">
                         <div class="col-md-12">
                            <label>Order ID</label>
                            <div name="order_id" >{{detail.order_id}}</div>
                            <label>Order date</label>
                            <div name="created_date" >{{detail.created_date}}</div>
                            <label>Expired date</label>
                            <div name="payment_expire_date" >{{detail.payment_expire_date.in_string}}</div>
                            <label>User Id</label>
                            <div name="user_id" >{{detail._id}}</div>
                            <label>User Name</label>
                            <div name="buyer_detail.name" >{{detail.buyer_detail.name}}</div>
                            <label>User Email</label>
                            <div name="buyer_detail.email" >{{detail.buyer_detail.email}}</div>
                            <label>Payment Service</label>
                            <div name="service" >{{detail.service}}</div>
                            <label>Status</label>
                            <div name="transaction_status" >{{detail.status}}</div>
                            <label>Total Price</label>
                            <div name="billings.sum_total" >{{detail.billings.sum_total}}</div>
                            


                         </div>
                       
                      </div>
                 </div>
                </div>
                <div class=" col-md-4" >
                    <div class="card mb-3">
                        <div class="card-header"><h2>Shipping Info</h2> </div>
                        <div class="card-content">
                            <div class="col-md-12" *ngIf="!detail.shipping_info">
                                no shipping info
                            </div>
                            <div class="col-md-12" *ngIf="detail.shipping_info">
                                <ul>
                                    <li *ngFor="let si of detail.shipping_info">
                                            <label>{{si.label}} - {{si.created_date}}</label>
                                    </li>
                                    <label>Awb Receipt</label>
                                    <div name="detail.awb_receipt" >{{detail.awb_receipt}}</div>
                                    <label>Shipping Services</label>
                                    <div name="detail.shipping_services" >{{detail.shipping_services}}</div> 
                                </ul>
                            </div>
                        
                        </div> 
                    </div>
                 
                </div>
                <div class=" col-md-4" >
                 <div class="card mb-3">
                     <div class="card-header"><h2>Member &amp; Status Member</h2> </div>
                     <div class="card-content">
                         <div class="col-md-12">
                             
                           
                             
                         </div>
                       
                      </div> 
                 </div>
                 
                </div>
            </div>
     
         </div>
    </div>
    <div class="card-content">
        <div class="orderhistorypending-detail">
            <div class="row">
             <div class=" col-md-8" >
                 <div class="card mb-3">
                     <div class="card-header"><h2> Order Summary </h2></div>
                     <div class="card-content">
                         <div class="col-md-12">
                            <h3> Product List</h3>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Product Name</th>
                                        <th>Qty</th>
                                        <th>Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let dp of detail.products">
                                            <td>{{dp.product_name}} @ {{dp.fixed_price}}</td>
                                            <td>{{dp.quantity}}</td>
                                            <td>{{dp.total_product_price}}</td>
                                    </tr>
                                    <tr *ngFor="let bd of detail.additionalBillings">
                                            <td>{{bd.product_name}}</td>
                                            <td></td>
                                            <td>{{bd.value}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">Total Price</td>
                                        <td><div name="sum_total" >{{detail.billings.sum_total}}</div></td>
                                    </tr>
                                </tbody>
                            </table>
                         </div>
                      </div>
                 </div>
                </div>
            </div>
         </div>
    </div>
</div>
<div *ngIf="edit">
    <app-orderhistorypending-edit [back]="[this,'editThis']" [detail]="detail"></app-orderhistorypending-edit>
</div> -->