* {
  font-family: "Poppins", sans-serif;
}
.full {
  margin-top: 15px;
  width: 100%;
}
.full:hover {
  background-color: #0069d9;
  cursor: pointer;
}
.full:active {
  box-shadow: 0 2px #666;
transform: translateY(2px);
}
.locard-icon {
  position: absolute;
  background-image: url("/assets/images/locard_icon_circle.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: auto;
  width: auto;
  z-index: -1;
}
::ng-deep .mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content{
  padding : 0px !important;
}
::ng-deep mat-list-item {
  margin-bottom: 2vh;
}
::ng-deep mat-list-item {
  color : grey;
}
.register-page-bg {
  position: absolute;
  
  // background-repeat: no-repeat;
  // background-position: center center;
  // background-size: cover;
  // background-color: white;
  height: 100%;
  width: 100%;
  z-index: -1;
  img {
    width: 60%;
  }
}

.title-custom {
  padding: 20px 40px 15px 40px;

  label {
    color: #096aa0;
    font-size: 35px;
    margin-left: 10px;
    margin-bottom: 0px;
    vertical-align: middle;
  }
}

.register-page-container {
  color: white;
  // margin-top: 130px;
  padding-top: 0vw;
  padding-left: 6vw;
  padding-right: 5vw;
  max-width: 100%;
  overflow: hidden;
}

.text {
  padding-right: 2vw;
}

.register-form-container {
  position: absolute;
    background-color: white;
    border-radius: 5px;
    color: black;
    right: 0px;
    padding-top: 1em;
    padding-bottom: 1em;
    padding: 1em 3em;

  .form-title {
    color: black;
  }
  .form-container {
    margin-top: 20px;
    padding: 7% 7% 6%;
    box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.1);
  }
  .forgot-password {
    
    font-size: 16px;margin-top: 10px;
    right: 0px;;
    text-align: right; margin-bottom: -5px;
    label {
      color: blue;
    }
  }
  .register-label {
    margin-top: 3vh;
    color:grey;
    font-size: 13px;
  }
}



.register-form {
  padding: 0;
  background-color: white;

  label {
    color: #c8c8c8;
    font-size: 0.8em;
  }

  .half {
    display: flex;

    .half-space {
      width: 2%;
    }

    .half-component {
      width: 49%;
    }
  }

  .register-btn {
    margin-top: 10px;
    width: 100%;
    height: 52px;
    background-color: #0957a2;
    border-radius: 80px;
  }

  .login-btn {
    width: 100%;
    height: 52px;
    color: #0957a2;
    background-color: white;
    border-radius: 80px;
    border: 2px solid #0957a2;
    box-shadow: 0 9px #999;
  }
 

  .privacy-policy-text {
    font-size: 0.6em;
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;
  }
}

.or-line {
  display: flex;
  // margin-top: 10px;
  align-items: center;
  hr {
    width: 50%;
  }
  label {
    margin: 0px 10px;
  }
}

footer {
  position: absolute;
  bottom: 0;
  right: 0px;
  width: 50vw;
  color: white;
  font-size: 12px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .title-custom {
    padding: 30px 40px 15px 35px;

    label {
      color: white;
      font-size: 20px;
      margin-left: 10px;
      margin-bottom: 0px;
      vertical-align: middle;
    }
  }
}
