<div [@routerTransition]>
  <app-page-header [heading]="'Promo'" [icon]="'fa-table'"></app-page-header>
  <div *ngIf="Promotion&&promotionDetail==false">
        <app-form-builder-table
            [table_data]="Prodict"
        [searchCallback]="[service, 'searchPromotionLint',this]"
        [tableFormat]="tableFormat"
      >
        </app-form-builder-table>
  </div>
      <div *ngIf="promotionDetail">
            <app-promotion-detail [back]="[this,backToHere]" [detail]="promotionDetail"></app-promotion-detail>
      </div>
</div>
