<div *ngIf="!edit" class="card card-detail">
    <div class="card-header">
        <button class="btn back_button" (click)="backToTable()"><i class="fa fa-fw fa-angle-left"></i> back</button>
        <button class="btn edit_button" (click)="editThis()"><i class="fa fa-fw fa-pencil-alt"></i> edit</button>
    </div>
  
    <div class="card-content">
        <div class="member-detail">
    
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-content">
                            <div class="col-md-12" *ngIf="adminDetail">
                                <label>Group Name</label>
                                <div name="group_name">{{adminDetail.group_name}}</div>

                                <label>Description</label>
                                <div name="description">{{adminDetail.description}}</div>

                                <label>Status</label>
                                <div name="status">{{adminDetail.status}}</div>

                                <label>Access List</label>
                                <!-- <div name="full_name">{{pipeToComma(adminDetail.access_list.usr_mngt)}}</div> -->
                                <div name="full_name">
                                    <div *ngFor="let item of adminDetail.access_list | keyvalue">
                                    <!-- <div name="full_name" > -->
                                        <b>{{item.key}}</b> : {{pipeToComma(item.value)}}
                                        <br><br>
                                    <!-- </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
         </div>
    </div>
</div>
<div *ngIf="edit">
    <app-admin-group-edit [back]="[this, 'editThis']" [detail]="adminDetail"></app-admin-group-edit>
</div>