<div *ngIf="!edit" class="card card-detail">
    <div class="card-header">
        <button class="btn back_button" (click)="backToTable()"><i class="fa fa-fw fa-angle-left"></i> back</button><h1>{{detail._id}}</h1>
        <button class="btn edit_button" (click)="editThis()"><i class="fa fa-fw fa-pencil-alt"></i> edit</button> 
    </div> 
    <div class="card-content">
        <div class="reporterror-detail">
    
            <div class="row">
             <div class=" col-md-8" >
                 <div class="card mb-3">
                     <div class="card-header"><h2> Error Report </h2></div>
                     <div class="card-content">
                         <div class="col-md-12">
                            <label>REQ ID</label>
                            <div name="REQ_ID" >{{detail.REQ_ID}}</div>
                            <label>REQ IP Address</label>
                            <div name="REQ_IP_ADDRESS" >{{detail.REQ_IP_ADDRESS}}</div>
                            <label>Log Type</label>
                            <div name="LOG_TYPE" >{{detail.LOG_TYPE}}</div>
                            <label>Message</label>
                            <div name="msg" >{{detail.msg}}</div>
                            <label>Error Message</label>
                            <div name="errorMessage" >{{detail.errorMessage}}</div>
                            <label>Time</label>
                            <div name="time" >{{detail.time}}</div>                         
                         </div>
                       
                      </div>
                 </div>
                 
                </div>
            </div>
     
         </div>
    </div>
</div>
<div *ngIf="edit">
    <app-reporterror-edit [back]="[this, 'editThis']" [detail]="detail"></app-reporterror-edit>
</div>
