<div class="card card-detail">
    <div class="card-header">
        <button class="btn back_button" (click)="backToDetail()"><i class="fa fa-fw fa-angle-left"></i> back</button><h1>{{detail.member_id}}</h1>
        <button class="btn save_button {{loading}}" type="submit" (click)="saveThis()"><i class="fa fa-fw fa-save"></i> <span  *ngIf="!loading">Save</span> <span *ngIf="loading">loading</span></button>
    </div>
    <div class="card-content">
        <div class="points-models-detail">
    
            <div class="row">
             <div class=" col-md-8" >
                 <div class="card mb-3">
                     <div class="card-header"><h2> Points Models Details </h2></div>
                     <div class="card-content">
                         <div class="col-md-12">
                                <label>Points Model Type</label>
                                <div name="rule_type"> {{rule_type}}
                                    <form-select name="rule_type" [(ngModel)]="detail.rule_type" [data]="ruleType" required></form-select> 
                                </div>

                                <label>Transaction Type</label>
                                <div name="transaction_type"> {{transaction_type}}
                                    <form-select name="transaction_type" [(ngModel)]="detail.transaction_type" [data]="transactionType" required></form-select> 
                                </div>
                      
                                <label>Point Model Name</label>
                                <form-input name="rule_description" [placeholder]="'Point Model Name'"  [type]="'text'" [(ngModel)]="detail.rule_description" required></form-input>
                         </div>
                    </div>
                    <div class="card-header"><h2> Calculation Type </h2></div>
                    <div class="card-content">
                        <div class="col-md-12">
             
                            <label>Point Model Calculation Type</label>
                            <div name="calc_type"> {{calc_type}}
                                <form-select name="calc_type" [(ngModel)]="detail.calc_type" [data]="calcType" required></form-select> 
                            </div>

                             <label>Percentage Value</label>
                             <form-input name="percentage" [placeholder]="'Percentage Value'"  [type]="'text'" [(ngModel)]="detail.percentage" required></form-input>
                        </div>
                    </div>
                    <div class="card-header"><h2> By Spending Conditions </h2></div>
                    <div class="card-content">
                        <div class="col-md-12">
                             <label>Minimum Spending Amount Value</label>
                             <form-input name="amt_min" [placeholder]="'Minimum Spending Amount Value'"  [type]="'text'" [(ngModel)]="detail.amt_min" required></form-input>

                             <label>Maximum Spending Amount Value</label>
                             <form-input name="amt_max" [placeholder]="'Maximum Spending Amount Value'"  [type]="'text'" [(ngModel)]="detail.amt_max" required></form-input>

                             <label>Spending Amount Value</label>
                             <form-input name="amount" [placeholder]="'Spending Amount Value'"  [type]="'text'" [(ngModel)]="detail.amount" required></form-input>
                        </div>
                    </div>
                    <div class="card-header"><h2> Earned Points </h2></div>
                    <div class="card-content">
                        <div class="col-md-12">
                             <label>Points Earned Value</label>
                             <form-input name="points" [placeholder]="'Points Earned Value'"  [type]="'text'" [(ngModel)]="detail.points" required></form-input>
                        </div>
                    </div>
                    <div class="card-header"><h2> Validity </h2></div>
                    <div class="card-content">
                        <div class="col-md-12">
                            <label>Status</label>
                            <div name="status"> {{status}}
                                <form-select name="status" [(ngModel)]="detail.status" [data]="modelsStatus" required></form-select> 
                            </div>

                             <label>Start Date</label>
                             <form-input name="start_date" [placeholder]="'Start Date'"  [type]="'text'" [(ngModel)]="detail.start_date" required></form-input>

                             <label>End date</label>
                             <form-input name="end_date" [placeholder]="'End Date'"  [type]="'text'" [(ngModel)]="detail.end_date" required></form-input>
                        </div>
                    </div>
                 </div>
                </div>
            </div>
     
         </div>
    </div>
    
</div>