@media screen and (max-width: 992px) {
    .push-right {
        .sidebar {
            left: 235px !important;
        }
        .main-container {
            margin-left: 200px !important;
        }
    }
}
@media screen and (max-width: 600px) {
    .push-right {
        .sidebar {
            left: 235px !important;
        }
        .main-container {
            margin-left: 25% !important;
        }
    }
}
