
* {
    font-family: "Poppins", sans-serif;
    transition: ease all .3s;
  }
  ::ng-deep .mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content{
    padding : 0px !important;
  }
//   ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
//     // padding-top: 3px !important;
  
//   }

.full {
    width: 100%;
}
.container-all {
    .button-back {
        top :3vh;
        left: 5vw;
        position: absolute;
        .container-button-back {
            
        }
    }
    .header {
        margin-top : 5vh;
        .logo {
            display: flex;
            justify-content: center;
            img {
                width: 60px;
                height: auto;
            }
            .title {
                margin-left: 15px;
                font-weight: bold;
                color : #085685;
                font-size: 40px;
            }
        }
    }
    .body {
        margin-top : 10vh;
        display: flex;
        justify-content: center;
        align-self: center;
        .container-form {
            height: 400px;
            .content {
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                vertical-align: middle;
                padding : 10% 15%;
                .title-content {
                    text-align: center;
                    font-weight: bold;
                    font-size:  20px;
                }
                .body-content {
                    text-align: left;
                    margin-top: 30px;
                    font-size: 15px;
                }
                .email {
                    margin-top: 20px;
                    margin-bottom: 20px;
                }
                .button-container {
                    display: flex;
                    justify-content: space-between;
                    margin-top : 20px;
                    button {
                        width: 47%;
                        border : none;
                    }
                }

            }
        }
    }
}