.register-page-bg {
    position: absolute;
    background-color: red;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.register-page-container {
    color: white;
    padding-top: 5vw;
    padding-left: 5vw;
    padding-right: 5vw;
    max-width: 100%;
    overflow: hidden;
}

.text {
    padding-right: 2vw;
}

.register-form-container {
    background-color: white;
    border-radius: 5px;
    color: black;
    padding-top: 1em;
    padding-bottom: 1em;

    .form-title {
        color: green;
    }
}

.register-form {
    padding: 0;
    background-color: white;

    .half {
        display: flex;

        .half-space {
            width: 2%;
        }

        .half-component {
            width: 49%;
        }
    }

    .register-btn {
        width: 100%;
    }

    .privacy-policy-text {
        font-size: 0.6em;
        text-align: center;
        padding-left: 2px;
        padding-right: 2px;
    }
}

footer {
    position: absolute;
    bottom: 0;
    right: 0px;
    width: 50vw;
    color: white;
    font-size: 12px;
    text-align: center
}