<div *ngIf="pointStockDetail" class="card card-detail">
    <div class="card-header">
        <button class="btn back_button" (click)="backToHere()"><i class="fa fa-fw fa-angle-left"></i> back</button>
    </div>

    <ng-template #empty_image><span>
        empty
    </span></ng-template>
  
    <div class="card-content">
        <div class="member-detail">
    
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-header"><h2>Stock Detail</h2></div>
                        <div class="card-content">
                            <div class="col-md-12">             
                                <label>Process Number</label>
                                <div name="member_id">{{pointStockDetail.process_number}}</div>

                                <!-- <label>Process Type</label>
                                <div name="member_id">{{pointStockDetail.process_type}}</div> -->

                                <!-- <label>Created Date</label>
                                <div name="member_id">{{pointStockDetail.created_date}}</div> -->

                                <!-- <label>Updated Date</label>
                                <div name="member_id">{{pointStockDetail.updated_date}}</div> -->

                                <label>Total Transaction</label>
                                <div name="member_id">{{pointStockDetail.total_transaction}}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-header"><h2>Approval Status</h2></div>
                        <div class="card-content">
                            <div class="col-md-12">             
                                <label>Status</label>
                                <div name="member_id">{{pointStockDetail.status}}</div>
                                
                                <div class="need-approval-text" *ngIf="pointStockDetail.status == 'REQUESTED' && !processNow && !declineNow">
                                    <span>This request needs approval</span>
                                </div>

                                <div class="need-approval-text" *ngIf="pointStockDetail.status == 'REQUESTED' && processNow && !declineNow">
                                    <span>Are you sure to process this request?</span>
                                </div>

                                <div class="need-approval-text" *ngIf="pointStockDetail.status == 'REQUESTED' && !processNow && declineNow">
                                    <span>Are you sure to decline this request?</span>
                                </div>

                                <div style="display: flex;">
                                    <div class="btn-action-stock" *ngIf="pointStockDetail.status == 'REQUESTED' && !processNow && !declineNow">
                                        <button class="btn btn-approve" (click)="isProcessNow()">Process</button>
                                    </div>
    
                                    <div class="btn-action-stock" *ngIf="pointStockDetail.status == 'REQUESTED' && !processNow && !declineNow">
                                        <button class="btn btn-decline" (click)="isDeclineNow()">Decline</button>
                                    </div>
                                </div>

                                <div class="btn-action-stock" *ngIf="pointStockDetail.status == 'REQUESTED' && processNow && !declineNow">
                                    <button class="btn btn-approve" (click)="processPoint(pointStockDetail.process_number, 'approve')">Process Now</button>
                                    <button class="btn btn-cancel" (click)="isProcessNow()">Cancel</button>
                                </div>

                                <div class="btn-action-stock" *ngIf="pointStockDetail.status == 'REQUESTED' && !processNow && declineNow">
                                    <button class="btn btn-decline" (click)="processPoint(pointStockDetail.process_number, 'cancel')">Decline Now</button>
                                    <button class="btn btn-cancel" (click)="isDeclineNow()">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
         </div>
    </div>
    
</div>

<div *ngIf="points&&pointDetail==false &&!errorMessage">
    <app-form-builder-table 
    [tableFormat] = "tableFormat" 
    [table_data]  = "points" 
    [searchCallback]= "[service, 'searchPointstransactionReportProcessLint',this]" 
    [total_page]="totalPage"
    >
    </app-form-builder-table>
</div>
