<div>
  <app-page-header [heading]="'&nbsp;'" [icon]="'fa-table'"></app-page-header>

  <div *ngIf="EscrowData&&pointstransactionDetail==false">
    <div class="table-container">
      <app-form-builder-table [searchCallback]="[service, 'searchEscrowtransactionLint',this]"
        [tableFormat]="tableFormat" [table_data]="EscrowData" [total_page]="totalPage">

      </app-form-builder-table>
      <!-- <div>
        <h1 style="color:white;">ESCROW TRANSACTION</h1>
      </div>
      <div class="money-table">
        <table>
          <tr>
            <th>No</th>
            <th>ID</th>
            <th>Merchant Name</th>
            <th>Date</th>
            <th>Description</th>
            <th>Ref</th>
            <th>Debit</th>
            <th>Credit</th>
            <th>Type</th>
            <th>Status</th>
          </tr>
          <tr
            *ngFor="let data of EscrowData | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; let i = index"
            (click)="callDetail(data._id);" style="cursor:pointer;">
            <td>{{i+1}}</td>
            <td>{{data._id}}</td>
            <td>{{data.merchant_name}}</td>
            <td>{{data.created_date}}</td>
            <td>{{data.description}}</td>
            <td>
              <span *ngIf="data.reference_id">{{data.reference_id}}</span>
              <span *ngIf="!data.reference_id">-</span>
            </td>
            <td>
              <strong *ngIf="data.how_much >= 0 && data.type == '+'">{{data.how_much| currency: 'Rp '}}</strong>
              <strong
                *ngIf="data.type == 'withdrawal' && data.transaction_status == 'REFUND'">{{data.how_much| currency: 'Rp '}}</strong>


            </td>
            <td>
              <strong *ngIf="data.how_much <= 0 && data.type == '-'"
                style="color:red;">{{(data.how_much * -1)| currency: 'Rp '}}</strong>
              <strong *ngIf="data.type == 'hold' && data.transaction_status == 'SUCCESS'"
                style="color:red;">{{data.how_much * -1| currency: 'Rp '}}</strong>
              <strong *ngIf="data.type == 'withdrawal' && data.transaction_status == 'REJECT'"
                style="color:red;">{{data.how_much * -1| currency: 'Rp '}}</strong>
              <strong *ngIf="data.type == 'withdrawal' && data.transaction_status == 'SUCCESS'"
                style="color:red;">{{data.how_much * -1| currency: 'Rp '}}</strong>
              <strong *ngIf="data.type == 'withdrawal' && data.transaction_status == 'PENDING'"
                style="color:red;">{{data.how_much * -1| currency: 'Rp '}}</strong>
              <strong *ngIf="data.type == 'hold' && data.transaction_status == 'REFUND'"
                style="color:red;">{{data.how_much * -1| currency: 'Rp '}}</strong>
              <strong *ngIf="data.type == 'hold' && data.transaction_status == 'HOLD'"
                style="color:red;">{{data.how_much * -1| currency: 'Rp '}}</strong>
            </td>
            <td>
              <span *ngIf="data.type == '+'">Debit</span>
              <span *ngIf="data.type == '-'">Kredit</span>
              <span *ngIf="data.type != '-' && data.type != '+'">{{data.type}}</span>
            </td>
            <td>
              <button *ngIf="data.transaction_status == 'PENDING'" class="pending">{{data.transaction_status }}</button>
              <button *ngIf="data.transaction_status  == 'SUCCESS'"
                class="success">{{data.transaction_status }}</button>
              <button *ngIf="data.transaction_status  == 'HOLD'" class="hold">{{data.transaction_status }}</button>
              <button *ngIf="data.transaction_status  == 'REFUND'" class="refunded">
                {{data.transaction_status }}</button>
              <span *ngIf="data.transaction_status  == '-'"> - </span>
              <button *ngIf="data.transaction_status  == 'REJECT'" class="rejected">
                {{data.transaction_status }}</button>
              <span *ngIf="!data.transaction_status ">-</span>
            </td>
          </tr>
        </table>


      </div> -->
      <!-- <div class="div-footer" *ngIf="EscrowData && EscrowData.length != 0" style="margin-top:10px;float:right;">
        <ngb-pagination [collectionSize]="totalPage" [(page)]="page" [pageSize]="pageSize" [maxSize]="4" [rotate]="true"
          [ellipses]="false" [boundaryLinks]="true">
          <ng-template ngbPaginationFirst>&lt;&lt;</ng-template>
          <ng-template ngbPaginationLast>&gt;&gt;</ng-template>
          <ng-template ngbPaginationPrevious>&lt;</ng-template>
          <ng-template ngbPaginationNext>&gt;</ng-template>
        </ngb-pagination>
      </div> -->
       <!-- <div class="div-footer" *ngIf="EscrowData && EscrowData.length!=0" style="margin-top:10px;float:right;">
            <div class="pagination">
                <button class="btn" (click)="onChangePage(currentPage = 1)">
                    &laquo; </button> <button class="btn" (click)="onChangePage(currentPage - 1)">
                    &lsaquo; </button> <button *ngFor="let tp of pageNumbering" class="btn"
                    (click)="onChangePage(tp)">{{tp}}
                </button>
                <button class="btn" (click) ="onChangePage(currentPage + 1)">&rsaquo;</button>
                <button class="btn" (click)="onChangePage(currentPage = total_page)">&raquo;</button>
            </div>
        </div> -->
    </div>
  </div>
  <!-- <div *ngIf="pointstransactionDetail">
            <app-pointstransaction-detail [back]="[this,backToHere]" [detail]="pointstransactionDetail"></app-pointstransaction-detail>
      </div> -->

</div>