:host {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 30px;
  overflow: hidden;
  display: flex;

  .card {
    margin-bottom: 25px;
    cursor: pointer;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 8%);
  }
}
  
div,
span:not(.fa) {
  font-family: "Poppins";
}

.app-login-page {
  margin-top: 40px;
}

  ._container {
    width: 100%;
    padding: 25px 0vw;
    margin-top: 40px;
  
    .row.cl-row-list {
      margin: 0px;
    }
  
    .card.cl-list {
      border-radius: 10px;
      .serodja {
        background: #d68060;
        // background: linear-gradient(50deg, rgba(84, 44, 179, 1) 0%, rgba(218, 108, 135, 1) 88%);
      }
      .annet-sofa {
        background: #7579e7;
        // background: linear-gradient(50deg, rgba(137, 42, 106, 1) 0%, rgba(232, 101, 99, 1) 88%);
      }
      .rinjani {
        background: #900d0d;
        // background: linear-gradient(50deg, rgba(62, 60, 137, 1) 0%, rgba(52, 142, 241, 1) 88%);
      }
      .tokolab {
        background: #f0f0f0;
        // background: linear-gradient(50deg, rgba(35, 91, 147, 1) 0%, rgba(53, 191, 156, 1) 88%);
      }
      .chocoblitz {
        background: #f0f0f0;
        // background: linear-gradient(50deg, rgba(35, 91, 147, 1) 0%, rgba(53, 191, 156, 1) 88%);
      }
      .statistics {
        background: rgb(214, 30, 88);
        background: linear-gradient(50deg, rgba(214, 30, 88, 1) 0%, rgba(242, 142, 65, 1) 88%);
      }
      .card-header {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-width: 0px;
        display: flex;
        text-align: center;
        align-items: flex-start;
        flex-direction: column;
        height: 27vh;
        color: white;
        justify-content: flex-start;
        .card-header-title {
          font-size: 17px;
          color: #000000;
        }
        hr {
          display: block;
          height: 1px;
          border: 0;
          width: 100%;
          border-top: 1px solid #ccc;
          margin: 1vh 0;
          padding: 0;
        }
        .card-header-body {
          align-self: stretch;
          display: flex;
          justify-content: space-around;
          align-items: center;
          img {
            height: 15vh;
            width: auto;
            min-width: 100px;
          }
          .title-sub {
            font-size: 15px;
            font-weight: bold;
          }
          .body-sub {
            font-size: 50px;
          }
        }
        .fa {
          font-size: 21px;
          font-weight: bold;
          width: 55px;
          display: inline-flex;
          margin: 0px 15px 15px 0px;
          height: 55px;
          background: #3498db;
          justify-content: center;
          padding: 5px;
          color: white;
          align-items: center;
          border-radius: 5px;
        }
  
        .profile {
          background: #9b59b6;
        }
  
        .transactions {
          background: #2ecc71;
        }
  
        .statistics {
          background: #e67e22;
        }
  
        .store {
          background: rgba(26, 188, 156, 1);
        }
      }
  
   
      .card-body {
        display: block;
        position: relative;
        font-weight: bold;
        // justify-content: center;
        // flex-direction: column;
        // align-items: center;
        height: 80px;
  
        .center {
          text-align: center;
        }
  
        .button-container {
         
          button.btn.btn-2 {
            width: calc(100% - 40px);
            position: absolute;
            bottom: 80px;
            left: 20px;
          }
          button.btn.btn-1 {
            width: calc(100% - 40px);
            position: absolute;
            bottom: 20px;
            left: 20px;
          }
          .upgrade {
            background: white;
            border: 1px solid #ffb24d;
            color: #ffb24d;
            font-size: 14px;
            font-weight: bold;
            padding: 5px;
            
          }
          button > img {
            width: auto;
            height: 30px;
            padding-right: 5px;
            padding-bottom: 5px;
          }
        }
      }
      .with-upgrade {  
        height: 201px ;
      }
      
    }
  }
  @media (max-width: 1176px) {
    ._container {
      .cl-row-list .col-lg-3 {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: calc((100vw - 202px) / 2 - 5px);
        float: left;
        max-width: unset;
        flex: unset;
      }
    }
  }
  
  @media (max-width: 768px) {
    ._container {
      .card.cl-list {
        .card-header {
          font-size: 20px;
        }
      }
      .cl-row-list .col-lg-3 {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: calc((100vw - 202px) / 2 - 5px);
        float: left;
      }
    }
    div,
    span:not(.fa) {
      font-size: 13px;
    }
  }
  @media (max-width: 620px) {
    ._container {
      .cl-row-list .col-lg-3 {
        width: calc((100vw - 61px) / 2 - 5px);
      }
    }
  }
  
  @media (max-width: 460px) {
    ._container {
      .cl-row-list .col-lg-3 {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 80vw;
        float: left;
        max-width: unset;
        flex: unset;
      }
    }
  }
  
  // iPhone X
  @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    ._container {
      .card.cl-list {
        .card-header {
          font-size: 15px;
        }
      }
    }
    div,
    span:not(.fa) {
      font-size: 7px;
    }
    :host {
      .card {
        height: 250px;
      }
    }
  }
  
  .myInput {
    margin: 15px 15px 20px;
    width: 100%;
    height: 50px;
    padding: 10px;
  }