<div class="card card-detail">
    <div class="card-header">
        <button class="btn back_button" (click)="backToDetail()"><i class="fa fa-fw fa-angle-left"></i> back</button>
        <h1>{{detail.name}}</h1>
        <button class="btn save_button {{loading}}" type="submit" (click)="saveThis()"><i class="fa fa-fw fa-save"></i>
            <span *ngIf="!loading">Save</span> <span *ngIf="loading">loading</span></button>
    </div>
    <div class="card-content">
        <div class="promotion-detail">

            <div class="row">
                <div class=" col-md-8">
                    <div class="card mb-3">
                        <div class="card-header">
                            <h2> Edit Promotion Details </h2>
                        </div>
                        <div class="card-content">
                            <div class="col-md-12">
                                <label>Campaign Name</label>
                                <form-input name="qty" [placeholder]="'Name'" [type]="'text'"></form-input>
                                <label>Campaign Code</label>
                                <form-input name="qty" [placeholder]="'Code'" [type]="'text'"></form-input>

                                <label>Campaign Description</label>
                                <form-input name="qty" [placeholder]="'Description'" [type]="'text'"></form-input>
                                <label>Campaign Calculation Type</label>
                                <select class="form-control">
                                    <option *ngFor="let option of type" value="{{option.value}}">{{option.label}}
                                    </option>
                                </select>
                                <label>Category</label>
                                <select class="form-control">
                                    <option *ngFor="let option of category" value="{{option.value}}">{{option.label}}
                                    </option>
                                </select>
                                <label>Discount Limit</label>
                                <form-input name="qty" [placeholder]="'Title'" [type]="'number'"></form-input>
                                <label>Start Date</label>
                                <input class="form-control" type="text" ngbDatepicker #d="ngbDatepicker"
                                    (focus)="d.open()" />
                                <label>End Date</label>
                                <input class="form-control" type="text" ngbDatepicker #d="ngbDatepicker"
                                    (focus)="d.open()" />
                                <label>Campaign Rule</label>
                                <select class="form-control">
                                    <option *ngFor="let option of category" value="{{option.value}}">{{option.label}}
                                    </option>
                                </select>
                                <label>Active</label>
                                <select class="form-control">
                                    <option *ngFor="let option of status" value="{{option.value}}">{{option.label}}
                                    </option>
                                </select>
                                <label>Use Campaign</label>
                                <select class="form-control">
                                    <option *ngFor="let option of use" value="{{option.value}}">{{option.label}}
                                    </option>
                                </select>
                            </div>
                            <div *ngIf="errorLabel!==false">
                                {{errorLabel}}
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>