<!-- <app-page-header [heading]="'Merchant Sales Order'" [icon]="'fa-table'"></app-page-header> -->
<app-form-builder-table
    [table_data]="allData"
    [searchCallback]="[service,'searchSalesOrderReport',this]"
    [tableFormat]="tableFormat"
    [total_page]="totalPage"
>
</app-form-builder-table>
  <!-- <div *ngIf="Orderhistory&&orderhistoryDetail==false"> -->
        <!-- <app-form-builder-table 
        [searchCallback]="[service,'searchOrderhistoryLint',this]" 
        [tableFormat]="tableFormat"
        [table_data]="Orderhistory"
      >
        </app-form-builder-table> -->
  <!-- </div> -->