<!-- <app-form-builder-table 
      [table_data]="generatedVouchers" 
      [searchCallback]="[service,'searchProductsLint',this]"
      [tableFormat]="tableFormat">
</app-form-builder-table> -->
<app-form-builder-table 
    [tableFormat]="tableFormat"
    [table_data]="evouchers"
    [searchCallback]="[service, 'searchEvoucherSalesOrderLint', this]"
    >

</app-form-builder-table>