.form{
    margin-top : 60px;
}

.container-swapper-option {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    .button-container {

      border: 2px solid #ddd;
      border-radius:8px;
      button {
        color: #ddd;
        background: white;
        font-size: 14px;
        border-radius: 8px;
      }
      button.true {
       
        background: #2480fb;
        border-radius: 8px;
        color: #ddd;
      }
    }
  }

.error-message {
  background: white;
  height:100vh;
  text-align: center;
  font-size:26px;
  padding-top: 10px;

  .text-message {
      background: #E74C3C;
      padding: 20px;
      margin: 0 10px;
  }
}