$blue-status: #0ea8da;
$red-text: #e74c3c;
$color-grey: #777777;

:host {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0px;
	top: 50px;
}
*:focus {
	box-shadow: unset;
}
div,
span:not(.fa) {
	font-family: "Poppins";
}

.board {
	background-color: #fcfcfc;
	height: 100%;
	width: 100%;
	min-width: 720px;
}

.nav.toolbar {
	background: #fcfcfc;
	// color: white;
	height: 150px;
	padding-top: 40px;
	padding-bottom: 20px;
	margin-left: 200px;
	justify-content: center;
	align-items: center;

	.parent-container {
		width: 100%;
	}

	.select-all {
		width: 100%;
		align-items: right;
	}
	.card {
		padding: 20px;
		width: 95%;
		align-items: center;
		margin-bottom: 20px;
		h3 {
			text-align: center;
		}
		tr,
		td {
			color: black;
			vertical-align: top;
			select {
				height: 30px;
			}
		}
		.card-content {
			width: 100%;
			hr {
				margin-top: 0rem;
				margin-bottom: 0rem;
				border: 0;
				border-top: 1px solid rgba(0, 0, 0, 0.1);
			}
			table {
				border-collapse: collapse;
				// border: 2px solid #eaeaea;
				border-radius: 5px;
				width: 95%;
			}
			button {
				color: rgba(52, 73, 94, 1);
				border-radius: 10px;
				background: white;
				font-size: 15px;
				margin-top: 10px;
				border: 2px solid #eaeaea;
				width: 95%;
				padding: 16px;
			}
			button.true {
				background: #2c3e50;
				color: white;
			}
		}
	}
}

@media screen and (max-width: 992px) {
	.nav.toolbar {
			margin-left: 0px;
	}
}

.form-control {
	font-size: 11px;
	width: 150px;
	display: inline-block;
	margin: 2px 0px 2px 0px;
}

.div-transaction {
	display: flex;
	flex-wrap: wrap;
	font-size: 11px;
	width: 100%;
	label {
		margin-bottom: 0px;
	}
	div.searchbar {
		flex-wrap: wrap;
		display: inherit;
		width: calc(100% - 140px);
		padding-left: 10px;
		justify-content: flex-end;
		div {
			display: flex;
			align-items: center;
			label {
				margin-right: 5px;
			}
		}
	}
}

.div-footer {
	height: fit-content;
	width: 100%;
	text-align: -webkit-right;
	margin-bottom: 10px;
	display: flex;
	float:right;
	div {
		width: fit-content;
		height: auto;
		padding: 0px;
		margin-bottom: 5px;
		border: 1px solid rgba(0, 0, 0, 0.1);
		border-radius: 10px;
		button {
			color: rgba(52, 73, 94, 1);
			background: white;
			border-radius: 10px;
		}
		button:hover {
			background: #2c3e50;
			color: white;
			border-radius: 10px;
		}

		button:active{
			background: #2c3e50;
			color: white;
			border-radius: 10px;
		}

		button:focus{
			background: #2c3e50;
			color: white;
			border-radius: 10px;
		}
	}
}

.div-content-row {
	width: 100%;
	display: flex;
	flex-direction: row;
	border: 1px solid #ccc;
	align-items: unset;
	justify-content: unset;
	border-radius: 10px;
	margin-bottom: 15px;
	padding: 10px;

	.div-content-cell {
		// border: 1px solid rgba(0, 0, 0, 0.1);
		// flex: 1;
		padding: 5px 12px;
		max-width: unset;
		border-right: 1px solid #ccc;
		width: calc(100% - 560px);
	}

	.div-content-cell:last-child {
		border-right: 0px solid transparent;
		width: 280px;
	}
	> .div-content-cell:nth-child(2) {
		width: 280px;
	}
}

.default-product {
	.product-detail {
		.date-text {
			font-size: 11px;
			margin-bottom: 15px;
			margin-top: 10px;
		}
	}
}

.more-product {
	overflow-y: auto;
	overflow-x: auto;
	display: grid;
	height: 200px;
	padding: 0px;
	.loop-product {
		display: flex;
		margin-bottom: 10px;
		padding: 0px;
		.img-wrapper {
			padding: 0px 20px 0px 0px;

			// height: -webkit-fill-available;
			// background-position: center;
			// object-fit: fill;
			// border-radius: 10px;
			.image {
				border-radius: 5%;
				width: 120px;
				height: auto;
				object-fit: cover;
			}
		}
		// .card {
			// margin-left: 0px;
			// margin-right: 10px;
			// border-radius: 10px;
			// height: 165px;
			// width: 200px;
			// padding: 0px;
			// .img {
			// 	height: -webkit-fill-available;
			// 	background-position: center;
			// 	object-fit: fill;
			// 	border-radius: 10px;
			// }
			// .img-wrapper {
			// 	width:100%;
			// 	height:100%;
			// 	background-repeat:no-repeat;
			// 	background-size:contain;
			// }
		// }
	}
	
}

.div-default-product {
	display: grid;
	padding: 0px;
	.default-product {
		display: flex;
		margin-bottom: 10px;
		padding: 0px;
		.img-wrapper {
			padding: 0px 20px 0px 0px;

			// height: -webkit-fill-available;
			// background-position: center;
			// object-fit: fill;
			// border-radius: 10px;
			.image {
				border-radius: 5%;
				width: 120px;
				height: auto;
				object-fit: cover;
			}
		}
	}
}

.products-left {
	width: 20%;
	.products-left-board {
		display: flex;
		padding: 0px;
		overflow: hidden;
		width: 100%;
		.products-left-data {
			padding: 0px;
			width: calc(100% - 20px);
			display: grid;
		}
		.products-left-checkbox {
			width: 20px;
			display: flex;
			justify-content: center;
			padding: 0px;
		}
	}
	.products-left-status {
		display: flex;
		width: 100%;
		align-items: center;
		padding-right: 0px;
		padding-left: 0px;
		flex-direction: row;
		font-size: 13px;
		color: #0ea8da;
		padding-top: 10px;
		.see-more {
			flex: 1;
			color: #0ea8da;
			cursor: pointer;
			text-align: right;
		}
		.see-more:hover {
			color: rgb(2, 117, 216);
		}
		.col-md-3 {
			position: relative;
			justify-items: left;
			padding-left: 0px;
			padding-bottom: 0px;
		}
		.col-md-9 {
			text-align: right;
			width: 100%;
			max-width: unset;
			display: block;
			padding-right: 0px;
			padding-top: 0px;
		}
	}
}

// @media (min-width: 769px) and (max-width: 1074px) {
//     .grid-view{
//         position: relative;
//         width: 100%;
//         height:100%;
//         .grid-view-item{
//             width: calc(25vw - 56px);
//             height: calc(25vw  - 56px + 50px);
//         }
//     }
// }

// @media (min-width: 460px) and (max-width: 769px) {
//     .grid-view{
//         position: relative;
//         width: 100%;
//         height:100%;
//         .grid-view-item{
//             width: calc(33.333vw - 73px);
//             height: calc(33.333vw  - 73px + 50px);
//         }
//     }
// }

// @media (min-width: 320px) and (max-width: 460px) {
//     .grid-view{
//         position: relative;
//         width: 100%;
//         height:100%;
//         .grid-view-item{
//             width: calc(50vw - 107px);
//             height: calc(50vw  - 107px + 50px);
//         }
//     }
// }

#h3 {
	width: 95%;
	margin-bottom: 24px;
	color: black;
}

#sku {
	font-size: 14px;
	color: #bebebe;
	margin-bottom: 0px;
}

.price {
	color: #0ea8da;
}

.price-total {
	color: #0ea8da;
}

.normal-text {
	font-size: 15px;
	color: $color-grey;
}

.normal-text.date-text {
	font-size: 12px;
}

.header-text {
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 1px;
}
.header-text.order-id-text {
	font-size:12px;
	color: $blue-status;
	span {
		font-size:12px;
		color: $color-grey;
	}
}

.form-label {
	> label {
		display: block;
	}
	.product-name{
		font-size:12px;
	}
}

.see-more-normal-text {
	font-size: 13px;
	color: $color-grey;
}

.see-more-normal-text.date-text {
	font-size: 8px;
}

.see-more-header-text {
	font-size: 10px;
	font-weight: bold;
	margin-bottom: 1px;
}
.see-more-header-text.order-id-text {
	font-size:12px;
	color: $blue-status;
	span {
		font-size:10px;
		color: $color-grey;
	}
}

.see-more-form-label {
	> label {
		display: block;
	}
	.product-name{
		font-size:10px;
	}
}

.price-see-more {
	color: #0ea8da;
	font-size:10px;
}

#transaction {
	width: 130px;
}

#download {
	vertical-align: middle;
}

#label-header {
	font-size: 20px;
	color: black;
}

#button-swapper {
	margin-left: 5px;
	margin-right: 5px;
	width: calc((100% / 6) - 10px);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#card-transaction {
	width: 100%;
	align-items: baseline;
}

#search {
	margin-right: 20px;
}

#search-field {
	margin-right: 10px;
}

#search-text {
	padding-right: 23px;
}

#search-icon {
	margin-left: -20px;
	margin-right: 20px;
}

#btn-print {
	font-size: 11px;
	width: 130px;
	margin: 15px 20px 2px 0px;
	height: 30px;
	border-radius: 15px;
}

#btn-download {
	font-size: 11px;
	width: 130px;
	margin: 15px 20px 2px 0px;
	height: 30px;
	border-radius: 15px;
}

#calendar-icon {
	margin-left: -20px;
	margin-right: 20px;
}

.payment-status {
	padding: 2px 5px;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	margin-bottom: 5px;
	width: 97px;
	height: 34px;
	font-size: 14px;
	border-radius: 35px;
}
.payment-status.PAID {
	color: white;
	background-color: $blue-status;
	text-align: center;
}

.payment-status.CANCEL {
	color: white;
	background-color: $red-text;
	text-align: center;
}

.date-picker-wrapper {
	position: relative;
	margin-right: 10px;

	.date-picker-overlay {
		z-index: 99;
		.dpicker {
			background: white;
			overflow: hidden;
			border: 1px solid #dfdfdf;
			position: absolute;
			top: 30px;
			display: grid;

			.btn.ok {
				clear: both;
				background-color: #3498db;
				color: white;
				margin: 0px 5px 10px;
				border-color: transparent;
			}
			.btn.clear {
				clear: both;
				background-color: rgb(172, 10, 10);
				color: white;
				margin: 0px 10px 10px;
				border-color: transparent;
			}
			ngb-datepicker {
				float: left;
				clear: both;
				margin: 10px;
				right: 0%;
			}
		}
	}

	.date-picker-overlay.false {
		display: none;
	}
}

.custom-day {
	text-align: center;
	padding: 0.185rem 0.25rem;
	display: inline-block;
	height: 2rem;
	width: 2rem;
}

.custom-day.focused {
	background-color: #e6e6e6;
}
.custom-day.range,
.custom-day:hover {
	background-color: rgb(2, 117, 216);
	color: white;
}
.custom-day.faded {
	background-color: rgba(2, 117, 216, 0.5);
}

.order-status {
	display: flex;
	flex-wrap: wrap;
	place-content: center;
	.status-name {
		position: relative;
		// display: inline-flex;
		justify-content: center;
		flex-direction: row;
		.badge {
			display: flex;
			position: absolute;
			justify-content: center;
			align-items: center;
			font-size: 10px;
			color: white;
			border-radius: 50px;
			left: -15px;
			width: 23px;
			height: 23px;
			background-color: rgba(231, 76, 60, 0.8);
			border: 1px solid #e74c3c;
			top: -14px;
			// transform: scale(0.8);
		}
	}
}

.loading {
	margin-bottom: 20px;
}

.sk-fading-circle {
	margin: 10px auto;
	width: 40px;
	height: 40px;
	position: relative;
}

.sk-fading-circle .sk-circle {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.sk-fading-circle .sk-circle:before {
	content: "";
	display: block;
	margin: 0 auto;
	width: 15%;
	height: 15%;
	background-color: #333;
	border-radius: 100%;
	-webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
	animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}
.sk-fading-circle .sk-circle2 {
	-webkit-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	transform: rotate(30deg);
}
.sk-fading-circle .sk-circle3 {
	-webkit-transform: rotate(60deg);
	-ms-transform: rotate(60deg);
	transform: rotate(60deg);
}
.sk-fading-circle .sk-circle4 {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}
.sk-fading-circle .sk-circle5 {
	-webkit-transform: rotate(120deg);
	-ms-transform: rotate(120deg);
	transform: rotate(120deg);
}
.sk-fading-circle .sk-circle6 {
	-webkit-transform: rotate(150deg);
	-ms-transform: rotate(150deg);
	transform: rotate(150deg);
}
.sk-fading-circle .sk-circle7 {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
.sk-fading-circle .sk-circle8 {
	-webkit-transform: rotate(210deg);
	-ms-transform: rotate(210deg);
	transform: rotate(210deg);
}
.sk-fading-circle .sk-circle9 {
	-webkit-transform: rotate(240deg);
	-ms-transform: rotate(240deg);
	transform: rotate(240deg);
}
.sk-fading-circle .sk-circle10 {
	-webkit-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg);
}
.sk-fading-circle .sk-circle11 {
	-webkit-transform: rotate(300deg);
	-ms-transform: rotate(300deg);
	transform: rotate(300deg);
}
.sk-fading-circle .sk-circle12 {
	-webkit-transform: rotate(330deg);
	-ms-transform: rotate(330deg);
	transform: rotate(330deg);
}
.sk-fading-circle .sk-circle2:before {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}
.sk-fading-circle .sk-circle3:before {
	-webkit-animation-delay: -1s;
	animation-delay: -1s;
}
.sk-fading-circle .sk-circle4:before {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}
.sk-fading-circle .sk-circle5:before {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}
.sk-fading-circle .sk-circle6:before {
	-webkit-animation-delay: -0.7s;
	animation-delay: -0.7s;
}
.sk-fading-circle .sk-circle7:before {
	-webkit-animation-delay: -0.6s;
	animation-delay: -0.6s;
}
.sk-fading-circle .sk-circle8:before {
	-webkit-animation-delay: -0.5s;
	animation-delay: -0.5s;
}
.sk-fading-circle .sk-circle9:before {
	-webkit-animation-delay: -0.4s;
	animation-delay: -0.4s;
}
.sk-fading-circle .sk-circle10:before {
	-webkit-animation-delay: -0.3s;
	animation-delay: -0.3s;
}
.sk-fading-circle .sk-circle11:before {
	-webkit-animation-delay: -0.2s;
	animation-delay: -0.2s;
}
.sk-fading-circle .sk-circle12:before {
	-webkit-animation-delay: -0.1s;
	animation-delay: -0.1s;
}


.see-more-container {
	display: flex;
	width: 100%;
	align-items: center;
	padding-right: 0px;
	padding-left: 0px;
	flex-direction: row;
	font-size: 13px;
	color: #0ea8da;
	padding-top: 10px;
	.see-more {
		flex: 1;
		color: #0ea8da;
		cursor: pointer;
		text-align: right;
	}
	.see-more:hover {
		color: rgb(2, 117, 216);
	}
}

@media screen and (max-width: 1280px) {
	.default-product {
		flex-direction: column;
		.product-detail {
			.header-text.order-id-text {
				margin-top: 16px;
			}
			.header-text {
				span {
					font-size: 12px;
					display: block;
				}
			}
		}
	}
}

@media screen and (max-width: 1080px) {
	.default-product {
		width: 100%;
		overflow: hidden;
		.product-detail {
			.header-text {
				span {
					display: block;
				}
			}
			.date-text {
				font-size: 11px;
			}
		}
	}

	.div-default-product {
		.default-product {
			.img-wrapper {
				width: 100%;
			}
		}
	}

	.div-content-row {
		.div-content-cell:first-child {
			// width:
		}
	}
}

@-webkit-keyframes sk-circleFadeDelay {
	0%,
	39%,
	100% {
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
}

@keyframes sk-circleFadeDelay {
	0%,
	39%,
	100% {
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
}

.error-message {
  background: white;
  height:100vh;
  text-align: center;
  font-size:26px;
  padding-top: 10px;

  .text-message {
      background: #E74C3C;
      padding: 20px;
      margin: 0 10px;
  }
}

.div-product {
	position: relative;
}

.printed-stamp {
	position: absolute;
    top: 30px;
    right: 30px;
    display: inline-block;
    color: green;
    padding: 14px;
    background-color: white;
    box-shadow: inset 0px 0px 0px 4px green;
    font-size: 30px;
    height: 76px;
    font-weight: bold;
    transform: rotate(-20deg);
    width: 150px;
    text-align: center;
}

.printed-stamp:before {
	content: " ";
    position: absolute;
    z-index: -1;
    top: 7px;
    left: 7px;
    right: 7px;
    bottom: 7px;
    border: 2px solid green;
}

.shipping-info {
	color: green;
	font-weight: bold;
}

.red-return {
	font-size: 12px;
    color: red;
}

.green-return {
	font-size: 12px;
    color: green;
}