<div [@routerTransition]>
       
  <app-page-header [heading]="'Add New Notification Message'" [icon]="'fa-table'"></app-page-header>
  
 <div>
    <form #form="ngForm" (ngSubmit)="formSubmitAddNotificationGroup(form.value)">
      <div class="col-md-6">
          <label>Title</label>
          <form-input name="title" [placeholder]="'Title'"  [type]="'text'" [(ngModel)]="title" required></form-input>
          <label>Message</label>
          <form-input name="message" [type]="'text'" [placeholder]="'Message'"  [(ngModel)]="message" required></form-input>
          <label>From</label>
          <form-input name="from" [type]="'text'" [placeholder]="'From'"  [(ngModel)]="from" required></form-input>
          <label>Url Logo</label>
          <!-- <form-input name="url_logo" [type]="'text'" [placeholder]="'Url Logo'"  [(ngModel)]="url_logo" required></form-input> -->
          <div class="col-md-3 col-sm-3">
            <div class="pb-framer">
                        <div class="progressbar {{cancel?'terminated':''}}" [ngStyle]="{'width.%': progressBar}">
                 
                        </div>
                        <span *ngIf="progressBar<58&&progressBar>0"> {{cancel?'terminated':progressBar+'%'}} </span>
                        <span class="clr-white" *ngIf="progressBar>58"> {{cancel?'terminated':progressBar+'%'}} </span>
                       
                  </div>
           
      </div>
      <div class="col-md-3 col-sm-3">
            <div *ngIf="errorFile">Error: {{errorFile}}</div>                       
      </div>
      <!-- <img [src]="url" height="200"> <br/> -->
      <input type="file" (change)="onFileSelected($event)" (change)="onSelectFile($event)" />
      <button (click)="onUpload()">UPload</button>
      <button (click)="cancelThis()" >cancel</button>

      <label>Url Web</label>
          <!-- <form-input name="url_logo" [type]="'text'" [placeholder]="'Url Logo'"  [(ngModel)]="url_logo" required></form-input> -->
          <div class="col-md-3 col-sm-3">
            <div class="pb-framer">
                        <div class="progressbar {{cancel?'terminated':''}}" [ngStyle]="{'width.%': progressBar}">
                 
                        </div>
                        <span *ngIf="progressBar<58&&progressBar>0"> {{cancel?'terminated':progressBar+'%'}} </span>
                        <span class="clr-white" *ngIf="progressBar>58"> {{cancel?'terminated':progressBar+'%'}} </span>
                       
                  </div>
           
      </div>
      <div class="col-md-3 col-sm-3">
            <div *ngIf="errorFile">Error: {{errorFile}}</div>                       
      </div>
      <!-- <img [src]="url" height="200"> <br/> -->
      <input type="file" (change)="onFileSelected($event)" (change)="onSelectFile($event)" />
      <button (click)="onUpload()">UPload</button>
      <button (click)="cancelThis()" >cancel</button>
         
          <label>Status</label>
          <form-select name="status" [(ngModel)]="status" [data]="notification_status"></form-select>

          <label>Icon</label>
          <form-input name="icon" [placeholder]="'Icon'"  [type]="'text'" [(ngModel)]="icon" required></form-input>

          <label>Message will expires in</label>
          <form-input name="expiry_day" [placeholder]="'Expiry Day'"  [type]="'number'" [(ngModel)]="expiry_day" required></form-input>

        </div>  
      <button class="btn" type="submit" [disabled]="form.pristine">Submit</button> 
      </form>
 </div>
 
</div>

 