<div >

    <!-- <app-page-header [heading]="'Add New Notification Setting'" [icon]="'fa-table'"></app-page-header> -->
    <div class="error" *ngIf="errorLabel">{{errorLabel}}</div>
    <div style="display: flex; margin-bottom: 20px;">
      <div class="col-md-5">
        <div class="card card-detail">
          <div class="card-header">
            <label class="uploading">NOTIFICATION TYPE</label>
          </div>
          <div class="card-content">
            <div class="member-detail row">
              <div class="col-md-12">
                <label>Category Promo</label>
            <div name="setting_id">
              <form-select name="setting_id" [(ngModel)]="form.notification_type" [data]="promo_category" required>
              </form-select>
            </div>
              </div>
            </div>
          </div>
        </div>
      </div>   
    </div>
    <div style="display: flex;">
    <div class="col-md-5">
    <div class="card card-detail">
      <div class="card-header">
        <label class="uploading">PROMOTION DETAIL</label>
      </div>
      <div class="card-content">
        <div class="member-detail row">
  
          <input #inputFile1 type="file" style="display:none" (change)="onFileSelected2($event, 'banner')"
            accept="image/x-png,image/gif,image/jpeg">
          <input #inputFile2 type="file" style="display:none" (change)="onFileSelected2($event, 'inbox')"
            accept="image/x-png,image/gif,image/jpeg">
          <input #inputFile3 type="file" style="display:none" (change)="onFileSelected2($event, 'notif')"
            accept="image/x-png,image/gif,image/jpeg">
          <input #inputFile4 type="file" style="display:none" (change)="onFileSelected2($event, 'logo')"
            accept="image/x-png,image/gif,image/jpeg">
            <input #inputFile5 type="file" style="display:none" (change)="onFileSelected2($event, 'icon')"
            accept="image/x-png,image/gif,image/jpeg">
          <div class="col-md-12">
            <label>Promo Code</label>
            <form-input name="org_id" [placeholder]="'Promo Code'" [type]="'text'" [(ngModel)]="form2.promo_code" required></form-input>
            <label>Promo Name</label>
            <form-input name="org_id" [placeholder]="'Inbox Title'" [type]="'text'" [(ngModel)]="form2.promo_name"
              required></form-input>
            <label></label>
            <form-input name="org_id" [placeholder]="'Inbox Message'" [type]="'text'" [(ngModel)]="form.inbox_message"
              required></form-input>
            <label>Notification Title</label>
            <form-input name="org_id" [placeholder]="'Notification Title'" [type]="'text'"
              [(ngModel)]="form.notification_title" required></form-input>
            <label>Notification Message</label>
            <form-input name="org_id" [placeholder]="'Notification Message'" [type]="'text'"
              [(ngModel)]="form.notification_message" required></form-input>
            <label>From</label>
            <form-input name="org_id" [placeholder]="'From'" [type]="'text'" [(ngModel)]="form.from" required>
            </form-input>
  
            <label>Expiry Day</label>
            <form-input name="org_id" [placeholder]="'Expiry Day'" [type]="'number'" [(ngModel)]="form.expiry_day"
              required></form-input>
            <!-- </form-input> -->
            <label>Option</label>
            <div name="setting_id">
              <form-select name="setting_id" [(ngModel)]="form.option" [data]="type_option" required></form-select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-7">
    <div class="card card-detail">
      <div class="card-header">
        <label class="uploading">IMAGES UPLOAD</label>
      </div>
      <div class="card-content">
        <div class="member-detail row">
          <div class="col-md-12">
  
            <label>Banner</label>
            <div class="section-upload left-section-upload">
              <div class="col-md-12 imagess col-half-offset">
                <div class="card cl-list">
                  <div class="card-content" *ngIf="!uploads.banner && !showLoading1">
                    <div class="image">
                      <div class="card-content custom">
                        <div class="image-canvas">
                          <img *ngIf="!uploads.banner" class="logo-upload" src="/assets/images/image-solid.svg">
                        </div>
                        <!-- <p class="upload-desc">Upload your image here <br> or</p> -->
                        <div class="browse-files">
                          <div class="pb-framer">
                            <div class="progressbar {{cancel?'terminated':''}}" [ngStyle]="{'width.%': progressBar}">
  
                            </div>
                            <span *ngIf="progressBar<58&&progressBar>0">
                              {{cancel?'terminated':progressBar+'%'}} </span>
                            <span class="clr-white" *ngIf="progressBar>58">
                              {{cancel?'terminated':progressBar+'%'}} </span>
                          </div>
                          <a class="common-button blue-upload fileupload" (click)="inputFile1.click()">+ Add Image</a>
                        </div>
                      </div>
                    </div>
                    <!-- <div *ngIf="errorLabel!==false">
                    {{errorLabel}}
                  </div> -->
                  </div>
                  <div class="form-group uploaded" *ngIf="showLoading1">
                    <div class="loading">
                      <div class="sk-fading-circle">
                        <div class="sk-circle1 sk-circle"></div>
                        <div class="sk-circle2 sk-circle"></div>
                        <div class="sk-circle3 sk-circle"></div>
                        <div class="sk-circle4 sk-circle"></div>
                        <div class="sk-circle5 sk-circle"></div>
                        <div class="sk-circle6 sk-circle"></div>
                        <div class="sk-circle7 sk-circle"></div>
                        <div class="sk-circle8 sk-circle"></div>
                        <div class="sk-circle9 sk-circle"></div>
                        <div class="sk-circle10 sk-circle"></div>
                        <div class="sk-circle11 sk-circle"></div>
                        <div class="sk-circle12 sk-circle"></div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group uploaded" *ngIf="uploads.banner && !showLoading1">
                    <!-- <i class="fa fa-times-circle remove-icon" (click)="deleteImage('image3')"></i> -->
                    <div class="uploaded-image2">
                      <div class="img">
                        <img class="resize" src="{{uploads.banner}}">
                        <a class="common-button blue-upload fileupload" (click)="inputFile1.click()">Re-Upload</a>
                      </div>
  
                    </div>
  
                  </div>
                </div>
              </div>
            </div>
            <div style="display: flex">
              <div class="col-md-6">
                <div style="display: flex; justify-content: flex-start;align-items: center;">
                <div class="col-md-6">  <label>Inbox Image</label> 
                </div>
                <div  class="col-md-6">
                  <mat-checkbox (change)="checkbox1()" [(ngModel)]="activeCheckbox1" type="checkbox"
                  name="cbox"><label>same as banner</label></mat-checkbox>
                </div>
              </div>
              
                <div class="section-upload row left-section-upload">
  
                  <div class="col-md-12 imagess col-half-offset">
                    <div class="card cl-list">
                      <div class="card-content" *ngIf="!uploads.inbox && !showLoading2">
                        <div class="image">
                          <div class="card-content custom">
                            <div class="image-canvas">
                              <img *ngIf="!uploads.inbox" class="logo-upload" src="/assets/images/image-solid.svg">
                            </div>
                            <!-- <p class="upload-desc">Upload your image here <br> or</p> -->
                            <div class="browse-files">
                              <div class="pb-framer">
                                <div class="progressbar {{cancel?'terminated':''}}" [ngStyle]="{'width.%': progressBar}">
  
                                </div>
                                <span *ngIf="progressBar<58&&progressBar>0">
                                  {{cancel?'terminated':progressBar+'%'}} </span>
                                <span class="clr-white" *ngIf="progressBar>58">
                                  {{cancel?'terminated':progressBar+'%'}} </span>
                              </div>
                              <a class="common-button blue-upload fileupload" (click)="inputFile2.click()">+ Add Image</a>
                            </div>
                          </div>
                        </div>
                        <!-- <div *ngIf="errorLabel!==false">
                      {{errorLabel}}
                    </div> -->
                      </div>
                      <div class="form-group uploaded" *ngIf="showLoading2">
                        <div class="loading">
                          <div class="sk-fading-circle">
                            <div class="sk-circle1 sk-circle"></div>
                            <div class="sk-circle2 sk-circle"></div>
                            <div class="sk-circle3 sk-circle"></div>
                            <div class="sk-circle4 sk-circle"></div>
                            <div class="sk-circle5 sk-circle"></div>
                            <div class="sk-circle6 sk-circle"></div>
                            <div class="sk-circle7 sk-circle"></div>
                            <div class="sk-circle8 sk-circle"></div>
                            <div class="sk-circle9 sk-circle"></div>
                            <div class="sk-circle10 sk-circle"></div>
                            <div class="sk-circle11 sk-circle"></div>
                            <div class="sk-circle12 sk-circle"></div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group uploaded" *ngIf="uploads.inbox && !showLoading2">
                        <!-- <i class="fa fa-times-circle remove-icon" (click)="deleteImage('image3')"></i> -->
                        <div class="uploaded-image2">
                          <div class="img">
                            <img class="resize" src="{{uploads.inbox}}">
                            <a class="common-button blue-upload fileupload" (click)="inputFile2.click()">Re-Upload</a>
                          </div>
  
                        </div>
  
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div style="display: flex; justify-content: flex-start;align-items: center;">
                  <div class="col-md-6">  <label>Notification Image</label> 
                  </div>
                  <div  class="col-md-6">
                    <mat-checkbox (change)="checkbox2()" [(ngModel)]="activeCheckbox2" type="checkbox"
                    name="cbox"><label>same as banner</label></mat-checkbox>
                  </div>
                </div>
                <div class="section-upload row left-section-upload">
                  <div class="col-md-12 imagess col-half-offset">
                    <div class="card cl-list">
                      <div class="card-content" *ngIf="!uploads.notif && !showLoading3">
                        <div class="image">
                          <div class="card-content custom">
                            <div class="image-canvas">
                              <img *ngIf="!uploads.notif" class="logo-upload" src="/assets/images/image-solid.svg">
                            </div>
                            <!-- <p class="upload-desc">Upload your image here <br> or</p> -->
                            <div class="browse-files">
                              <div class="pb-framer">
                                <div class="progressbar {{cancel?'terminated':''}}" [ngStyle]="{'width.%': progressBar}">
  
                                </div>
                                <span *ngIf="(progressBar < 58) && (progressBar>0)">
                                  {{cancel?'terminated':progressBar+'%'}} </span>
                                <span class="clr-white" *ngIf="progressBar>58">
                                  {{cancel?'terminated':progressBar+'%'}} </span>
                              </div>
                              <a class="common-button blue-upload fileupload" (click)="inputFile3.click()">+ Add Image</a>
                            </div>
                          </div>
                        </div>
                        <!-- <div *ngIf="errorLabel!==false">
                      {{errorLabel}}
                    </div> -->
                      </div>
                      <div class="form-group uploaded" *ngIf="showLoading3">
                        <div class="loading">
                          <div class="sk-fading-circle">
                            <div class="sk-circle1 sk-circle"></div>
                            <div class="sk-circle2 sk-circle"></div>
                            <div class="sk-circle3 sk-circle"></div>
                            <div class="sk-circle4 sk-circle"></div>
                            <div class="sk-circle5 sk-circle"></div>
                            <div class="sk-circle6 sk-circle"></div>
                            <div class="sk-circle7 sk-circle"></div>
                            <div class="sk-circle8 sk-circle"></div>
                            <div class="sk-circle9 sk-circle"></div>
                            <div class="sk-circle10 sk-circle"></div>
                            <div class="sk-circle11 sk-circle"></div>
                            <div class="sk-circle12 sk-circle"></div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group uploaded" *ngIf="uploads.notif && !showLoading3">
                        <!-- <i class="fa fa-times-circle remove-icon" (click)="deleteImage('image3')"></i> -->
                        <div class="uploaded-image2">
                          <div class="img">
                            <img class="resize" src="{{uploads.notif}}">
                            <a class="common-button blue-upload fileupload" (click)="inputFile3.click()">Re-Upload</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div style="display: flex">
              <div class="col-md-6">
                <label>Logo</label>
                <div class="section-upload row left-section-upload">
  
                  <div class="col-md-12 imagess col-half-offset">
                    <div class="card cl-list">
                      <div class="card-content" *ngIf="!uploads.logo && !showLoading4">
                        <div class="image">
                          <div class="card-content custom">
                            <div class="image-canvas">
                              <img *ngIf="!uploads.logo" class="logo-upload" src="/assets/images/image-solid.svg">
                            </div>
                            <!-- <p class="upload-desc">Upload your image here <br> or</p> -->
                            <div class="browse-files">
                              <div class="pb-framer">
                                <div class="progressbar {{cancel?'terminated':''}}" [ngStyle]="{'width.%': progressBar}">
  
                                </div>
                                <span *ngIf="progressBar<58&&progressBar>0">
                                  {{cancel?'terminated':progressBar+'%'}} </span>
                                <span class="clr-white" *ngIf="progressBar>58">
                                  {{cancel?'terminated':progressBar+'%'}} </span>
                              </div>
                              <a class="common-button blue-upload fileupload" (click)="inputFile4.click()">+ Add Image</a>
                            </div>
                          </div>
                        </div>
                        <!-- <div *ngIf="errorLabel!==false">
                      {{errorLabel}}
                    </div> -->
                      </div>
                      <div class="form-group uploaded" *ngIf="showLoading4">
                        <div class="loading">
                          <div class="sk-fading-circle">
                            <div class="sk-circle1 sk-circle"></div>
                            <div class="sk-circle2 sk-circle"></div>
                            <div class="sk-circle3 sk-circle"></div>
                            <div class="sk-circle4 sk-circle"></div>
                            <div class="sk-circle5 sk-circle"></div>
                            <div class="sk-circle6 sk-circle"></div>
                            <div class="sk-circle7 sk-circle"></div>
                            <div class="sk-circle8 sk-circle"></div>
                            <div class="sk-circle9 sk-circle"></div>
                            <div class="sk-circle10 sk-circle"></div>
                            <div class="sk-circle11 sk-circle"></div>
                            <div class="sk-circle12 sk-circle"></div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group uploaded" *ngIf="uploads.logo && !showLoading4">
                        <!-- <i class="fa fa-times-circle remove-icon" (click)="deleteImage('image3')"></i> -->
                        <div class="uploaded-image2">
                          <div class="img">
                            <img class="resize" src="{{uploads.logo}}">
                            <a class="common-button blue-upload fileupload" (click)="inputFile4.click()">Re-Upload</a>
                          </div>
  
                        </div>
  
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <label>Icon</label>
                <div class="section-upload row left-section-upload">
                  <div class="col-md-12 imagess col-half-offset">
                    <div class="card cl-list">
                      <div class="card-content" *ngIf="!uploads.icon && !showLoading5">
                        <div class="image">
                          <div class="card-content custom">
                            <div class="image-canvas">
                              <img *ngIf="!uploads.icon" class="logo-upload" src="/assets/images/image-solid.svg">
                            </div>
                            <!-- <p class="upload-desc">Upload your image here <br> or</p> -->
                            <div class="browse-files">
                              <div class="pb-framer">
                                <div class="progressbar {{cancel?'terminated':''}}" [ngStyle]="{'width.%': progressBar}">
  
                                </div>
                                <span *ngIf="(progressBar < 58) && (progressBar>0)">
                                  {{cancel?'terminated':progressBar+'%'}} </span>
                                <span class="clr-white" *ngIf="progressBar>58">
                                  {{cancel?'terminated':progressBar+'%'}} </span>
                              </div>
                              <a class="common-button blue-upload fileupload" (click)="inputFile5.click()">+ Add Image</a>
                            </div>
                          </div>
                        </div>
                        <!-- <div *ngIf="errorLabel!==false">
                      {{errorLabel}}
                    </div> -->
                      </div>
                      <div class="form-group uploaded" *ngIf="showLoading5">
                        <div class="loading">
                          <div class="sk-fading-circle">
                            <div class="sk-circle1 sk-circle"></div>
                            <div class="sk-circle2 sk-circle"></div>
                            <div class="sk-circle3 sk-circle"></div>
                            <div class="sk-circle4 sk-circle"></div>
                            <div class="sk-circle5 sk-circle"></div>
                            <div class="sk-circle6 sk-circle"></div>
                            <div class="sk-circle7 sk-circle"></div>
                            <div class="sk-circle8 sk-circle"></div>
                            <div class="sk-circle9 sk-circle"></div>
                            <div class="sk-circle10 sk-circle"></div>
                            <div class="sk-circle11 sk-circle"></div>
                            <div class="sk-circle12 sk-circle"></div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group uploaded" *ngIf="uploads.icon && !showLoading5">
                        <!-- <i class="fa fa-times-circle remove-icon" (click)="deleteImage('image3')"></i> -->
                        <div class="uploaded-image2">
                          <div class="img">
                            <img class="resize" src="{{uploads.icon}}">
                            <a class="common-button blue-upload fileupload" (click)="inputFile5.click()">Re-Upload</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
  </div></div></div></div>
  
  </div>
  <div class="row end-footer">
    <div class="footer-save-cancel">
      <!-- <button class="btn cancel">Cancel</button> -->
      <button class="btn save btn-primary"  (click)="formSubmitAddNotificationBroadcast()">Save</button>
    </div>
  </div>
  </div>