<div class="card card-detail">
    <div class="card-header">
        <button class="btn back_button" (click)="backToDetail()"><i class="fa fa-fw fa-angle-left"></i> back</button><h1>{{detail._id}}</h1>
        <button class="btn save_button {{loading}}" type="submit" (click)="saveThis()"><i class="fa fa-fw fa-save"></i> <span  *ngIf="!loading">Save</span> <span *ngIf="loading">loading</span></button>
    </div>
    <div class="card-content">
        <div class="notifications-detail">
    
            <div class="row">
             <div class=" col-md-8" >
                 <div class="card mb-3">
                     <div class="card-header"><h2> Edit Notification Details </h2></div>
                     <div class="card-content">
                         <div class="col-md-12">
                             <label>ID</label>
                             <form-input  name="_id" [disabled]="true" [type]="'text'" [placeholder]="'ID'"  [(ngModel)]="detail._id" autofocus required></form-input>
             
                             <label>Notification ID</label>
                             <form-input  name="notification_id" [disabled]="true" [type]="'text'" [placeholder]="'Notification ID'"  [(ngModel)]="detail.notification_id" autofocus required></form-input>
             
                             <label>Name</label>
                             <form-input name="name" [type]="'text'" [placeholder]="'Name'"  [(ngModel)]="detail.name" autofocus required></form-input>
             
                             <label>Color</label>
                             <form-input name="color" [type]="'text'" [placeholder]="'Color'"  [(ngModel)]="detail.color" autofocus required></form-input>
                            
                             <label>User ID</label>
                             <form-input name="user_id" [type]="'text'" [placeholder]="'User ID'"  [(ngModel)]="detail.user_id" autofocus required></form-input>
                         </div>
                         <div *ngIf="errorLabel!==false">
                                {{errorLabel}}
                        </div>
                       
                      </div>
                 </div>
                </div>
                <!-- <div class=" col-md-4" >
                 <div class="card mb-3">
                     <div class="card-header"><h2>Member &amp; Status Member</h2> </div>
                     <div class="card-content">
                         <div class="col-md-12">
                             
                            <label>Email </label>
                            <form-input name="email" [type]="'text'" [placeholder]="'Email'"  [(ngModel)]="detail.email" autofocus required></form-input>

                            <label>Cell Phone </label>
                            <form-input name="cell_phone" [type]="'text'" [placeholder]="'Cell Phone'"  [(ngModel)]="detail.cell_phone" autofocus required></form-input>
                            
                            <label>Registration Date </label>
                            <form-input  name="registration_date" [disabled]="true" [type]="'text'" [placeholder]="'Registration Date'"  [(ngModel)]="detail.registration_date" autofocus required></form-input>

                            <label>Point Balance </label>
                            <form-input  name="point_balance" [disabled]="true" [type]="'text'" [placeholder]="'Point Balance'"  [(ngModel)]="detail.point_balance" autofocus required></form-input>

                            <label>Activation Code </label>
                            <form-input  name="activation_code" [disabled]="true" [type]="'text'" [placeholder]="'Activation Code'"  [(ngModel)]="detail.activation_code" autofocus required></form-input>

                            <label>Activation Status </label>
                            <div name="activation_status"> {{activation_status}}
                                <form-select name="activation_status" [(ngModel)]="detail.activation_status" [data]="activationStatus" required></form-select> 
                             </div> 
                             
                         </div>
                       
                      </div>
                 </div> 
                 
                </div>-->
            </div>
     
         </div>
    </div>
    
</div>