<div [@routerTransition]>
    <app-page-header [heading]="'Shopping cart (order) Abandonment Rate'" [icon]="'fa-table'" [topBarMenu]="topBarMenu">
    </app-page-header>
    <div class="summary-report row">
        <div class="col-md-6">
            <div class="row-per-card">
                <div class="card " *ngIf="analitycsData.daily.barChartLabels.length">
                    <div class="card-header">
                        Daily Rate
                    </div>
                    <div class="card-body">
                        <canvas baseChart [datasets]="analitycsData.daily.barChartData"
                            [labels]="analitycsData.daily.barChartLabels" [options]="barChartOptions"
                            [legend]="barChartLegend" [chartType]="'line'" (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)">
                        </canvas>
                    </div>
                    <!-- <div class="card-footer">
                            <button class="btn btn-info btn-sm" (click)="onUpdateCart(analitycsData.daily)">Refresh</button>
                        </div> -->
                </div>
            </div>



        </div>
        <div class="col-md-6">
            <div class="row-per-card">
                <div class="card " *ngIf="analitycsData.daily.barChartLabels.length">
                    <div class="card-header">
                        Daily Abandonment Rate
                    </div>
                    <div class="card-body emirate-daily">
                        <table>
                            <tr>
                                <th>Date</th>
                                <th>Order Value</th>
                                <th>Paid Value</th>
                                <th>Rate</th>
                            </tr>
                            <tr *ngFor="let dt of analitycsData.daily.barChartLabels;let i=index;">
                                <td>{{dt}}</td>
                                <td>{{data.order_history_by_the_day.value[dt]}}</td>
                                <td>{{data.order_history_by_the_day_paid.value[dt]}}</td>
                                <td>{{analitycsData.daily.barChartData[0].data[i] }}%</td>

                            </tr>
                        </table>
                    </div>
                    <!-- <div class="card-footer">
                                        <button class="btn btn-info btn-sm" (click)="onUpdateCart(analitycsData.daily)">Refresh</button>
                                    </div> -->
                </div>
            </div>

        </div>

        <div class="col-md-6">
            <div class="row-per-card" style="margin-bottom: 20px; text-align: center">
                <div class="card " *ngIf="analitycsData.monthly.barChartLabels.length">
                    <div class="card-header">
                        monthly Abandonment Rate
                    </div>
                    <div class="card-body">
                        <canvas baseChart [datasets]="analitycsData.monthly.barChartData"
                            [labels]="analitycsData.monthly.barChartLabels" [options]="barChartOptions"
                            [legend]="barChartLegend" [chartType]="'line'" (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)">
                        </canvas>
                    </div>
                    <!-- <div class="card-footer">
                                          <button class="btn btn-info btn-sm" (click)="onUpdateCart(analitycsData.monthly)">Refresh</button>
                                      </div> -->
                </div>

            </div>
        </div>
        <div class="col-md-6">
                <div class="row-per-card">
                    <div class="card " *ngIf="analitycsData.monthly.barChartLabels.length">
                        <div class="card-header">
                            Monthly Abandonment Rate
                        </div>
                        <div class="card-body emirate-daily">
                            <table>
                                <tr>
                                    <th>Date</th>
                                    <th>Order Value</th>
                                    <th>Paid Value</th>
                                    <th>Rate</th>
                                </tr>
                                <tr *ngFor="let dt of analitycsData.monthly.barChartLabels;let i=index;">
                                    <td>{{dt}}</td>
                                    <td>{{data.order_history_by_month.value[dt]}}</td>
                                    <td>{{data.order_history_by_month_paid.value[dt]}}</td>
                                    <td>{{analitycsData.monthly.barChartData[0].data[i] }}%</td>
    
                                </tr>
                            </table>
                        </div>
                        <!-- <div class="card-footer">
                                            <button class="btn btn-info btn-sm" (click)="onUpdateCart(analitycsData.daily)">Refresh</button>
                                        </div> -->
                    </div>
                </div>
    
            </div>
    
        <div class="col-md-6">
            <div class="row-per-card">
                <div class="card " *ngIf="analitycsData.yearly.barChartLabels">
                    <div class="card-header">
                        Yearly Rate
                    </div>
                    <div class="card-body">
                        <canvas baseChart [datasets]="analitycsData.yearly.barChartData"
                            [labels]="analitycsData.yearly.barChartLabels" [options]="barChartOptions"
                            [legend]="barChartLegend" [chartType]="'bar'" (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)">
                        </canvas>
                    </div>
                    <!-- <div class="card-footer">
                                                    <button class="btn btn-info btn-sm" (click)="onUpdateCart(analitycsData.hourly)">Refresh</button>
                                                </div> -->
                </div>
            </div>
        </div>
        <div class="col-md-6">
                <div class="row-per-card">
                    <div class="card " *ngIf="analitycsData.yearly.barChartLabels.length">
                        <div class="card-header">
                            Yearly Abandonment Rate
                        </div>
                        <div class="card-body emirate-daily">
                            <table>
                                <tr>
                                    <th>Date</th>
                                    <th>Order Value</th>
                                    <th>Paid Value</th>
                                    <th>Rate</th>
                                </tr>
                                <tr *ngFor="let dt of analitycsData.yearly.barChartLabels;let i=index;">
                                    <td>{{dt}}</td>
                                    <td>{{data.order_history_yearly.value[dt]}}</td>
                                    <td>{{data.order_history_yearly_paid.value[dt]}}</td>
                                    <td>{{analitycsData.yearly.barChartData[0].data[i] }}%</td>
    
                                </tr>
                            </table>
                        </div>
                        <!-- <div class="card-footer">
                                            <button class="btn btn-info btn-sm" (click)="onUpdateCart(analitycsData.daily)">Refresh</button>
                                        </div> -->
                    </div>
                </div>
    
            </div>
        <div class="col-md-6">

            <div class="row" style="margin-bottom: 20px; text-align: center">
                <div class="col-md-12">
                    <div class="row-per-card">
                        <div class="card " *ngIf="analitycsData.hourly.barChartLabels">
                            <div class="card-header">
                                Hourly Abandonment Rate
                            </div>
                            <div class="card-body">
                                <canvas baseChart [datasets]="analitycsData.hourly.barChartData"
                                    [labels]="analitycsData.hourly.barChartLabels" [options]="barChartOptions"
                                    [legend]="barChartLegend" [chartType]="'line'" (chartHover)="chartHovered($event)"
                                    (chartClick)="chartClicked($event)">
                                </canvas>
                            </div>
                            <!-- <div class="card-footer">
                                                        <button class="btn btn-info btn-sm" (click)="onUpdateCart(analitycsData.hourly)">Refresh</button>
                                                    </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
                <div class="row-per-card">
                    <div class="card " *ngIf="analitycsData.hourly.barChartLabels.length">
                        <div class="card-header">
                            Hourly Abandonment Rate
                        </div>
                        <div class="card-body emirate-daily">
                            <table>
                                <tr>
                                    <th>Date</th>
                                    <th>Order Value</th>
                                    <th>Paid Value</th>
                                    <th>Rate</th>
                                </tr>
                                <tr *ngFor="let dt of analitycsData.hourly.barChartLabels;let i=index;">
                                    <td>{{dt}}</td>
                                    <td>{{data.order_history_hourly.value[dt]}}</td>
                                    <td>{{data.order_history_hourly_paid.value[dt]}}</td>
                                    <td>{{analitycsData.hourly.barChartData[0].data[i] }}%</td>
    
                                </tr>
                            </table>
                        </div>
                        <!-- <div class="card-footer">
                                            <button class="btn btn-info btn-sm" (click)="onUpdateCart(analitycsData.daily)">Refresh</button>
                                        </div> -->
                    </div>
                </div>
    
            </div>




    </div>




</div>