<div class="card card-detail">
    <div class="card-header">
        <button class="btn back_button" (click)="backToDetail()"><i class="fa fa-fw fa-angle-left"></i> back</button><h1>{{detail.membership_id}}</h1>
        <button class="btn save_button {{loading}}" type="submit" (click)="saveThis()"><i class="fa fa-fw fa-save"></i> <span  *ngIf="!loading">Save</span> <span *ngIf="loading">loading</span></button>
    </div>
    <div class="card-content">
        <div class="membership-detail">
    
            <div class="row">
             <div class=" col-md-8" >
                 <div class="card mb-3">
                     <div class="card-header"><h2> Membership Details </h2></div>
                     <div class="card-content">
                         <div class="col-md-12">
                                <label>Membership PK</label>
                                <form-input  name="_id" [disabled]="true" [type]="'text'" [placeholder]="'Membership PK'"  [(ngModel)]="detail._id" autofocus required></form-input>

                             <label>Organization ID</label>
                             <form-input  name="org_id" [disabled]="true" [type]="'text'" [placeholder]="'Organization ID'"  [(ngModel)]="detail.org_id" autofocus required></form-input>
             
                             <label>Merchant ID</label>
                             <form-input  name="merchant_id" [disabled]="true" [type]="'text'" [placeholder]="'Merchant ID'"  [(ngModel)]="detail.merchant_id" autofocus required></form-input>
             
                             <label>Membership ID</label>
                             <form-input  name="membership_id" [disabled]="true" [type]="'text'" [placeholder]="'Membership ID'"  [(ngModel)]="detail.membership_id" autofocus required></form-input>
             
                             <label>Card Number</label>
                             <form-input name="card_number" [type]="'text'" [placeholder]="'Card Number'"  [(ngModel)]="detail.card_number" autofocus required></form-input>
             
                             <label>Full Name</label>
                             <form-input name="name" [type]="'text'" [placeholder]="'Full Name'"  [(ngModel)]="detail.name" autofocus required></form-input>

                             <label>Membership Status</label>
                             <div name="membership_status"> {{membership_status}}
                                <form-select name="membership_status" [(ngModel)]="detail.membership_status" [data]="membershipStatus" required></form-select> 
                             </div> 

                             <label>Address</label>
                             <form-input name="maddress1" [type]="'textarea'" [placeholder]="'Address'"  [(ngModel)]="detail.maddress1" autofocus required></form-input>

                             <label>City </label>
                             <form-input name="mcity" [type]="'text'" [placeholder]="'City'"  [(ngModel)]="detail.mcity" autofocus required></form-input>

                             <label>Post Code </label>
                             <form-input name="mpostcode" [type]="'text'" [placeholder]="'Post Code'"  [(ngModel)]="detail.post_code" autofocus required></form-input>

                             <label>State </label>
                             <form-input name="mstate" [type]="'text'" [placeholder]="'State'"  [(ngModel)]="detail.mstate" autofocus required></form-input>

                             <label>Country </label>
                             <form-input name="mcountry" [type]="'text'" [placeholder]="'Country'"  [(ngModel)]="detail.mcountry" autofocus required></form-input>

                             <label>Transaction Reach </label>
                             <form-input name="transaction_reach" [type]="'number'" [placeholder]="'Transaction Reach'"  [(ngModel)]="detail.transaction_reach" autofocus required></form-input>

                             <label>Description</label>
                             <form-input name="description" [type]="'text'" [placeholder]="'Description'"  [(ngModel)]="detail.description" autofocus required></form-input>
                         </div>
                       
                      </div>
                 </div>
                </div>
                <div class=" col-md-4" >
                 <div class="card mb-3">
                     <div class="card-header"><h2>Membership &amp; Status Membership</h2> </div>
                     <div class="card-content">
                         <div class="col-md-12">
                             
                            <label>Email </label>
                            <form-input name="email" [type]="'text'" [placeholder]="'Email'"  [(ngModel)]="detail.email" autofocus required></form-input>

                            <label>Cell Phone </label>
                            <form-input name="cell_phone" [type]="'text'" [placeholder]="'Cell Phone'"  [(ngModel)]="detail.cell_phone" autofocus required></form-input>
                            
                            <label>Registration Date </label>
                            <form-input  name="registration_date" [disabled]="true" [type]="'text'" [placeholder]="'Registration Date'"  [(ngModel)]="detail.registration_date" autofocus required></form-input>

                            <label>Point Balance </label>
                            <form-input  name="point_balance" [disabled]="true" [type]="'text'" [placeholder]="'Point Balance'"  [(ngModel)]="detail.point_balance" autofocus required></form-input>

                            <label>Activation Code </label>
                            <form-input  name="activation_code" [disabled]="true" [type]="'text'" [placeholder]="'Activation Code'"  [(ngModel)]="detail.activation_code" autofocus required></form-input>

                            <label>Activation Status </label>
                            <div name="activation_status"> {{activation_status}}
                                <form-select name="activation_status" [(ngModel)]="detail.activation_status" [data]="activationStatus" required></form-select> 
                             </div> 
                             
                         </div>
                       
                      </div>
                 </div>
                 
                </div>
            </div>
     
         </div>
    </div>
    
</div>