.pb-framer{
    text-align: center;
    position: relative;
    height: 25px;
    color: #e67e22;
    .progressbar{
        overflow: hidden;
        background: #3498db;
        position: absolute;
        height: 25px;
        z-index: -1;
    }
    .terminated.progressbar{
        background-color: red;
    }
    .clr-white{
        color: white;
    }
}
.card-detail{
    >.card-header{
        position: relative;
        .back_button{
            position: absolute;
            top: 8px;
            left: 15px;
            background-color: transparent;
            color: #555;
            height: 30px;
            
            padding: 0px 10px 0px 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #ccc;
            i{
                font-weight: bold;
            }
        }
        .edit_button{
            position: absolute;
            top: 8px;
            background-color: #555;
            color: #fff;
            height: 30px;
            right: 10px;
            padding: 0px 10px 0px 10px;
            display: flex;
            justify-content: center;
            align-items: center;
           
            i{
                font-weight: bold;
            }
           
        }
    }
    .card-content{
        padding: 15px;
        >.col-md-12{
            padding-left: 0px;
            padding-right: 0px;
        }
    }
    
    h1{
        font-size: 18px;
        font-weight: bold;
        color: #555;
        text-align: center;
        margin-bottom: 0px;
    }
    .product-detail{
        form-select[name=status] .form-group {
            margin-bottom: 0px;
        }
        label{
            margin-top: 10px;
        }
        label+div{
            background: #f0f0f0;
            font-weight:norma;
            padding: 10px;
            border: 1px solid #ccc;
            margin-bottom: 15px;
            min-height: 27px;
            font-size: 12px;
            color: #666;
        }
        
        .image{
            overflow: hidden;
            >div{
                width: 33.3333%;
                padding: 5px;
                float: left;
            }
            .card-header{
                background-color: #f0f0f0;
            }
            h3{
                font-size: 12px;
                margin-bottom: 0px;
                color: #555;
            }
            .card-content{
                overflow: hidden;
                width: 100%;
                height: auto;
                img{
                    max-width: 100%;
                    width: 100%;
    
                }
            }
        }

        .card-header{ 
            background-color: #555;
            h2{
                color: white;
                font-size: 15px;
                line-height: unset;
                height: unset;
                margin: 0px;
                text-transform: capitalize;
        
            }
        }
    }
}

h1{
    color: white;
}

mark{
    background-color: #dc3545;
    color: white;
}
.rounded-btn {
    -webkit-border-radius: 30px;
    border-radius: 30px;
    color: white;
    font-size: 18px;
    line-height: 40px;
    padding: 0 15px;
    background: #56a4ff;
}
.rounded-btn:hover {
    background: darken(#56A4FF, 15%);
    // border: 2px solid blue;
    outline: none;
}

.rounded-btn-danger {
    -webkit-border-radius: 30px;
    border-radius: 30px;
    color: white;
    font-size: 18px;
    line-height: 40px;
    padding: 0 15px;
    background: #dc3545;
}
.rounded-btn-danger:hover {
    background: darken(#dc3545, 15%);
    // border: 2px solid blue;
    outline: none;
}

@media screen and (max-width: 600px) {

    .rounded-btn {
        -webkit-border-radius: 30px;
        border-radius: 30px;
        color: white;
        font-size: 15px;
        line-height: 30px;
        padding: 0 12px;
        background: #56a4ff;
        margin-left: 25%;
        margin-top: 10px;
        margin-right: 10px;
      }
      .rounded-btn:hover {
        background: darken(#56a4ff, 15%);
        // border: 2px solid blue;
        outline: none;
      }
    
      .rounded-btn-danger {
        -webkit-border-radius: 30px;
        border-radius: 30px;
        color: white;
        font-size: 15px;
        line-height: 30px;
        padding: 0 12px;
        background: #dc3545;
        margin-right: 25%;
        margin-top: 10px;
      }

    .rounded-btn-danger:hover {
        background: darken(#dc3545, 15%);
        // border: 2px solid blue;
        outline: none;
    }
  }
