<div *ngIf="!showPasswordPage">
    <div class="card card-detail">
        <div class="card-header">
            <button class="btn back_button" (click)="backToDetail()"><i class="fa fa-fw fa-angle-left"></i> back</button><h1>{{detail.member_id}}</h1>
        </div>
        <div class="card-content">
            <div class="member-detail">
        
                <div class="row">
                    <div class="col-md-4 col-sm-12" >
                        <div class="card mb-3">
                            <div class="card-header"><h2>Login Member Access</h2></div>
                            <div class="card-content">
                                <div class="col-md-12">
    
                                    <label>ID Pelanggan</label>
                                    <form-input  name="id_pel" [disabled]="true" [type]="'text'" [placeholder]="'ID Pelanggan'"  [(ngModel)]="updateSingle.id_pel" autofocus required></form-input>

                                    <label>Password</label>
                                    <form-input  name="password" [type]="'text'" [placeholder]="'Password'"  [(ngModel)]="password" autofocus required></form-input>

                                    <div class="add-more-container">
                                        <button (click)="redeemLogin()" class="add-more-image btn-change-password">Login</button>
                                    </div>
    
                                </div>
                            
                            </div>
                        </div>
                    </div>
                    
                </div>
         
             </div>
        </div>
    </div>
</div>
