<div [@routerTransition]>
  <app-page-header [heading]="'&nbsp;'" [icon]="'fa-table'"></app-page-header>
  <div *ngIf="Pointstransaction&&pointstransactionDetail==false">
        <app-form-builder-table
        [searchCallback]= "[service, 'searchPointstransactionLint',this]"
        [tableFormat]="tableFormat"
        [table_data]="Pointstransaction"
        [total_page]="totalPage"
      >

        </app-form-builder-table>
  </div>
      <div *ngIf="pointstransactionDetail">
            <app-pointstransaction-detail [back]="[this,backToHere]" [detail]="pointstransactionDetail"></app-pointstransaction-detail>
      </div>

  </div>
