* {
    -webkit-transition: margin-left 0.2s ease-in-out;
    -moz-transition: margin-left 0.2s ease-in-out;
    -ms-transition: margin-left 0.2s ease-in-out;
    -o-transition: margin-left 0.2s ease-in-out;
    transition: margin-left 0.2s ease-in-out;
    font-family: 'Poppins', sans-serif;
    // font-weight: 200;
}

.main-container {
    top: 0px;
    margin-left: 200px;
    padding: 40px 15px 0;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    overflow: hidden;
    background-color: #252B37;
    height: 100%;
}
.collapsed {
    margin-left: 100px;
}
@media screen and (max-width: 992px) {
    .main-container {
        margin-left: 0px;
        padding-top: 40px;
        margin-top: -10vw;
    }
}
@media print {
    .main-container {
        margin-top: 0px !important;
        margin-left: 0px !important;
    }
}

.multiselect-dropdown .dropdown-btn {
    background-color: white;
}



