<div [@routerTransition]>

    <app-page-header [heading]="'Amount of Sales'" [icon]="'fa-table'" [topBarMenu]="topBarMenu"></app-page-header>
    <div class="summary-report row">
        <div class="col-md-8">
            <div class="row-per-card">
                <div class="card " *ngIf="analitycsData.daily.barChartLabels.length">
                    <div class="card-header">
                        Order History Per Day
                    </div>
                    <div class="card-body">
                        <canvas baseChart [datasets]="analitycsData.daily.barChartData"
                            [labels]="analitycsData.daily.barChartLabels" [options]="barChartOptions"
                            [legend]="barChartLegend" [chartType]="'line'" (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)">
                        </canvas>
                    </div>
                    <!-- <div class="card-footer">
                            <button class="btn btn-info btn-sm" (click)="onUpdateCart(analitycsData.daily)">Refresh</button>
                        </div> -->
                </div>
            </div>
            <div class="row" style="margin-bottom: 20px; text-align: center">
                <div class="col-md-6">

                    <div class="card " *ngIf="analitycsData.monthly.barChartLabels.length">
                        <div class="card-header">
                            monthly analytics
                        </div>
                        <div class="card-body">
                            <canvas baseChart [datasets]="analitycsData.monthly.barChartData"
                                [labels]="analitycsData.monthly.barChartLabels" [options]="barChartOptions"
                                [legend]="barChartLegend" [chartType]="'line'" (chartHover)="chartHovered($event)"
                                (chartClick)="chartClicked($event)">
                            </canvas>
                        </div>
                        <!-- <div class="card-footer">
                                  <button class="btn btn-info btn-sm" (click)="onUpdateCart(analitycsData.monthly)">Refresh</button>
                              </div> -->
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card " *ngIf="analitycsData.yearly.barChartLabels">
                        <div class="card-header">
                            Yearly analytics
                        </div>
                        <div class="card-body">
                            <canvas baseChart [datasets]="analitycsData.yearly.barChartData"
                                [labels]="analitycsData.yearly.barChartLabels" [options]="barChartOptions"
                                [legend]="barChartLegend" [chartType]="'bar'" (chartHover)="chartHovered($event)"
                                (chartClick)="chartClicked($event)">
                            </canvas>
                        </div>
                        <!-- <div class="card-footer">
                                            <button class="btn btn-info btn-sm" (click)="onUpdateCart(analitycsData.hourly)">Refresh</button>
                                        </div> -->
                    </div>
                </div>
            </div>

            <div class="row" style="margin-bottom: 20px; text-align: center">
                <div class="col-md-12">
                    <div class="row-per-card">
                        <div class="card " *ngIf="analitycsData.hourly.barChartLabels">
                            <div class="card-header">
                                Hourly analytics
                            </div>
                            <div class="card-body">
                                <canvas baseChart [datasets]="analitycsData.hourly.barChartData"
                                    [labels]="analitycsData.hourly.barChartLabels" [options]="barChartOptions"
                                    [legend]="barChartLegend" [chartType]="'line'" (chartHover)="chartHovered($event)"
                                    (chartClick)="chartClicked($event)">
                                </canvas>
                            </div>
                            <!-- <div class="card-footer">
                                                <button class="btn btn-info btn-sm" (click)="onUpdateCart(analitycsData.hourly)">Refresh</button>
                                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12" style="margin-bottom: 20px; text-align: center">
                    <div class="card sum" *ngIf="data.current_order_history">
                        <div class="card-header"> Today Total Order</div>
                        <div class="card-body">
                                <table style="text-align: left">
                                        <tr>
                                            <td>All</td>
                                            <td>{{data.current_order_history.total | currency:'Rp '}} </td>
                                        </tr>
                                        <tr>
                                            <td>Pending</td>
                                            <td>{{data.current_order_history_pending.total | currency:'Rp '}} </td>
                                        </tr>
                                        <tr>
                                            <td>Paid</td>
                                            <td>{{data.current_order_history_paid.total | currency:'Rp '}} </td>
                                        </tr>
                                        <tr>
                                            <td>Checkout</td>
                                            <td>{{data.current_order_history_checkout.total | currency:'Rp '}} </td>
                                        </tr>
                                        <tr>
                                            <td>Cancel</td>
                                            <td>{{data.current_order_history_cancel.total | currency:'Rp '}} </td>
                                        </tr>
                                        <tr>
                                            <td>Waiting</td>
                                            <td>{{data.current_order_history_waiting.total | currency:'Rp '}} </td>
                                        </tr>
                                    </table>
                                    </div>
                    </div>
                </div>
                
                <div class="col-md-12" style="margin-bottom: 20px; text-align: center">
                    <div class="card sum" *ngIf="data.current_order_history">
                        <div class="card-header"> Avg Hourly</div>
                        <div class="card-body">
                            <table style="text-align: left">
                                <tr>
                                    <td>All</td>
                                    <td>{{avgData.hourly.all | currency:'Rp '}} </td>
                                </tr>
                                <tr>
                                    <td>Pending</td>
                                    <td>{{avgData.hourly.pending | currency:'Rp '}}</td>
                                </tr>
                                <tr>
                                    <td>Paid</td>
                                    <td>{{avgData.hourly.paid  | currency:'Rp '}}</td>
                                </tr>
                                <tr>
                                    <td>Checkout</td>
                                    <td>{{avgData.hourly.checkout  | currency:'Rp '}}</td>
                                </tr>
                                <tr>
                                    <td>Cancel</td>
                                    <td>{{avgData.hourly.cancel  | currency:'Rp '}}</td>
                                </tr>
                                <tr>
                                    <td>Waiting</td>
                                    <td>{{avgData.hourly.waiting | currency:'Rp '}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" style="margin-bottom: 20px; text-align: center">
                    <div class="card sum" *ngIf="data.current_order_history">
                        <div class="card-header"> Avg Daily</div>
                        <div class="card-body">
                            <table style="text-align: left">
                                <tr>
                                    <td>All</td>
                                    <td>{{avgData.daily.all | currency:'Rp '}} </td>
                                </tr>
                                <tr>
                                    <td>Pending</td>
                                    <td>{{avgData.daily.pending | currency:'Rp '}}</td>
                                </tr>
                                <tr>
                                    <td>Paid</td>
                                    <td>{{avgData.daily.paid  | currency:'Rp '}}</td>
                                </tr>
                                <tr>
                                    <td>Checkout</td>
                                    <td>{{avgData.daily.checkout  | currency:'Rp '}}</td>
                                </tr>
                                <tr>
                                    <td>Cancel</td>
                                    <td>{{avgData.daily.cancel  | currency:'Rp '}}</td>
                                </tr>
                                <tr>
                                    <td>Waiting</td>
                                    <td>{{avgData.daily.waiting | currency:'Rp '}}</td>
                                </tr>

                            </table>

                        </div>
                    </div>
                </div>

                <div class="col-md-12" style="margin-bottom: 20px; text-align: center">
                    <div class="card sum" *ngIf="data.current_order_history">
                        <div class="card-header"> Avg Monthly</div>
                        <div class="card-body">
                            <table style="text-align: left">
                                <tr>
                                    <td>All</td>
                                    <td>{{avgData.monthly.all | currency:'Rp '}} </td>
                                </tr>
                                <tr>
                                    <td>Pending</td>
                                    <td>{{avgData.monthly.pending | currency:'Rp '}}</td>
                                </tr>
                                <tr>
                                    <td>Paid</td>
                                    <td>{{avgData.monthly.paid  | currency:'Rp '}}</td>
                                </tr>
                                <tr>
                                    <td>Checkout</td>
                                    <td>{{avgData.monthly.checkout  | currency:'Rp '}}</td>
                                </tr>
                                <tr>
                                    <td>Cancel</td>
                                    <td>{{avgData.monthly.cancel  | currency:'Rp '}}</td>
                                </tr>
                                <tr>
                                    <td>Waiting</td>
                                    <td>{{avgData.monthly.waiting | currency:'Rp '}}</td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" style="margin-bottom: 20px; text-align: center">
                    <div class="card sum" *ngIf="data.current_order_history">
                        <div class="card-header"> Avg Yearly</div>
                        <div class="card-body">
                            <table style="text-align: left">
                                <tr>
                                    <td>All</td>
                                    <td>{{avgData.yearly.all | currency:'Rp '}} </td>
                                </tr>
                                <tr>
                                    <td>Pending</td>
                                    <td>{{avgData.yearly.pending | currency:'Rp '}}</td>
                                </tr>
                                <tr>
                                    <td>Paid</td>
                                    <td>{{avgData.yearly.paid  | currency:'Rp '}}</td>
                                </tr>
                                <tr>
                                    <td>Checkout</td>
                                    <td>{{avgData.yearly.checkout  | currency:'Rp '}}</td>
                                </tr>
                                <tr>
                                    <td>Cancel</td>
                                    <td>{{avgData.yearly.cancel  | currency:'Rp '}}</td>
                                </tr>
                                <tr>
                                    <td>Waiting</td>
                                    <td>{{avgData.yearly.waiting | currency:'Rp '}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-md-12" style="float:right">
                    <div class="row-per-card">
                        <div class="card " *ngIf="analitycsData.yearly.barChartLabels">
                            <div class="card-header">
                                Top 20 Buyers (<em> by Amount of Transactions</em>)
                            </div>
                            <div class="card-body">
                                <table>
                                    <tr>
                                        <th>No.</th>
                                        <th>Name</th>
                                        <th>Number of Transaction</th>
                                    </tr>
                                    <tr *ngFor="let m of topMembers;let i = index;">
                                        <td>{{i+1}}</td>
                                        <td>{{m.user_name}}</td>
                                        <td>{{m.count | currency:'Rp '}}</td>
                                    </tr>
                                </table>
                            </div>
                            <!-- <div class="card-footer">
                                        <button class="btn btn-info btn-sm" (click)="onUpdateCart(analitycsData.hourly)">Refresh</button>
                                    </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>




</div>