<div [@routerTransition]>
  <app-page-header [heading]="'Order History Cancel'" [icon]="'fa-table'"></app-page-header>
  <div *ngIf="Orderhistorycancel && orderhistorycancelDetail==false && mci_project == false && programType!='custom_kontraktual' && !errorMessage">
        <app-form-builder-table 
        [searchCallback]="[service, 'searchOrderhistorycancelLint',this]" 
        [tableFormat]="tableFormat"
        [table_data]="Orderhistorycancel"
        [total_page]="totalPage"
      >
            
        </app-form-builder-table>
  </div>
  <div *ngIf="Orderhistorycancel && orderhistorycancelDetail==false && mci_project == true && programType!='custom_kontraktual' && !errorMessage">
      <app-form-builder-table 
      [searchCallback]="[service, 'searchOrderhistorycancelLint',this]" 
      [tableFormat]="tableFormat2"
      [table_data]="Orderhistorycancel"
      [total_page]="totalPage"
    >
          
      </app-form-builder-table>
  </div>

  <div *ngIf="Orderhistorycancel && orderhistorycancelDetail==false && mci_project == false && programType=='custom_kontraktual' && !errorMessage">
    <app-form-builder-table 
    [searchCallback]="[service, 'searchOrderhistorycancelLint',this]" 
    [tableFormat]="tableFormat3"
    [table_data]="Orderhistorycancel"
    [total_page]="totalPage"
  >
        
    </app-form-builder-table>
  </div>

    <div *ngIf="errorMessage" class="error-message">
      <div class="text-message">
      <i class="fas fa-ban"></i>
      {{errorMessage}}
      </div>
    </div>
    
      <div *ngIf="orderhistorycancelDetail">
            <app-orderhistorycancel-edit [back]="[this,backToHere]" [detail]="orderhistorycancelDetail"></app-orderhistorycancel-edit>
      </div>

  </div>

