<div class="card card-detail">
    <div class="card-header">
        <button class="btn back_button" (click)="backToDetail()"><i class="fa fa-fw fa-angle-left"></i> back</button><h1>{{detail.member_id}}</h1>
        <button class="btn save_button {{loading}}" type="submit" (click)="saveThis()"><i class="fa fa-fw fa-save"></i> <span  *ngIf="!loading">Save</span> <span *ngIf="loading">loading</span></button>
    </div>
    <div class="card-content">
        <div class="member-detail">
    
            <div class="row">
                <div class=" col-md-4" >
                    <div class="card mb-3">
                        <div class="card-header"><h2>Data Pemilik</h2></div>
                        <div class="card-content">
                            <div class="col-md-12">
                                <label>ID Customer</label>
                                <form-input  name="member_id" [disabled]="true" [type]="'text'" [placeholder]="'Member ID'"  [(ngModel)]="detail.username" autofocus required></form-input>
                
                                <label>Nama Pemilik</label>
                                <form-input name="full_name" [disabled]="true" [type]="'text'" [placeholder]="'Full Name'"  [(ngModel)]="detail.full_name" autofocus required></form-input>

                                <label>No. Telp Pemilik</label>
                                <form-input name="cell_phone" [disabled]="true" [type]="'text'" [placeholder]="'Cell Phone'"  [(ngModel)]="detail.cell_phone" autofocus required></form-input>

                                <!-- <label>Password</label>
                                <form-input name="password" [(ngModel)]="detail.password" autofocus required></form-input> -->

                                <!-- <label>Member Status</label>
                                <div name="member_status"> {{member_status}}
                                    <form-select name="member_status" [(ngModel)]="detail.member_status" [data]="memberStatus" required></form-select> 
                                </div> 

                                <label>Address</label>
                                <form-input name="maddress1" [type]="'textarea'" [placeholder]="'Address'"  [(ngModel)]="detail.maddress1" autofocus required></form-input>

                                <label>City </label>
                                <form-input name="mcity" [type]="'text'" [placeholder]="'City'"  [(ngModel)]="detail.mcity" autofocus required></form-input>

                                <label>Post Code </label>
                                <form-input name="mpostcode" [type]="'text'" [placeholder]="'Post Code'"  [(ngModel)]="detail.post_code" autofocus required></form-input>

                                <label>State </label>
                                <form-input name="mstate" [type]="'text'" [placeholder]="'State'"  [(ngModel)]="detail.mstate" autofocus required></form-input>

                                <label>Country </label>
                                <form-input name="mcountry" [type]="'text'" [placeholder]="'Country'"  [(ngModel)]="detail.mcountry" autofocus required></form-input> -->
                            </div>
                        
                        </div>
                    </div>
                </div>
                <div  *ngFor="let address of detail.buyer_detail; let i=index" class=" col-md-4" >
                    <div class="card mb-3">
                        <div class="card-header"><h2>Alamat Pengiriman</h2> </div>
                        <div class="card-content">
                            <div class="col-md-12">

                                <label>Nama Penerima </label>
                                <form-input name="email" [type]="'text'" [placeholder]="'Nama Penerima'"  [(ngModel)]="address.name" autofocus required></form-input>
                                
                                <label>Alamat Penerima</label>
                                <form-input name="email" [type]="'text'" [placeholder]="'Alamat Penerima'"  [(ngModel)]="address.address" autofocus required></form-input>

                                <label>No. Telp Penerima<div style="font-size: 10px;">(Jika hadiah berupa Saldo Gopay, isi dengan No. Gopay Penerima)</div></label>
                                <form-input name="cell_phone" [type]="'text'" [placeholder]="'Cell Phone Penerima'"  [(ngModel)]="address.cell_phone" autofocus required></form-input>
                                
                                <!-- <label>Provinsi </label>
                                <form-input name="cell_phone" [type]="'text'" [placeholder]="'Provinsi'"  [(ngModel)]="address.province_name" autofocus required></form-input>
                                
                                <label>Kota/Kabupaten</label>
                                <form-input name="cell_phone" [type]="'text'" [placeholder]="'Kota'"  [(ngModel)]="address.city_name" autofocus required></form-input>
                                <label>Kecamatan </label>
                                <form-input name="cell_phone" [type]="'text'" [placeholder]="'Kecamatan'"  [(ngModel)]="address.subdistrict_name" autofocus required></form-input>
                                
                                <label>Desa/Kelurahan</label>
                                <form-input name="cell_phone" [type]="'text'" [placeholder]="'Desa/Kelurahan'"  [(ngModel)]="address.village_name" autofocus required></form-input>
                                <label>Kode Pos</label>
                                <form-input name="cell_phone" [type]="'text'" [placeholder]="'Kode Pos'"  [(ngModel)]="address.postal_code" autofocus required></form-input> -->
                            </div>
                        </div>
                    </div>
                </div>

            </div>
     
         </div>
    </div>
    
</div>