<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Enter Password</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
        <form (submit)="onSubmit()">
            <div class="form-group">
                <label for="dateOfBirth">Password</label>
                <div class="input-group">
                    <input [(ngModel)]="password" id="dateOfBirth" type="password" class="form-control"
                        placeholder="Password" name="dp">
                </div>
            </div>
            <button type="submit" class="btn btn-outline-dark">Submit</button>
        </form>
    </div>
</ng-template>


<hr>

<pre>{{closeResult}}</pre>

<nav id="navbar-menu" class="navbar navbar-expand-lg fixed-top">
    <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
        <i class="fa fa-bars text-muted" aria-hidden="true"></i>
    </button>
    <ul id="navbarright" class="navbar-nav ml-auto" style="flex-direction: row;">
        <li class="datetimecontainer navbar-toggler">
            <a class="time-custom ">
                <img src="assets/images/clock.svg" style="width: 10px;">
                {{ timeCurrent }}
            </a>
            <a class="date-custom ">
                <img src="assets/images/calendar icon.svg" style="width: 10px;">
                {{ dateCurrent }}
            </a>
        </li>
        <!-- RESPONSIVE -->
        <!-- <li class="nav-item navbar-toggler" style="list-style-type: none;" id="administrator">
            <a href="javascript:void(0)" class="nav-link">
                <span>Administrator</span>
            </a>
        </li> -->
        <li class="nav-item navbar-toggler" style="list-style-type: none;" id="administrator">
            <a href="/app-login" class="nav-link">
                <!-- <img src="assets/images/pikachu.png"> -->
                <span>Choose Program</span>
            </a>
        </li>
        <a class="nav-link logout resp navbar-toggler" routerLink="/login" (click)="onLoggedout()">
            <img src="assets/images/logout.png"> {{ 'Log Out' | translate }}
        </a>
    </ul>
    <!-- CLOSE-RESPONSIVE -->
    <div class="collapse navbar-collapse">
        <div class="form-inline">
            <datalist class="search-menu" id="browsers">
                <option *ngFor="let dt of routePath" [value]="dt.path">{{dt.label}}</option>
            </datalist>
        </div>
        <a class="admin-portal">
            <img src="assets/images/admin1.png"> {{ portalName | translate }}
        </a>
        <ul class="navbar-nav ml-auto">
            <!-- NON-RESPONSIVE -->
            <a class="time-custom">
                <img src="assets/images/clock.svg" style="width: 20px;">{{ time | date: 'hh:mm:ss a'   }}
            </a>
            <a class="date-custom">
                <img src="assets/images/calendar icon.svg" style="width: 20px;">{{ dateCurrent }}
            </a>
            <li class="nav-item dropdown" id="administrator">
                <a href="javascript:void(0)" class="nav-link" Toggle>
                    <span>Administrator</span>
                </a>
            </li>
            <li class="nav-item dropdown" id="administrator">
                <a href="/app-login" class="nav-link" Toggle>
                    <!-- <img src="assets/images/pikachu.png"> -->
                    <span>Choose Program</span>
                </a>
            </li>
            <a class="logout" routerLink="/login" (click)="onLoggedout()">
                <img src="assets/images/logout.png"> {{ 'Log Out' | translate }}
            </a>
            <!-- CLOSE-NON-RESPONSIVE -->
        </ul>
    </div>
</nav>