<div class="card card-detail">
    <input #ktpPemilik type="file" style="display:none" (change)="onFileSelected2($event, 'ktpPemilik')"
    accept="image/x-png,image/gif,image/jpeg"/>
    <input #npwpPemilik type="file" style="display:none" (change)="onFileSelected2($event, 'npwpPemilik')"
    accept="image/x-png,image/gif,image/jpeg"/>
    <input #ktpPenerima type="file" style="display:none" (change)="onFileSelected2($event, 'ktpPenerima')"
    accept="image/x-png,image/gif,image/jpeg"/>
    <input #npwpPenerima type="file" style="display:none" (change)="onFileSelected2($event, 'npwpPenerima')"
    accept="image/x-png,image/gif,image/jpeg"/>

    <ng-container *ngIf="allBast.length > 0">
        <ng-container *ngFor="let item of allBast; let i = index">
            <input type="file"  (change)="onFileSelected($event, 'bast', i)" 
                accept="image/x-png,image/gif,image/jpeg" style="display:none;" [id]="'bast'+i"/>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="allSuratKuasa.length > 0">
        <ng-container *ngFor="let item of allSuratKuasa; let i = index">
            <input type="file"  (change)="onFileSelected($event, 'suratKuasa', i)" 
                accept="image/x-png,image/gif,image/jpeg" style="display:none;" [id]="'suratKuasa'+i"/>
        </ng-container>
    </ng-container>
    
    
    <div class="card-header">
        <button class="btn back_button" (click)="backToDetail()"><i class="fa fa-fw fa-angle-left"></i> back</button><h1>{{detail.member_id}}</h1>
        <button class="btn save_button {{loading}}" type="submit" (click)="updateInvoiceNumber()"><i class="fa fa-fw fa-save"></i> <span  *ngIf="!loading">Save</span> <span *ngIf="loading">loading</span></button>
    </div>

    <ng-template #empty_image><span>
        empty
    </span></ng-template>

    <ng-template #empty_invoice>
        <form-input name="invoice_no" [type]="'text'" [placeholder]="'No. invoice'"  [(ngModel)]="invoiceNumber" autofocus required></form-input>
    </ng-template>

    <div class="card-content">
        <div class="member-detail">
    
            <div class="row">
                <div class=" col-md-4" >
                    <div class="card mb-3">
                        <div class="card-header"><h2>Data Pemilik</h2></div>
                        <div class="card-content">
                            <div class="col-md-12">

                                <label>ID Pelanggan</label>
                                <form-input  name="id_pel" [disabled]="true" [type]="'text'" [placeholder]="'ID Pelanggan'"  [(ngModel)]="updateSingle.id_pel" autofocus required></form-input>
                
                                <label>Nama Toko</label>
                                <form-input name="nama_toko" [disabled]="true" [type]="'text'" [placeholder]="'Nama Toko'"  [(ngModel)]="updateSingle.nama_toko" autofocus required></form-input>

                                <label>Nama Distributor</label>
                                <form-input name="nama_distributor" [disabled]="true" [type]="'text'" [placeholder]="'Nama Distributor'"  [(ngModel)]="updateSingle.nama_distributor" autofocus required></form-input>
                                
                                <label>Alamat Toko</label>
                                <form-input name="alamat_toko" [disabled]="true" [type]="'text'" [placeholder]="'Alamat Toko'"  [(ngModel)]="updateSingle.alamat_toko" autofocus required></form-input>
                                
                                <label>Nama Pemilik</label>
                                <form-input name="nama_pemilik" [disabled]="true" [type]="'text'" [placeholder]="'Nama Pemilik'"  [(ngModel)]="updateSingle.nama_pemilik" autofocus required></form-input>

                                <label>No. WA Pemilik</label>
                                <form-input name="no_wa_pemilik" [disabled]="true" [type]="'text'" [placeholder]="'No WA Pemilik'"  [(ngModel)]="updateSingle.no_wa_pemilik" autofocus required></form-input>

                                <label>No. KTP Pemilik</label>
                                <form-input name="ktp_pemilik" [disabled]="true" [type]="'text'" [placeholder]="'No. KTP Pemilik'"  [(ngModel)]="updateSingle.ktp_pemilik" autofocus required></form-input>

                                <label>Foto KTP Pemilik</label>
                                <!-- <form-input name="foto_ktp_pemilik"  [type]="'text'" [placeholder]="'KTP Pemilik'"  [(ngModel)]="updateSingle.foto_ktp_pemilik" autofocus required></form-input> -->
                                <div class="member-detail-image-container">
                                    <ng-container  *ngIf="validURL(updateSingle.foto_ktp_pemilik); else empty_image">
                                        <a href={{updateSingle.foto_ktp_pemilik}} target="_blank">
                                            <img src={{updateSingle.foto_ktp_pemilik}} class="member-detail-image" />
                                        </a>
                                        <div class="btn-download-container">
                                            <button (click)="downloadImage(updateSingle.foto_ktp_pemilik)" class="btn-download-img"><i class="fa fa-fw fa-download"></i> Download</button>
                                        </div>
                                    </ng-container>
                                </div>

                                <label>No. NPWP Pemilik</label>
                                <form-input name="npwp_pemilik" [disabled]="true" [type]="'text'" [placeholder]="'No. NPWP Pemilik'"  [(ngModel)]="updateSingle.npwp_pemilik" autofocus required></form-input>
                                
                                <label>Foto NPWP Pemilik</label>
                                <!-- <form-input name="foto_npwp_pemilik"  [type]="'text'" [placeholder]="'NPWP Pemilik'"  [(ngModel)]="updateSingle.foto_npwp_pemilik" autofocus required></form-input> -->
                                <div class="member-detail-image-container">
                                    <ng-container  *ngIf="validURL(updateSingle.foto_npwp_pemilik); else empty_image">
                                        <a href={{updateSingle.foto_npwp_pemilik}} target="_blank">
                                            <img src={{updateSingle.foto_npwp_pemilik}} class="member-detail-image" />
                                        </a>
                                        <div class="btn-download-container">
                                            <button (click)="downloadImage(updateSingle.foto_npwp_pemilik)" class="btn-download-img"><i class="fa fa-fw fa-download"></i> Download</button>
                                        </div>
                                    </ng-container>
                                </div>

                            </div>
                        
                        </div>
                    </div>
                </div>
                <div class=" col-md-4" >
                    <div class="card mb-3">
                        <div class="card-header"><h2>Data Penerima</h2> </div>
                        <div class="card-content">
                            <div class="col-md-12">

                                <label>Hadiah Dikuasakan</label>
                                <form-input name="hadiah_dikuasakan" [disabled]="true" [type]="'text'" [placeholder]="'Hadiah Dikuasakan'"  [(ngModel)]="updateSingle.hadiah_dikuasakan" autofocus required></form-input>

                                <label>Nama Penerima</label>
                                <form-input name="nama_penerima_gopay" [disabled]="true" [type]="'text'" [placeholder]="'Nama Penerima'"  [(ngModel)]="updateSingle.nama_penerima_gopay" autofocus required></form-input>

                                <label>No. WA Penerima</label>
                                <form-input name="no_wa_penerima" [disabled]="true" [type]="'text'" [placeholder]="'No. WA Penerima'"  [(ngModel)]="updateSingle.no_wa_penerima" autofocus required></form-input>

                                <label>No. Gopay Penerima</label>
                                <form-input name="telp_penerima_gopay" [disabled]="true" [type]="'text'" [placeholder]="'No Gopay Penerima'"  [(ngModel)]="updateSingle.telp_penerima_gopay" autofocus required></form-input>

                                <label>Alamat Pengiriman</label>
                                <form-input name="alamat_rumah" [disabled]="true" [type]="'text'" [placeholder]="'Alamat Pengiriman'"  [(ngModel)]="updateSingle.alamat_rumah" autofocus required></form-input>

                                <label>No. KTP Penerima</label>
                                <form-input name="ktp_penerima" [disabled]="true" [type]="'text'" [placeholder]="'No. KTP Penerima'"  [(ngModel)]="updateSingle.ktp_penerima" autofocus required></form-input>

                                <label>Foto KTP Penerima</label>
                                <!-- <form-input name="foto_ktp_penerima"  [type]="'text'" [placeholder]="'Nama Toko'"  [(ngModel)]="updateSingle.foto_ktp_penerima" autofocus required></form-input> -->

                                <div class="member-detail-image-container">
                                    <ng-container *ngIf="validURL(updateSingle.foto_ktp_penerima); else empty_image">
                                        <a href={{updateSingle.foto_ktp_penerima}} target="_blank" >
                                           <img src={{updateSingle.foto_ktp_penerima}} class="member-detail-image" />
                                        </a>
                                        <div class="btn-download-container">
                                            <button (click)="downloadImage(updateSingle.foto_ktp_penerima)" class="btn-download-img"><i class="fa fa-fw fa-download"></i> Download</button>
                                        </div>
                                    </ng-container>
                                </div>

                                <label>No. NPWP Penerima</label>
                                <form-input name="npwp_penerima" [disabled]="true" [type]="'text'" [placeholder]="'No. NPWP Penerima'"  [(ngModel)]="updateSingle.npwp_penerima" autofocus required></form-input>

                                <label>Foto NPWP Penerima</label>
                                <!-- <form-input name="foto_npwp_penerima"  [type]="'text'" [placeholder]="'Nama Toko'"  [(ngModel)]="updateSingle.foto_npwp_penerima" autofocus required></form-input> -->

                                <div class="member-detail-image-container">
                                    <ng-container *ngIf="validURL(updateSingle.foto_npwp_penerima); else empty_image">
                                        <a href={{updateSingle.foto_npwp_penerima}} target="_blank">
                                           <img src={{updateSingle.foto_npwp_penerima}} class="member-detail-image" />
                                        </a>
                                        <div class="btn-download-container">
                                            <button (click)="downloadImage(updateSingle.foto_npwp_penerima)" class="btn-download-img"><i class="fa fa-fw fa-download"></i> Download</button>
                                        </div>
                                    </ng-container>
                                 </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class=" col-md-4" >
                    <div class="card mb-3">
                        <div class="card-header"><h2>Dokumen Lainnya </h2></div>
                        <div class="card-content">
                            <div class="col-md-12">

                                <label>No. Invoice</label>
                                <ng-container>
                                    <form-input *ngIf="detail.additional_info && detail.additional_info.invoice_no; else empty_invoice" name="invoice_no" [type]="'text'" [placeholder]="'No. invoice'"  [(ngModel)]="invoiceNumber" autofocus required></form-input>
                                </ng-container>

                               <label>Foto BAST</label>
                                <div class="member-detail-image-container">
                                    <ng-container *ngIf="validURL(detail.additional_info && detail.additional_info.bast && detail.additional_info.bast.pic_file_name); else empty_image">
                                        <a href={{detail.additional_info.bast.pic_file_name}} target="_blank" >
                                           <img src={{detail.additional_info.bast.pic_file_name}} class="member-detail-image" />
                                        </a>
                                        <div class="btn-download-container">
                                            <button (click)="downloadImage(detail.additional_info.bast.pic_file_name)" class="btn-download-img"><i class="fa fa-fw fa-download"></i> Download</button>
                                        </div>
                                    </ng-container>
                                </div>

                               <label>Foto Surat Kuasa</label>
                               <div class="member-detail-image-container">
                                   <ng-container *ngIf="validURL(detail.additional_info && detail.additional_info.surat_kuasa && detail.additional_info.surat_kuasa.pic_file_name); else empty_image">
                                       <a href={{detail.additional_info.surat_kuasa.pic_file_name}} target="_blank">
                                          <img src={{detail.additional_info.surat_kuasa.pic_file_name}} class="member-detail-image" />
                                       </a>
                                       <div class="btn-download-container">
                                           <button (click)="downloadImage(detail.additional_info.surat_kuasa.pic_file_name)" class="btn-download-img"><i class="fa fa-fw fa-download"></i> Download</button>
                                       </div>
                                   </ng-container>
                                </div>
                            </div>
                         </div>
                    </div>
                </div>

            </div>
     
         </div>
    </div>
    <ng-template #upload_image>
        <span>
            upload
        </span>
    </ng-template>
</div>