<div class="board">
      <div class="nav toolbar">
        <h3 id="h3"><strong>Your Transactions</strong></h3><br>
        <div class="card">
          <div class="card-content">
            <label id="label-header"><strong>Order Status </strong></label>
            <hr>
            <div class="order-status">
              <button *ngFor="let sw of swaper; let i = index;" class="btn toolbar {{sw.val}}" id="button-swapper"
                (click)="swapClick(i)">
                <span class="{{sw.icon}}"></span>
                <span class="status-name"><span class="badge"
                    *ngIf="sw.name == 'Incoming' && totalValuePending">{{totalValuePending}}</span>{{sw.name}}</span>
              </button>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card sticky-top" id="card-transaction">
            <div class="div-transaction">
              <div id="transaction">
                <label id="label-header"><strong>Transaction Filters</strong></label>
              </div>
              <div class="searchbar">
                <div id="search">
                  <!-- <label>Filter by</label> -->
                  <select class="form-control" [(ngModel)]="filter">
                    <option *ngFor="let f of filterBy" [ngValue]="f.value">{{f.name}}</option>
                  </select>
                </div>
                <div id="search-field">
                  <input id="search-text" type="text" class="form-control" (keyup)="searchText($event)"
                    placeholder="search">
                  <i class="fa fa-search" id="search-icon"></i>
                </div>
                <div class="date-picker-wrapper">
                  <div class="date-picker-overlay" *ngIf="toggler && toggler['order_date']">
                    <div class="dpicker">
                      <ngb-datepicker #d (select)="datePickerOnDateSelection($event, 'order_date')" [displayMonths]="1"
                        [dayTemplate]="t" outsideDays="hidden"></ngb-datepicker>
                      <div style="float: right;justify-self: right;">
                        <a class="btn ok" (click)="dateToggler('order_date')">OK</a>
                        <a class="btn clear" (click)="dateClear($event, 'order_date')"> <span class="fa fa-trash"></span>
                          clear</a>
                      </div>
                    </div>
                  </div>
                  <ng-template #t let-date="date" let-focused="focused">
                    <span class="custom-day" [class.focused]="focused"
                      [class.range]="datePickerOnDateIsRange(date, 'order_date')">
                      {{ date.day }}
                    </span>
                  </ng-template>
                  <em
                    *ngIf="typeof(form_input['order_date']) != 'object' || (typeof(form_input['order_date']) == 'object' && !form_input['order_date'].from) || toggler['order_date']">
                    <input class="form-control" style="padding-right: 22px;" type="text" [(ngModel)]="form_input['date']"
                      placeholder="search date here" (click)="dateToggler('order_date')">
                    <i class="fa fa-calendar-alt" id="calendar-icon"></i>
                  </em>
                  <a class="btn form-control" style="border: 1px solid #ced4da"
                    *ngIf="typeof(form_input['order_date']) == 'object' && form_input['order_date'].from && !toggler['order_date'] "
                    (click)="dateToggler('order_date')">
                    <span *ngIf="form_input['order_date'].from"> {{form_input['order_date'].from}} </span>
                    <span *ngIf="form_input['order_date'].to"> - {{form_input['order_date'].to}} </span>
                    <i class="fa fa-calendar-alt"></i>
    
                  </a>
                </div>
                <div id="search">
                  <!-- <label>Sort by</label> -->
                  <select class="form-control" [(ngModel)]="orderBy" (change)="orderBySelected()">
                    <option *ngFor="let s of sortBy" [ngValue]="s.value">{{s.name}}</option>
                  </select>
                </div>
                <button (click)="clickToDownloadReport()" class="btn save btn-primary" id="btn-download">Download
                  Report</button>
                <button (click)="printLabel()" class="btn save btn-success" id="btn-print" *ngIf="swaper[3].val == true">Print Label</button>
              </div>
            </div>
          </div>
          <div class="select-all" *ngIf="!allData && allData.length!=0">
            <label class="header-text" style="float: right;margin-right: 35px;">
              <strong>Select All
                <mat-checkbox (change)="checkedAll()" [(ngModel)]="activeCheckbox" type="checkbox"
                  style="vertical-align: -webkit-baseline-middle;margin-left: 10px;">
                </mat-checkbox>
              </strong>
            </label>
          </div>
          <div class="loading" *ngIf='showLoading'>
            <div class="sk-fading-circle">
              <div class="sk-circle1 sk-circle"></div>
              <div class="sk-circle2 sk-circle"></div>
              <div class="sk-circle3 sk-circle"></div>
              <div class="sk-circle4 sk-circle"></div>
              <div class="sk-circle5 sk-circle"></div>
              <div class="sk-circle6 sk-circle"></div>
              <div class="sk-circle7 sk-circle"></div>
              <div class="sk-circle8 sk-circle"></div>
              <div class="sk-circle9 sk-circle"></div>
              <div class="sk-circle10 sk-circle"></div>
              <div class="sk-circle11 sk-circle"></div>
              <div class="sk-circle12 sk-circle"></div>
            </div>
          </div>
          <div class="div-content-row" *ngFor="let data of allData; let i = index">
            <div class="div-content-cell div-product">
              <div *ngIf="allData[i].product_status == true; else equalToOne">
                <!-- <div *ngIf="allData[i].product_list.length > 1; else equalToOne"> -->
                <div class="more-product">
                  <div class="loop-product" *ngFor="let product of allData[i].product_list;">
                    <div class="card">
                      <div class="img-wrapper" style="background-image: url({{product.base_url+product.pic_small_path}});">
                        <!-- <div class="img" [ngStyle]="{'background-image':'url('+(product.base_url+product.pic_small_path)+')'}"> -->
                        <!-- <img src="{{product.base_url+product.pic_small_path}}" class="image"> -->
                      </div>
                    </div>
                    <div>
                      <div class="form-label">
                        <label class="header-text order-id-text">Order ID : <span>{{data.order_id}}</span></label>
                        <label class="normal-text date-text">{{data.order_date}}</label>
                      </div>
                      <div class="form-label">
                        <label
                          style="font-size: 20px; margin-bottom: 0px;"><strong>{{product.product_name}}</strong></label>
                      </div>
                      <label class="price"><strong>{{product.total_product_price | currency: 'Rp '}}</strong></label><br />
                      <label class="header-text" style="margin-bottom: 0.5rem;">
                        <strong>Qty : {{product.quantity}}</strong>
                      </label>
                      <label class="header-text"><strong>Notes:</strong></label>
                      <p class="normal-text" style="word-break: break-all;">
                        {{product.note_to_merchant}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <ng-template #equalToOne>
                <div class="div-default-product">
                  <div class="default-product">
                    <!-- <div *ngFor="let product of allData[i].product_list;" style="display: flex;margin-bottom: 10px;"> -->
                    <div class="img-wrapper"
                      style="background-image: url({{allData[i].product_list[0].base_url+allData[i].product_list[0].pic_small_path}});">
                      <!-- <div class="img" [ngStyle]="{'background-image':'url('+(allData[i].product_list[0].base_url+allData[i].product_list[0].pic_small_path)+')'}"> -->
                      <img src="{{allData[i].product_list[0].base_url+allData[i].product_list[0].pic_small_path}}"
                        class="image">
                    </div>
                    <div class="product-detail">
                      <div class="form-label">
                        <label class="header-text order-id-text">Order ID : <span>{{data.order_id}}</span></label>
                        <label class="normal-text date-text">{{data.order_date}}</label>
                      </div>
                      <div class="form-label">
                        <label class="header-text"><strong>{{allData[i].product_list[0].product_name}}</strong></label>
                      </div>
                      <div class="form-label">
                        <label
                          class="price"><strong>{{allData[i].product_list[0].total_product_price | currency: 'Rp '}}</strong></label>
                      </div>
                      <label class="header-text" style="margin-bottom: 0.5rem;"><strong>Quantity :
                          {{allData[i].product_list[0].quantity}}</strong></label><br />
                      <div *ngIf="allData[i].product_list[0].note_to_merchant">
                        <label class="header-text"><strong>Notes:</strong></label>
                        <p class="normal-text" style="word-break: break-all;">
                          {{allData[i].product_list[0].note_to_merchant}}</p>
                      </div>
    
                    </div>
                  </div>
                </div>
              </ng-template>
              <div *ngIf="allData[i].product_list.length > 1" style="text-align: right;">
                <label class="see-more" (click)="setSeeMore(i)" class="normal-text">See {{allData[i].product_list.length-1}}
                  more...</label>
              </div>
            </div>
            <div class="div-content-cell ">
              <div class="form-label">
                <label class="header-text">Shipping Address</label>
                <label class="normal-text" *ngIf="type(i) == 'product'">{{data.buyer_detail.address}}</label>
              </div>
              <div class="form-label" *ngIf="data.resi_number">
                <label class="header-text">No. Resi</label>
                <label class="normal-text" *ngIf="type(i) == 'product'">{{data.resi_number}}</label>
              </div>
              <div class="form-label" *ngIf="data.type">
                <label class="header-text">Delivery Service</label>
                <label class="normal-text" *ngIf="data.type == 'product'">{{data.buyer_detail.delivery_request.service}} /
                  {{data.buyer_detail.delivery_request.description}}</label>
                <label *ngIf="type(i) == 'evoucher'">no-services</label>
              </div>
    
              <div class="form-label" *ngIf="data.delivery_courier">
                <label class="header-text">Courier</label>
                <label class="normal-text">{{data.delivery_courier}}</label>
              </div>
            </div>
            <div class="div-content-cell products-left">
              <div class="products-left-board">
                <div class="products-left-data">
                  <label class="header-text">Receiver</label>
                  <label class="normal-text">{{data.buyer_detail.name}}</label>
                  <label class="header-text">Phone Number</label>
                  <label class="normal-text">{{data.buyer_detail.cell_phone}}</label>
                  <label class="header-text">Total ({{data.total_item}} Items)</label>
                  <label class="price-total"><strong>{{data.total_price | currency: 'Rp '}}</strong></label>
                </div>
                <div class="products-left-checkbox">
                  <mat-checkbox (change)='onChecked()' [(ngModel)]="checkBox[i]" type="checkbox"></mat-checkbox>
                </div>
              </div>
              <div class="products-left-status">
                <span class="payment-status {{data.payment_status}}" *ngIf="data.payment_status == 'PAID'">Paid</span>
                <span class="payment-status {{data.payment_status}}" *ngIf="data.payment_status == 'CANCEL'">Cancel</span>
                <label class="see-more" (click)="getDetail(data.booking_id)">More Details &raquo;</label>
              </div>
            </div>
          </div>
          <div class="div-footer" *ngIf="allData && allData.length!=0">
            <div>
              <button class="btn" (click)="onChangePage(currentPage = 1)">
                &laquo; </button> <button class="btn" (click)="onChangePage(currentPage - 1)">
                &lsaquo; </button> <button *ngFor="let tp of pageNumbering" class="btn" (click)="onChangePage(tp)">{{tp}}
              </button>
              <button class="btn" (click)="onChangePage(currentPage + 1)">&rsaquo;</button>
              <button class="btn" (click)="onChangePage(currentPage = total_page)">&raquo;</button>
            </div>
          </div>
        </div>
    
      </div>
    
    </div>
    <table style="display: none;" id="reportTable" #reportTable>
      <thead>
        <tr>
          <th>NO.</th>
          <th>Order ID</th>
          <th>Order Date</th>
          <th>Product Name</th>
          <th>Product Price</th>
          <th>Quantity</th>
          <th>Notes</th>
          <th>Shopping Address</th>
          <th>No. Resi</th>
          <th>Service</th>
          <th>Courier</th>
          <th>Receiver</th>
          <th>Phone Number</th>
          <th>Total</th>
          <th>Payment Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of allData; let i = index">
          <td>{{i+1}}</td>
          <td>{{data.order_id}}</td>
          <td>{{data.order_date}}</td>
          <td>
            <div *ngFor="let product of allData[i].product_list;">
              <span>{{product.product_name}}</span>
            </div>
          </td>
          <td>
            <div *ngFor="let product of allData[i].product_list;">
              <span>Rp. {{product.total_product_price}}</span>
            </div>
          </td>
          <td>
            <div *ngFor="let product of allData[i].product_list;">
              <span>{{product.quantity}}</span>
            </div>
          </td>
          <td>
            <div *ngFor="let product of allData[i].product_list;">
              <span>{{product.note_to_merchant}}</span>
            </div>
          </td>
          <td>{{data.buyer_detail.address}}</td>
          <td>{{data.resi_number}}</td>
          <!-- <td >Empty</td> -->
          <!-- <td>{{data.buyer_detail.delivery_request.service}}</td> -->
          <td>{{data.delivery_courier}}</td>
          <td>{{data.buyer_detail.name}}</td>
          <td>{{data.buyer_detail.cell_phone}}</td>
          <td>{{data.total_price}}</td>
          <td>{{data.payment_status}}</td>
        </tr>
      </tbody>
    </table>