<div class="card card-detail">
    <div class="card-header">
        <button class="btn back_button" (click)="backToDetail()"><i class="fa fa-fw fa-angle-left"></i> back</button><h1>{{detail.product_code}}</h1>
        <button class="btn save_button {{loading}}" type="submit" (click)="saveThis()"><i class="fa fa-fw fa-save"></i> <span  *ngIf="!loading">Save</span> <span *ngIf="loading">loading</span></button>
    </div>
    <div class="card-content">
        <div class="media-detail">
    
            <div class="row">
             <div class=" col-md-8" >
                 <div class="card mb-3">
                     <div class="card-header"><h2> Edit Media Details </h2></div>
                     <div class="card-content">
                         <div class="col-md-12">
                             <label>Media ID</label>
                             <form-input  name="_id" [disabled]="true" [type]="'text'" [placeholder]="'Media ID'"  [(ngModel)]="detail._id" autofocus required></form-input>
             
                             <label>Product Code</label>
                             <form-input  name="product_code" [disabled]="true" [type]="'text'" [placeholder]="'Product Code'"  [(ngModel)]="detail.product_code" autofocus required></form-input>
             
                             <label>Filename</label>
                             <form-input name="name" [type]="'text'" [placeholder]="'Filename'"  [(ngModel)]="detail.name" autofocus required></form-input>

                             <label>Description File</label>
                             <form-input name="description" [type]="'text'" [placeholder]="'Description File'"  [(ngModel)]="detail.description" autofocus required></form-input>
             
                             <label>Type File</label>
                             <form-input  name="type" [disabled]="true" [type]="'text'" [placeholder]="'Type File'"  [(ngModel)]="detail.type" autofocus required></form-input>

                             <label>Error Status File Upload</label>
                             <form-input  name="error" [disabled]="true" [type]="'text'" [placeholder]="'Error Status File Upload'"  [(ngModel)]="detail.error" autofocus required></form-input>

                             <label>File Size (in MB)</label>
                             <form-input  name="size" [disabled]="true" [type]="'text'" [placeholder]="'Error Status File Upload'"  [(ngModel)]="detail.size" autofocus required></form-input>
                             
                             <label>File Extension</label>
                             <form-input  name="extension" [disabled]="true" [type]="'text'" [placeholder]="'File Extension'"  [(ngModel)]="detail.extension" autofocus required></form-input>

                             <label>Basename File</label>
                             <form-input  name="basename" [disabled]="true" [type]="'text'" [placeholder]="'Basename File'"  [(ngModel)]="detail.basename" autofocus required></form-input>

                            
                         </div>
                         <div *ngIf="errorLabel!==false">
                                {{errorLabel}}
                        </div>
                       
                      </div>
                 </div>
                </div>
                <div class=" col-md-4" >
                 <div class="card mb-3">
                     <div class="card-header"><h2>Media &amp; Location File URL</h2> </div>
                     <div class="card-content">
                         <div class="col-md-12">
                             
                            <label>URL File Location </label>
                            <form-input  name="url" [disabled]="true" [type]="'text'" [placeholder]="'URL File Location'"  [(ngModel)]="detail.url" autofocus required></form-input>

                            <label>URL Host </label>
                            <form-input  name="url_host" [disabled]="true" [type]="'text'" [placeholder]="'URL File Location'"  [(ngModel)]="detail.url_host" autofocus required></form-input>
                            
                            <label>Dir URL </label>
                            <form-input  name="dir_url" [disabled]="true" [type]="'text'" [placeholder]="'Dir URL'"  [(ngModel)]="detail.dir_url" autofocus required></form-input>

                            <label>Image URL </label>
                            <form-input  name="image_url" [disabled]="true" [type]="'text'" [placeholder]="'Image URL'"  [(ngModel)]="detail.image_url" autofocus required></form-input>

                            <label>Created Date </label>
                            <form-input  name="created_date" [disabled]="true" [type]="'text'" [placeholder]="'Created Date'"  [(ngModel)]="detail.created_date" autofocus required></form-input>
                             
                         </div>
                       
                      </div>
                 </div> 
                 
                </div>
            </div>
     
         </div>
    </div>
    
</div>