<div *ngIf="!edit" class="card card-detail">
    <div class="card-header">
        <h1>
                {{detail._id}}
        </h1>
        <button class="btn back_button" (click)="backToTable()"><i class="fa fa-fw fa-angle-left"></i> back</button>
        <button class="btn edit_button" (click)="editThis()"><i class="fa fa-fw fa-pencil-alt"></i> edit</button>
    </div>
    <div class="card-content">
        <div class="all-member-detail">
    
            <div class="row">
             <div class=" col-md-8" >
                 <div class="card mb-3">
                     <div class="card-header"><h2> All Member Details </h2></div>
                     <div class="card-content">
                         <div class="col-md-12">
                                     
                             <label>Full Name</label>
                             <div name="full_name">{{detail.full_name}}</div>

                             <label>Member Status</label>
                             <div name="member_status">{{detail.member_status}}</div>

                             <label>Address</label>
                             <div name="maddress1">{{detail.maddress1}}</div>

                             <label>City </label>
                             <div name="mcity">{{detail.mcity}}</div>

                             <label>PostCode </label>
                             <div name="mpostcode">{{detail.mpostcode}}</div>

                             <label>State </label>
                             <div name="mstate">{{detail.mstate}}</div>

                             <label>Country </label>
                             <div name="mcountry">{{detail.mcountry}}</div>



                         </div>
                       
                      </div>
                 </div>
                </div>
                <div class=" col-md-4" >
                 <div class="card mb-3">
                     <div class="card-header"><h2>Member &amp; Status Member</h2> </div>
                     <div class="card-content">
                         <div class="col-md-12">
                             
                            <label>Email </label>
                            <div name="email">{{detail.email}}</div>

                            <label>Cell Phone </label>
                            <div name="cell_phone">{{detail.cell_phone}}</div>

                            <label>Registration Date </label>
                            <div name="registration_date">{{detail.registration_date}}</div>

                            <label>Point Balance </label>
                            <div name="point_balance">{{detail.point_balance}}</div>

                             
                         </div>
                       
                      </div>
                 </div>
                 
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12 bg-delete"><button class="btn delete-button float-right btn-danger" (click)="deleteThis()">delete this</button></div>
            </div>
            
         </div>
    </div>
</div>
<div *ngIf="edit">
    <app-all-member-edit [back]="[this,'editThis']" [detail]="detail"></app-all-member-edit>
</div>