<div class="card card-detail">
        <div class="card-header">
            <button class="btn back_button" (click)="backToDetail()"><i class="fa fa-fw fa-angle-left"></i> back</button><h1>{{detail.app_name}}</h1>
            <button class="btn save_button {{loading}}" type="submit" (click)="saveThis()"><i class="fa fa-fw fa-save"></i> 
                <span  *ngIf="!loading">Save</span> 
                <span *ngIf="loading">Loading</span>
            </button>
        </div>
        <div class="card-content">
            <div class="version-detail">
                <div class="row">
                 <div class=" col-md-8" >
                     <div class="card mb-3">
                         <div class="card-header"><h2> Version Details </h2></div>
                         <div class="card-content">
                             <div class="col-md-12">
                                 <label>Versioning ID</label>
                                 <form-input  name="_id" [disabled]="true" [type]="'text'" [(ngModel)]="detail._id" autofocus required></form-input>
                 
                                 <label>Organization ID</label>
                                 <form-input name="org_id" [disabled]="true" [type]="'text'" [(ngModel)]="detail.org_id" autofocus required></form-input>
                 
                                 <label>App Name</label>
                                 <form-input name="app_name" [type]="'text'" [(ngModel)]="detail.app_name" autofocus required></form-input>
                 
                                 <label>Version</label>
                                 <form-input name="version" [type]="'text'"  [(ngModel)]="detail.version" autofocus required></form-input>
                                 
                                 <label>Device</label>
                                 <form-input name="device" [type]="'text'"  [(ngModel)]="detail.device" autofocus required></form-input>

                                 <label>URL</label>
                                 <form-input name="url" [type]="'text'" [(ngModel)]="detail.url" autofocus required></form-input>

                                 <label>Active</label>
                                 <form-input name="active" [type]="'number'" [(ngModel)]="detail.active" autofocus required></form-input>
                                
                                 <label>Build</label>
                                 <form-input name="build" [type]="'text'" [(ngModel)]="detail.build" autofocus required></form-input>
                             </div>
                             <div *ngIf="errorLabel!==false">
                                    {{errorLabel}}
                            </div>
                     </div>
                    </div>
                </div>
             </div>
        </div>
    </div>