<div *ngIf="!edit" class="card card-detail">
    <div class="card-header">
        <button class="btn back_button" (click)="backToTable()"><i class="fa fa-fw fa-angle-left"></i> back</button><h1>{{detail.org_id}}</h1>
        <button class="btn edit_button" (click)="editThis()"><i class="fa fa-fw fa-pencil-alt"></i> edit</button>
    </div>
    <div class="card-content">
        <div class="points-campaign-detail">
    
            <div class="row">
             <div class=" col-md-8" >
                 <div class="card mb-3">
                     <div class="card-header"><h2> Points Group Details </h2></div>
                     <div class="card-content">
                         <div class="col-md-12">
                             <label>Organization ID</label>
                             <div name="org_id">{{detail.org_id}}</div>
                            
                             <label>Campaign Name</label>
                             <div name="campaign_name" >{{detail.campaign_name}}</div>
             
                             <label>Merchant Name</label>
                             <div name="merchant_name">{{detail.merchant_name}}</div>
             
                             <label>Merchant ID</label>
                             <div name="merchant_id">{{detail.merchant_id}}</div>
             
                             <label>Campaign Description</label>
                             <div name="campaign_description">{{detail.campaign_description}}</div>

                         </div>
                       
                      </div>
                 </div>
                </div>
                <div class=" col-md-4" >
                 <div class="card mb-3">
                     <div class="card-header"><h2>Validity</h2> </div>
                     <div class="card-content">
                         <div class="col-md-12">
                            <label>Start Date</label>
                            <div name="start_date">{{detail.start_date}}</div>

                            <label>End Date</label>
                            <div name="end_date">{{detail.end_date}}</div>

                            <label>Status</label>
                            <div name="status">{{detail.status}}</div>
                             
                         </div>
                       
                      </div>
                 </div>
                 
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12 bg-delete"><button class="btn delete-button float-right btn-danger" (click)="deleteThis()">delete this</button></div>
            </div>
            
         </div>
    </div>
</div>
<div *ngIf="edit">
    <app-points-campaign-edit [back]="[this, 'editThis']" [detail]="detail" [merchantList]="merchantList"></app-points-campaign-edit>
</div>