* {
  -webkit-transition: margin-left 0.2s ease-in-out;
  -moz-transition: margin-left 0.2s ease-in-out;
  -ms-transition: margin-left 0.2s ease-in-out;
  -o-transition: margin-left 0.2s ease-in-out;
  transition: margin-left 0.2s ease-in-out;
  font-family: "Poppins", sans-serif;
  // font-weight: 200;
}
.pb-framer {
  text-align: center;
  position: relative;
  height: 25px;
  color: #e67e22;
  .progressbar {
    overflow: hidden;
    background: #3498db;
    position: absolute;
    height: 25px;
    z-index: -1;
  }
  .terminated.progressbar {
    background-color: red;
  }
  .clr-white {
    color: white;
  }
}
.center-text {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.genuine {
  background-color: #fb9224;
  color: white;
  text-align: center;
}
.official {
  background-color: #f45905;
  color: white;
  text-align: center;
}
.body-area {
  background-color: #e7f1f9;
  font-size: 10px;
  color: black;
  font-weight: bold;
  height: 350px;
  ul {
    padding: 0;
    margin: 0;
    line-height: 2;
    li {
      background-image: url("/src/assets/images/icon_list.svg") no-repeat left top;
    }
  }
  .card-body-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button-container {
    button.btn.btn-2 {
      width: calc(100% - 40px);
      position: absolute;
      bottom: 80px;
      left: 20px;
    }
    button.btn.btn-1 {
      width: calc(100% - 40px);
      position: absolute;
      bottom: 20px;
      left: 20px;
      border-radius: 5px;
    }

    button > img {
      width: auto;
      height: 30px;
      padding-right: 5px;
      padding-bottom: 5px;
    }
  }
}
.container-all {
  background: #f8f8f8;
  height: 100%;
  width: 100%;
  padding: 5vh 3vw;

  .save-container {
    margin: 1% 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    .save {
      width: 35%;
      outline: none;
      height: 60px;
      color: white;
      background-color: #ff7301;
    }
  }
  .col-md-12 {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 16px -6px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 16px -6px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 16px -6px rgba(0, 0, 0, 0.5);
    vertical-align: middle;
    padding-bottom: 7vh;
    background: white;
    width: 100%;
    .title {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: 2vh;
      margin-left: 2vw;
      img {
        width: 40px;
      }
      .text {
        font-size: 30px;
        font-weight: bold;
        margin-left: 10px;
      }
    }
    .section {
      width: 100%;
      height: 100%;
      .section-header {
        display: flex;
        justify-content: center;
        align-items: center;
        .section-title {
          width: 100%;
          text-align: center;
          font-size: 20px;
          font-weight: bold;
        }
      }
      .left-section-upload {
        justify-content: flex-start !important;
      }
      .section-upload {
        margin-top: 5vh;
        width: 100%;
        align-items: center;
        .col-md-3 {
          text-align: center;
          font-size: 14px;
          margin-top : 4vh;
          margin-bottom: 4vh;
          .card {
            margin-top: 3vh;
            height: 300px;
            border: none;
            .card-content {
              height: 100%;
              position: relative;
              .upload-desc {
                color: #bbb !important;
                text-align: center;
                font-size: 14px;
              }
              .logo-upload {
                width: 100px;
              }
              .image {
                display: block;
                float: left;
                height: auto;
                width: 100%;
                height: 100%;
                .custom {
                  height: 100%;
                  background-color:#eee;
                  border-radius: 10px;
                  border: 3px solid #ebebeb;
                  justify-content: center;
                  align-items: center;
                  display: flex;
                  flex-direction: column;
                  padding: 40px;
                  .drag-drop {
                    font-size: 10px;
                    text-align: center;
                  }
                  .set-opacity {
                    opacity: 0.1;
                    height: 60px;
                    width: auto;
                  }
                }
              }
            }
            .form-group.uploaded {
              position: relative;
              margin-bottom: 0px;
              height: 100%;
              .loading {
                height: 100%;
                .sk-fading-circle {
                  top: 50%;
                }
              }
              .uploaded-image {
                height: 100%;

                .img {
                  height: 100%;
                  width: 100%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
                .img > img {
                  width: 100%;
                  max-height: 320px;
                }
                .editor-tool {
                  height: 100%;
                }
              }
            }
          }
        }

        .col-md-4 {
          text-align: center;
          
          .card {
            margin-top: 3vh;
            height: 300px;
            border: none;
            .card-content {
              height: 100%;
              position: relative;
              .upload-desc {
                color: #bbb !important;
                text-align: center;
                font-size: 14px;
              }
              .logo-upload {
                width: 100px;
              }
              .image {
                display: block;
                float: left;
                height: auto;
                width: 100%;
                height: 100%;
                .custom {
                  height: 100%;
                  background-color: #eee;
                  border-radius: 10px;
                  justify-content: center;
                  border: 3px solid #ebebeb;
                  align-items: center;
                  display: flex;
                  flex-direction: column;
                  padding: 40px;
                  .drag-drop {
                    font-size: 10px;
                    text-align: center;
                  }
                  .set-opacity {
                    opacity: 0.1;
                    height: 60px;
                    width: auto;
                  }
                }
              }
            }
            .form-group.uploaded {
              position: relative;
              margin-bottom: 0px;
              height: 100%;
              .loading {
                height: 100%;
                .sk-fading-circle {
                  top: 50%;
                }
              }
              .uploaded-image {
                height: 100%;

                .img {
                  height: 100%;
                  width: 100%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
                .img > img {
                  width: 100%;
                  max-height: 320px;
                }
                .editor-tool {
                  height: 100%;
                }
              }
            }
          }
        }
      }
      .row {
        justify-content: center;
      }
    }
  }
  .container-upgrade {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    height: 100%;
    padding: 5%;
    background: white;
    -webkit-box-shadow: 0px 0px 16px -6px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 16px -6px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 16px -6px rgba(0, 0, 0, 0.5);

    .upgrade-page-bg {
      width: 50%;
    }
    .upgrade-page-bg > img {
      width: 100%;

      height: auto;
    }
    .upgrade-page-success {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .image-success {
        width: 40px;
        margin-bottom: 20px;
        height: auto;
        align-self: center;
      }
      .header-message {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 30px;
      }
      .body-message {
        text-align: center;
      }
    }
    .upgrade-page-form {
      width: 45%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      .form-title {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 30px;
      }

      .upload-form {
        border: 1px solid #ddd;
        height: 100%;
        border-radius: 20px;
        padding: 20px;
        .col-md-6 {
          .card {
            border: none;
            .card-header {
              font-size: 13px;
              border-top-left-radius: 10px;
              border-top-right-radius: 10px;
            }
            .card-body {
              border-bottom-left-radius: 10px;
              border-bottom-right-radius: 10px;
            }
          }
        }
        button {
          border: none;
        }
        .upgrade-button {
          width: 100%;
          background: white;
          color: blue;
          font-weight: bold;
          border: 3px solid blue;
          border-radius: 40px;
          height: 60px;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        }
        .upgrade-button:hover {
          width: 100%;
          background: blue;
          color: white;
          cursor: pointer;
          font-weight: bold;
          border: 3px solid blue;
          border-radius: 40px;
          height: 60px;
        }
        
      }
    }
  }
}

@media (max-width: 1000px) {
  .container-all {
    .container-upload {
      .title {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .container-upgrade {
      .upgrade-page-bg {
        display: none;
      }
      .upgrade-page-form {
        width: 100%;
      }
    }
  }
}
