<div [@routerTransition]>
       
  <app-page-header [heading]="'Add New Payment Gateway'" [icon]="'fa-table'"></app-page-header>
  
 <div>
    <form #form="ngForm" (ngSubmit)="formSubmitAddPaymentGateway(form.value)">
      <div class="col-md-6">
          <label>Name</label>
          <form-input name="name" [type]="'text'" [placeholder]="'Name'"  [(ngModel)]="name" autofocus required></form-input>
          <label>Alias</label>
          <form-input name="alias" [placeholder]="'Alias'"  [type]="'text'" [(ngModel)]="alias" required></form-input>
          <label>Service</label>
          <form-input name="service" [placeholder]="'Service'"  [type]="'text'" [(ngModel)]="service" required></form-input>
          <label>Logo</label>
          <form-input name="logo" [placeholder]="'Logo'"  [type]="'text'" [(ngModel)]="logo" required></form-input>
      </div>
        
        <button class="btn" type="submit">Submit</button> 
      </form>
 </div>
 
</div>

 