*{
    font-family: 'Poppins', sans-serif;
}
$topnav-background-color: #fff;
:host {
    display: block;
}



.open-login{
    position: absolute;
    left: calc(50vw - 100px);
    top: calc(50vh + 130px);
    z-index: 1;
    width: 200px;
    background: #014d82;
    color:white;
    border-radius: 25px;
    border: 2px solid #014372;
}
.open-login:hover{
    background: #049acd;
    border: 2px solid #015a90;
}
.right-text{
    letter-spacing: 0.1em;
    font-size: 1em;
    line-height: 1.2em;
    text-align: center;
    font-weight: 700;
    display: block;
    color: #efdcd3;
    width: 230%;
    font-family: "league spartan";
}
.row{
    height: 100%;
    width: 100%;
}
.left-bg{
    position: absolute;
    background-image: url("/assets/images/malte-wingen-PDX_a_82obo-unsplash-mini.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    left: 0px;
    width: 50vw;
    height: 100vh;
    top: 0px;
    z-index: 0;
}
.right-pane{
    background-color: #1c1c1c;
    right: 0px;
    width: 50vw;
    height: 100vh;
    top: 0px;
    display: flex;
    position: absolute;
    z-index: 0;
    justify-content: center;
    align-items: center;
    h1{
        color:white;
        width: calc(50vw - 230px);
        transform: translateY(10%);
        text-align: right;
        margin: 0px 0px;
    }
}

.login-logo, .login-form{
    position: absolute;
    z-index: 1;
    width: 200px;
    height: 200px;
    left: calc(50vw - 100px);
    top: calc(50vh - 100px);
    padding: 10px;
    border-radius: 100px;
    background: #1c1c1c;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease 1s all 0s;
    .avatar{
        position: relative;
        transition: ease 1s all 0s;
        opacity: 1;
        transform: scale(1);
        img{
            max-width:100%;
            width: 120px;
            height: auto;
        }
    }
}

.login-logo.true, .login-form.true{
    border-radius: 25px;
    width: 350px;
    height: 200px;
    left: calc(50vw - 175px);
    top: calc(50vh - 125px);
    transform: scale(1);
    opacity: 1;
    .avatar{
        transform: scale(0);
        opacity: 0;
    }
    .form-content{
        padding: 10px 0;
        width: calc(100% - 50px);
        .form-group:nth-child(2){
            margin-bottom: 0px;
        }
        .error{
            font-size: 12px;
            color: #e74c3c;
            padding-top: 10px;
        }
    }
}

.login-form{
    transform: scale(0);
    z-index: 2;
    background: transparent;
    opacity: 0;
    transition: ease 1s all 0s;
    color: white;
}

.col-md-5{
    padding-top: 280px;
    padding-right: 150px;
    padding-left: 100px;
    padding-bottom: 150px;
}

.login-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: $topnav-background-color;
    text-align: center;
    color: black;
    // padding: 3em;
    .col-lg-4 {
        padding: 0;
    }
    .input-lg {
        height: 46px;
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.3333333;
        border-radius: 0;
    }
    .input-underline {
        background: 0 0;
        border: none;
        box-shadow: none;
        border-bottom: 2px solid rgba(255, 255, 255, 0.5);
        color: #fff;
        border-radius: 0;
    }
    .input-underline:focus {
        border-bottom: 2px solid #fff;
        box-shadow: none;
    }
    

    h1 {
        font-size: 40px;
    }
    h2{
        font-size: 50px;
    }

    background-image {
        opacity: 0.4;
        filter: alpha(opacity=40); /* For IE8 and earlier */
    }
    .form-group {
        padding: 8px 0;
        // input::-webkit-input-placeholder {
        //     color: rgba(255, 255, 255, 0.6) !important;
        // }

        // input:-moz-placeholder {
        //     /* Firefox 18- */
        //     color: rgba(255, 255, 255, 0.6) !important;
        // }

        // input::-moz-placeholder {
        //     /* Firefox 19+ */
        //     color: rgba(255, 255, 255, 0.6) !important;
        // }

        // input:-ms-input-placeholder {
        //     color: rgba(255, 255, 255, 0.6) !important;
        // }
    }
    .form-content {
        padding: 40px 0;
    }
    .user-avatar {
        -webkit-border-radius: 50%;
        border-radius: 0px;
        width: 200px;
        // border: 2px solid #fff;
    }
}

footer {
    position: absolute;
    bottom: 0;
    right: 0px;
    width: 50vw;
    color: white;
    font-size: 12px;
    text-align: center
 }

 #login-text{
     text-align: left;
     font-size: 30px;
 }

 .text-left{
    text-align: left;
}

.fa-spinner {
    font-family: "Font Awesome 5 Free";
}