<form #form="ngForm" (ngSubmit)="formSubmitAddMember(form.value)" >
<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="login-logo {{loginOpened}}" >
            <div class="avatar">
                <img src="assets/images/reals-logo.png" class="user-avatar" />
            </div>
        </div>
        <div class="login-form {{loginOpened}}">

                        <div class="form-content">
                            <div class="form-group">
                                <!-- <h6 style="text-align: left">Email</h6> -->
                                <input class="form-control" name="username" placeholder="username" type="text" [(ngModel)]="username" required/>

                            </div>
                            <div class="form-group">
                                <!-- <h6 style="text-align: left">Password</h6> -->
                                <input class="form-control" name="password" placeholder="password"  type="password"
                                    [(ngModel)]="password" required/>
                            </div>
                            <div class="error" *ngIf="errorLabel!==false">
                                {{errorLabel}}
                            </div>
                        </div>

                        <!-- <a class="btn rounded-btn" type="submit" [routerLink]="['/login']"> Login </a> -->
                        <!--<a class="btn rounded-btn" [routerLink]="['/signup']"> Register </a>-->
        </div>
        <button *ngIf="isLoading == false" class="btn rounded-btn open-login" type="submit" >Login</button>&nbsp;
        <button *ngIf="isLoading == true" class="btn rounded-btn open-login" type="submit" ><i class="fa fa-spinner fa-pulse"></i></button>&nbsp;
        <div class="col-md-6 left-bg" [ngStyle]="{'background-image': choosenImage.img}">
            &nbsp;
        </div>
        <div class="col-md-6 right-pane">
            <h1 [innerHTML]="choosenImage.text"></h1>
            <!-- <h1 id="login-text"><b>Login</b></h1>
            <form #form="ngForm" (ngSubmit)="formSubmitAddMember(form.value)" class="login-form">
                <div class="form-content">
                    <div class="form-group">
                        <h6 style="text-align: left">Email</h6>
                        <form-input name="email" [placeholder]="'Email'" [type]="'text'" [(ngModel)]="email" required>
                        </form-input>
                    </div>
                    <div class="form-group">
                        <h6 style="text-align: left">Password</h6>
                        <form-input name="password" [placeholder]="'Password'" [type]="'password'"
                            [(ngModel)]="password" required></form-input>
                    </div>
                    <div *ngIf="errorLabel!==false">
                        {{errorLabel}}
                    </div>
                </div>
                <button class="btn rounded-btn" type="submit" [disabled]="form.pristine"
                    (click)="formSubmitAddMember(form.value)">Login</button>&nbsp; -->

                <!-- <a class="btn rounded-btn" type="submit" [routerLink]="['/login']"> Login </a> -->
                <!--<a class="btn rounded-btn" [routerLink]="['/signup']"> Register </a>-->
            <!-- </form> -->

        </div>
    </div>
</div>
</form>

<footer class="footer">
    <p>Copyright © 2019 PT CLS System. All rights reserved </p>
</footer>
