<div class="sidebar">
    <!-- <div class="item">
        <a routerLink="./add" [routerLinkActive]="['router-link-active']" class="add btn btn-primary"> <i
            class="fa fa-plus"></i>
            <span class="value">&nbsp;New Product</span>
            
        </a>
    </div> -->
    <!-- <div class="item" *ngFor="let item of sidebarMenu ">
        <a [routerLink]="item.router_link" [routerLinkActive]="['router-link-active']" class="btn sidebar-btn"
           (click)="item.func()" style="width: 100% !important;"> 
           <span [innerHTML]="item.icon" style="font-size: 35px;"></span>
                <br>
                <span class="new-line">{{item.label}}</span>
        </a>
    </div> -->
    <div class="item" *ngFor="let item of sidebarMenu ">
      
        <a [routerLink]="item.router_link" [routerLinkActive]="['router-link-active']" class="btn sidebar-btn flexs"
           (click)="item.func()" style="width: 100% !important;"> 
           <span [innerHTML]="item.icon" style="font-size: 35px;"></span>
           <!-- <mat-icon [svgIcon]="item.icons"></mat-icon> -->
           <!-- <span>Icon 3</span> -->
                <span class="new-line">{{item.label}}</span>
        </a>
    </div>

</div>
